{% extends model('component') %}

{% define config = {
    name: 'cart-item-note',
    tag: 'cart-item-note',
} %}

{% define data = {
    form: {},
    canWrite: required,
    label: '',
    note: '',
    isNoteNotEmpty: null,
    isTitleVisible: true,
    ajaxTriggerAttribute: null,
} %}

{% define attributes = {
    'class-to-toggle': 'is-hidden',
} %}

{% block body %}

    {% set title = data.label is not empty ? data.label : 'cart_note.form.comment' %}
    {% set note = data.note is not empty ? data.note : data.form.vars.value.cartNote %}
    {% set isNoteNotEmpty = data.isNoteNotEmpty is not null ? data.isNoteNotEmpty : (data.form.vars.value.cartNote is not null and data.form.vars.value.cartNote is not empty) %}

    {% if data.canWrite or isNoteNotEmpty %}
        {% if isNoteNotEmpty and data.isTitleVisible %}
            <h6 class="{{ config.name }}__title">{{ title | trans }}:</h6>
        {% endif %}

        <div class="{{ config.name }}__container">

            {% if isNoteNotEmpty %}
                <div class="{{ config.name }}__text-wrap {{ config.jsName }}__text-wrap">
                    <div class="{{ config.name }}__text">{{ note | nl2br }}</div>

                    {% if data.canWrite %}
                        {% include molecule('cart-item-note-actions', 'CartNoteWidget') with {
                            data: {
                                buttons: [{
                                    class: 'link link--icon ' ~ config.jsName ~ '__edit',
                                    icon: 'edit',
                                    text: 'customer.profile.address.edit' | trans
                                },
                                {
                                    class: 'link link--icon ' ~ config.jsName ~ '__remove',
                                    icon: 'delete',
                                    text: 'cart.delete.item' | trans
                                }]
                            }
                        } only %}
                    {% endif %}
                </div>
            {% endif %}

            {% if data.canWrite %}
                {% set jsModifier = data.form.vars.value.groupKey | replace({"." : ""}) %}

                <div class="{{ config.name }}__form {{ config.jsName }}__form {{ config.jsName }}__form--{{ jsModifier }} {% if isNoteNotEmpty %}is-hidden{% endif %}">
                    <h6 class="{{ config.name }}__label toggler-accordion__item {{ config.jsName }}__trigger {% if isNoteNotEmpty %}active{% endif %}" data-toggle-target='.{{ config.jsName }}__content--{{ jsModifier }}'>
                        {{ 'cart_note.form.add_comment' | trans }}
                        <span class="icon icon--toggler-cross icon--toggler-cross-link toggler-accordion__icon"></span>
                    </h6>
                    <div class="{{ config.name }}__content {{ config.jsName }}__content {{ config.jsName }}__content--{{ jsModifier }} {% if not isNoteNotEmpty %}is-hidden{% endif %}">
                        {% include molecule('form') with {
                            data: {
                                form: data.form,
                                options: {
                                    action: url(data.ajaxTriggerAttribute ? 'cart-note/item/async/add' : 'cart-note/item'),
                                },
                                submit: {
                                    enable: true,
                                    text: 'cart_note.form.save' | trans,
                                    attributes: data.ajaxTriggerAttribute,
                                },
                            },
                        } only %}
                    </div>
                </div>

                {% include molecule('toggler-accordion') with {
                    attributes: {
                        'wrap-class-name': config.jsName ~ '__form--' ~ jsModifier,
                        'trigger-class-name': config.jsName ~ '__trigger',
                    },
                } only %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
