{% extends model('component') %}

{% define config = {
    name: 'mini-cart-detail',
} %}

{% define data = {
    cart: required,
    total: data.cart.totals.grandTotal | default(0),
} %}

{% set itemCount = data.cart.items | length %}

{% block body %}
    <div class="grid grid--middle grid--justify grid--nowrap grid--gap">
        <div class="col col--sm-9">
            <div class="grid grid--middle grid--nowrap">
                <div class="col">
                    {% include molecule('mini-cart-radio', 'MultiCartWidget') with {
                        class: 'spacing-right',
                        data: {
                            idCart: data.cart.idQuote,
                            isDefault: data.cart.isDefault,
                        }
                    } only %}
                </div>
                <div class="col col--mobile-expand">
                    {% if data.cart.isDefault %}
                        <a class="{{ config.name }}__title grid grid--nowrap" href="{{ path('cart') }}">
                            <strong class="col {{ config.name }}__name">{{ data.cart.name }}</strong>
                            <span class="col {{ config.name }}__marker">
                                ({{ 'multi_cart_widget.cart.default' | trans }})
                            </span>
                        </a>
                    {% else %}
                        <a class="{{ config.name }}__title" href="{{ path('multi-cart/set-default', {idQuote: data.cart.idQuote}) }}">
                            <strong class="{{ config.name }}__name">{{ data.cart.name }}</strong>
                        </a>
                    {% endif %}
                    <div class="{{ config.name }}__info">
                        {% widget 'ProductBundleItemCounterWidget' args [data.cart] with {
                            configName: config.name
                        } only %}
                            {% block body %}
                                <span class="{{ configName }}__quantity">
                                    {{ parent() }}
                                </span>
                            {% endblock %}
                        {% endwidget %}
                        <span class="spacing-right spacing-right--big">
                            {% widget 'SharedCartPermissionGroupWidget' args [data.cart] only %}{% endwidget %}
                        </span>

                        {% if data.cart.priceMode is not empty %}
                            {% include molecule('price-mode') with {
                                class: config.name ~ '__price-mode',
                                modifiers: ['small'],
                                data: {
                                    priceMode: data.cart.priceMode
                                }
                            } only %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col col--sm-3 text-right">
            <span class="{{ config.name }}__price {{ data.cart.isDefault ? config.name ~ '__price--active' : '' }}">
               {{ data.total | money(true, data.cart.currency.code) }}
            </span>
        </div>
    </div>
{% endblock %}
