{% extends template('widget') %}

{% block reorderAction %}
    {% include molecule('table-action-link') with {
        class: 'link link--alt link--action',
        data: {
            url: path('customer/order/reorder', {'idSalesOrder': _widget.order.idSalesOrder}),
            icon: 'cart',
            title: 'customer.order.reorder',
            iconModifier: 'big'
        }
    } only %}
{% endblock %}

{% block formStart %}
    <customer-reorder class="custom-component customer-reorder">
        <form action="{{ path('customer/order/reorder-items') }}" method="post">
            <input type="hidden" name="id" value="{{ _widget.order.idSalesOrder }}" />
{% endblock %}

{% block formCheckbox %}
    {% embed atom('checkbox') with {
        attributes: {
            name: 'items[]',
            disabled: not _widget.availability,
            value: _widget.item.idSalesOrderItem
        }
    } only %}
        {%- block inputClass -%}
            js-customer-reorder__selection
        {%- endblock -%}
    {% endembed %}
{% endblock %}

{% block formActions %}
    <div class="grid grid--middle grid--right spacing-top spacing-top--biggest">
        <div class="col col--sm-12 col--lg-3 spacing-x spacing-x--inner spacing-x--small">
            <button class="button button--tight button--expand button--hollow js-customer-reorder__trigger spacing-bottom" {% if not _widget.availability %}disabled{% endif %}>
                {{'customer.order.reorder_selected' | trans}}
            </button>
        </div>
        <div class="col col--sm-12 col--lg-3 spacing-x spacing-x--inner spacing-x--small">
            <a href="{{ path('customer/order/reorder', {'idSalesOrder': _widget.order.idSalesOrder}) }}" class="button button--tight button--expand spacing-bottom">
                {{ 'customer.order.reorder_all' | trans }}
            </a>
        </div>
    </div>
{% endblock %}

{% block formEnd %}
        </form>
    </customer-reorder>
{% endblock %}
