{% extends molecule('quote-table', '@SprykerShop:MultiCartPage') %}

{% macro duplicateButton(name) %}
    <button class="link link--alt link--action {{ name }}__duplicate-button">
        {% include molecule('table-action-span') with {
            modifiers: ['tight', 'full-height'],
            class: 'link link--alt link--action',
            data: {
                icon: 'duplicate',
                title: 'page.multi_cart.shopping_cart.list.link.duplicate',
            },
        } only %}
    </button>
{% endmacro %}

{% block body %}
    <table class="table table--grid table--expand table--responsive spacing-bottom spacing-bottom--smaller">
        <thead>
            <tr class="active">
                <th>{{ 'page.multi_cart.shopping_cart.list.label.name' | trans }}</th>
                {% set cartListPermissionGroupWidget = findWidget('CartListPermissionGroupWidget', [data.quotes|first, isQuoteDeletable]) %}
                {% if cartListPermissionGroupWidget is defined and cartListPermissionGroupWidget.isSharingAllowed %}
                    <th>{{ 'page.multi_cart.shopping_cart.list.label.access' | trans }}</th>
                {% endif %}
                <th>{{ 'page.multi_cart.shopping_cart.list.label.num_of_products' | trans }}</th>
                <th>{{ 'page.multi_cart.shopping_cart.list.label.prices' | trans }}</th>
                <th>{{ 'page.multi_cart.shopping_cart.list.label.total' | trans }}</th>
                {% if widgetGlobalExists('QuoteApprovalStatusWidget') %}
                    <th>{{ 'quote_approval_widget.cart.status' | trans }}</th>
                {% endif %}
                {% if showActions %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for quote in data.quotes %}
                {% set totals = quote.items | length %}
                {% set isQuoteEditable = can('WriteSharedCartPermissionPlugin', quote.idQuote) %}
                <tr>
                    <td class="transform-cell spacing-top spacing-top--inner spacing-top--big" data-content="{{ 'page.multi_cart.shopping_cart.list.label.name' | trans }}">
                        {% set defaultSubmitButton %}
                            <button class="{{ config.name }}__cart-name{% if quote.isDefault %} {{ config.name }}__cart-name--active{% endif %}">{{ quote.name }}</button>
                        {% endset %}

                        {% if quote.isDefault %}
                            <a href="{{ url('cart') }}">
                                {{ quote.name }}
                            </a>
                        {% elseif data.multiCartSetDefaultFormClone %}
                            {% set multiCartSetDefaultForm = data.multiCartSetDefaultFormClone.getForm.createView %}

                            {{ form_start(multiCartSetDefaultForm, {'action': path('multi-cart/set-default', {'idQuote': quote.idQuote}) }) }}
                                {{ defaultSubmitButton }}
                            {{ form_end(multiCartSetDefaultForm) }}
                        {% else %}
                            {% set formName = 'multiCartSetDefaultForm_' ~ loop.index %}

                            <form id="{{ formName }}" name="{{ formName }}" method="POST" action="{{ path('multi-cart/set-default', {'idQuote': quote.idQuote}) }}">
                                <input type="hidden" name="multi_cart_set_default_form[_token]" value="{{ csrf_token('multi_cart_set_default_form') }}">
                                {{ defaultSubmitButton }}
                            </form>
                        {% endif %}
                    </td>
                    {% widget 'CartListPermissionGroupWidget' args [quote, isQuoteDeletable] only %}
                        {% block body %}
                            <td class="transform-cell" data-content="{{ 'page.multi_cart.shopping_cart.list.label.access' | trans }}">
                                {{ parent() }}
                            </td>
                        {% endblock %}
                    {% endwidget %}
                    <td class="transform-cell" data-content="{{ 'page.multi_cart.shopping_cart.list.label.num_of_products' | trans }}">
                        {% widget 'ProductBundleItemCounterWidget' args [quote] only %}
                            {% block body %}
                                <span class="badge badge--multi-cart">
                                    {{ parent() }}
                                </span>
                            {% endblock %}
                        {% nowidget %}
                            {% set label = (totals == 1)
                                ? 'page.multi_cart.shopping_cart.list.label.item'
                                : 'page.multi_cart.shopping_cart.list.label.items'
                            %}

                            <span class="badge cart-items-quantity">{{ totals | executeFilterIfExists('formatInt', app.locale) }} {{ label | trans }}</span>
                        {% endwidget %}
                    </td>
                    <td class="transform-cell" data-content="{{ 'page.multi_cart.shopping_cart.list.label.prices' | trans }}">
                        {% if quote.priceMode is not empty %}
                            {% include molecule('price-mode') with {
                                modifiers: ['secondary'],
                                data: {
                                    priceMode: quote.priceMode,
                                    showIcon: false,
                                },
                            } only %}
                        {% endif %}
                    </td>
                    <td class="transform-cell spacing-bottom spacing-bottom--inner spacing-bottom--big" data-content="{{ 'page.multi_cart.shopping_cart.list.label.total' | trans }}">
                        <strong>{{ quote.totals.grandTotal | default(0) | money(true, quote.currency.code) }}</strong>
                    </td>
                    {% if widgetGlobalExists('QuoteApprovalStatusWidget') %}
                        <td>
                            {% widget 'QuoteApprovalStatusWidget' args [quote] only %}{% endwidget %}
                        </td>
                    {% endif %}
                    {% if showActions %}
                        <td>
                            <ul class="menu grid grid--stretch grid--justify grid--nowrap grid--gap-smaller">
                                {% if isQuoteEditable %}
                                    {% if data.actions.update %}
                                        <li class="col col--equal menu__item">
                                            {% include molecule('table-action-link') with {
                                                modifiers: ['tight', 'full-height'],
                                                class: 'link link--alt link--action spacing-right spacing-right--reset',
                                                data: {
                                                    url: url('multi-cart/update', { idQuote: quote.idQuote }),
                                                    icon: 'edit',
                                                    title: 'page.multi_cart.shopping_cart.update.title',
                                                },
                                            } only %}
                                        </li>
                                    {% endif %}
                                    {% if data.actions.duplicate %}
                                        <li class="col col--equal menu__item grid grid--stretch">
                                            {% set duplicateFormClass = 'col ' ~ config.name ~ '__duplicate-form' %}
                                            {% import _self as macros %}

                                            {% if data.multiCartDuplicateFormClone %}
                                                {% set multiCartDuplicateForm = data.multiCartDuplicateFormClone.getForm.createView %}

                                                {{ form_start(multiCartDuplicateForm, {'action': path('multi-cart/duplicate', {'idQuote': quote.idQuote}), 'attr': {'class': duplicateFormClass} }) }}
                                                    {{ macros.duplicateButton(config.name) }}
                                                {{ form_end(multiCartDuplicateForm) }}
                                            {% else %}
                                                {% set formName = 'multiCartDuplicateForm_' ~ loop.index %}

                                                <form id="{{ formName }}" class="{{ duplicateFormClass }}" name="{{ formName }}" method="POST" action="{{ path('multi-cart/duplicate', {'idQuote': quote.idQuote}) }}">
                                                    <input type="hidden" name="multi_cart_duplicate_form[_token]" value="{{ csrf_token('multi_cart_duplicate_form') }}">
                                                    {{ macros.duplicateButton(config.name) }}
                                                </form>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endif %}

                                <li class="col col--equal menu__item">
                                    {% include molecule('table-action-link') with {
                                        class: 'link link--alt link--action spacing-right spacing-right--reset',
                                        modifiers: ['tight', 'full-height'],
                                        data: {
                                            url: url('shopping-list/create-from-exist-cart', {idQuote: quote.idQuote}),
                                            icon: 'create-list',
                                            title: 'page.multi_cart.shopping_cart.list.link.add_to_list',
                                            iconModifier: 'create-list',
                                        },
                                    } only %}
                                </li>

                                {% widget 'CartListPermissionGroupWidget' args [quote, isQuoteDeletable] use view('multi-cart-permission-actions', 'SharedCartWidget') only %}
                                {% nowidget %}
                                    <li class="col col--equal menu__item">
                                        {% include molecule('table-action-link') with {
                                            class: 'link link--alt link--action spacing-right spacing-right--reset',
                                            modifiers: ['tight', 'full-height'],
                                            data: {
                                                url: url('multi-cart/confirm-delete', {idQuote: quote.idQuote}),
                                                icon: 'delete',
                                                title: 'page.multi_cart.shopping_cart.list.link.delete',
                                            },
                                        } only %}
                                    </li>
                                {% endwidget %}
                            </ul>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
