{% extends template('page-layout-quote-request', 'QuoteRequestAgentPage') %}

{% define data = {
    title: 'quote_request_page.quote_request' | trans,
    quoteRequest: _view.quoteRequest,
    quoteRequestVersionReferences: _view.quoteRequestVersionReferences,
    version: _view.version,
    isQuoteRequestCancelable: _view.isQuoteRequestCancelable,
    isQuoteRequestRevisable: _view.isQuoteRequestRevisable,
    isQuoteRequestEditable: _view.isQuoteRequestEditable,
} %}

{% set isLatestVersion = (data.version.idQuoteRequestVersion == data.quoteRequest.latestVersion.idQuoteRequestVersion) ? true : false %}
{% set quote = (data.isQuoteRequestEditable and isLatestVersion) ? data.quoteRequest.latestVersion.quote : data.version.quote %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'agent.account.page_title' | trans,
                    url: path('agent/overview'),
                },
                {
                    label: 'quote_request_page.quote_request' | trans,
                    url: path('agent/quote-request')
                },
                {
                    label: '#' ~ data.quoteRequest.quoteRequestReference,
                },
            ],
        },
    } only %}
{% endblock %}

{% block contentClass %}page-layout-main--request-for-quote{% endblock %}

{% block content %}
    <div class="grid grid--gap">
        <div class="col col--sm-12 col--xl-9">
            <div class="grid grid--gap box spacing-bottom spacing-bottom--bigger">
                {% for key, value in data.version.metadata %}
                    <div class="col col--sm-12 col--xl-6">
                        <label class="label">{{ ('quote_request_page.quote_request.metadata.label.' ~ key) | trans }}</label>
                        <p class="text-break">{{ value }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="grid grid--gap">
                <div class="col col--sm-12">
                    {% if quote and quote.priceMode is not empty %}
                        <div class="spacing-bottom spacing-bottom--bigger">
                            {% include molecule('price-mode') with {
                                data: {
                                    priceMode: quote.priceMode,
                                },
                            } only %}
                        </div>
                    {% endif %}
                    {% if quote is not empty %}
                        {% for cartItem in quote.items %}
                            {% include molecule('quote-request-cart-item', 'QuoteRequestPage') ignore missing with {
                                class: 'product-item',
                                data: {
                                    priceMode: quote.priceMode,
                                    cartItem: cartItem,
                                    currency: quote.currency,
                                },
                            } only %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="quote-request-sidebar col col--sm-12 col--xl-3">
            <div class="quote-request-sidebar__item spacing-bottom">
                <p>{{ 'quote_request_page.quote_request.labels.date' | trans }}:
                    <span class="text-secondary">{{ data.quoteRequest.createdAt | formatDateTime }}</span>
                </p>
                <p>{{ 'quote_request_page.quote_request.labels.company' | trans }}:
                    <span class="text-secondary">
                        {{ data.quoteRequest.companyUser.company.name }}
                    </span>
                </p>
                <p>{{ 'quote_request_page.quote_request.labels.business_unit' | trans }}:
                    <span class="text-secondary">{{ data.quoteRequest.companyUser.companyBusinessUnit ? data.quoteRequest.companyUser.companyBusinessUnit.name : '' }}</span>
                </p>
                <p>{{ 'quote_request_page.quote_request.labels.customer' | trans }}:
                    <span class="text-secondary">{{ data.quoteRequest.companyUser.customer.firstName }} {{ data.quoteRequest.companyUser.customer.lastName }}</span>
                </p>
                <p>{{ 'quote_request_page.quote_request.labels.status' | trans }}:
                    <span class="quote-status request-status request-status--{{ data.quoteRequest.status }}">{{ ('quote_request.status.' ~ data.quoteRequest.status) | trans }}</span>
                </p>
                {% if data.quoteRequest.validUntil %}
                    <p>{{ 'quote_request_page.quote_request.labels.valid_till' | trans }}:
                        <span class="text-secondary">{{ data.quoteRequest.validUntil | formatDateTime }}</span>
                    </p>
                {% endif %}
                <p class="grid grid--justify grid--middle">
                    <span class="col col--sm-12 col--md-4">{{ 'quote_request_page.quote_request.labels.history' | trans }}:</span>
                    {% embed atom('select') with {
                        class: 'col col--sm-12 col--md-8',
                        attributes: {
                            name: 'quote-request-versions',
                            onchange: 'this.options[this.selectedIndex].value && (window.location.search = "quote-request-version-reference=" + this.options[this.selectedIndex].value);',
                        },
                        embed: {
                            versionReferences: data.quoteRequestVersionReferences,
                            currentVersionReference: data.version ? data.version.versionReference : null,
                        },
                    } only %}
                        {% block options %}
                            {% for versionReference in embed.versionReferences %}
                                <option value="{{ versionReference }}" {{ (versionReference == embed.currentVersionReference) ? 'selected' : '' }}>{{ versionReference }}</option>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </p>
                {% if isLatestVersion %}
                    {% if data.quoteRequest.isLatestVersionHidden %}
                        <p><strong>{{ 'quote_request_page.quote_request.labels.latest_version_is_hidden' | trans }}</strong></p>
                    {% else %}
                        <p><strong>{{ 'quote_request_page.quote_request.labels.latest_version_is_visible' | trans }}</strong></p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="quote-request-sidebar__item spacing-bottom spacing-bottom--big">
                {% if quote and quote.items is not empty %}
                    {% include molecule('quote-request-cart-summary', 'QuoteRequestPage') ignore missing with {
                        data: {
                            cart: quote,
                        },
                    } only %}
                {% endif %}
            </div>

            <a class="spacing-bottom button button--expand button--hollow" href="{{ url('agent/quote-request') }}">
                {{ 'quote_request_page.quote_request.actions.back_to_list' | trans }}
            </a>

            {% if isLatestVersion %}

                {% if data.isQuoteRequestCancelable %}
                    <a class="spacing-bottom button button--expand button--cancel"
                       href="{{ path('agent/quote-request/cancel', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }) }}">
                        {{ 'quote_request_page.quote_request.actions.cancel' | trans }}
                    </a>
                {% endif %}

                {% if data.isQuoteRequestEditable %}
                    <a class="spacing-bottom button button--expand button--success"
                       href="{{ path('agent/quote-request/edit', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }) }}">
                        {{ 'quote_request_page.quote_request.actions.edit' | trans }}
                    </a>
                    {% if data.quoteRequest.latestVersion.quote.items is not empty %}
                        <a class="spacing-bottom button button--expand button--success"
                           href="{{ path('agent/quote-request/send-to-customer', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }) }}">
                            {{ 'quote_request_page.quote_request.actions.send_to_customer' | trans }}
                        </a>
                    {% endif %}
                {% endif %}

                {% if data.isQuoteRequestRevisable %}
                    <a class="spacing-bottom button button--expand button--hollow"
                       href="{{ path('agent/quote-request/revise', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }) }}">
                        {{ 'quote_request_page.quote_request.actions.revise' | trans }}
                    </a>
                {% endif %}

                {% if data.quoteRequest.status == 'ready' %}
                    <a class="spacing-bottom button button--expand button--success"
                       href="{{ path('agent/quote-request/convert-to-cart', { quoteRequestReference: (data.quoteRequest.quoteRequestReference) }) }}">
                        {{ 'quote_request_page.quote_request.actions.convert_to_cart' | trans }}
                    </a>
                {% endif %}

            {% endif %}
        </div>
    </div>
{% endblock %}
