{% extends model('component') %}

{% define config = {
    name: 'user-table',
    tag: 'div'
} %}

{% define data = {
    users: required,
    actions: {
        update: false,
        delete: false,
        switch: false
    },
    role: null
} %}

{% set showActions = data.actions.update or data.actions.delete %}

{% block body %}
    <table class="table table--expand table--responsive">
        <thead>
            <tr>
                <th>{{ 'company.account.company_user.name' | trans }}</th>
                <th>{{ 'company.account.company_user.business_unit' | trans }}</th>
                <th>{{ 'company.account.company_user.role' | trans }}</th>
                {% if showActions and data.actions.switch %}
                    <th>{{ 'company.account.company_user.enable' | trans }}</th>
                {% endif %}
                {% if showActions %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for user in data.users %}
                {% set companyBusinessUnitName = user.companyBusinessUnit.name | default('') %}
                <tr class="table__row{% if not user.isActive %} table__row--inactive{% endif %}">
                    {% if user.customer.firstName != null and user.customer.lastName != null %}
                        <td class="transform-cell spacing-top spacing-top--inner spacing-top--big" data-content="{{ 'company.account.company_user.name' | trans }}"><strong>{{ user.customer.firstName }} {{ user.customer.lastName }}</strong></td>
                        <td class="transform-cell" data-content="{{ 'company.account.company_user.business_unit' | trans }}">{{ companyBusinessUnitName }}</td>
                        <td class="transform-cell" data-content="{{ 'company.account.company_user.role' | trans }}">
                            {% if data.role is not empty %}
                                {{ data.role.name }}
                            {% elseif user.companyRoleCollection is not empty %}
                                {% for companyUserRole in user.companyRoleCollection.roles %}
                                    {{ not loop.last ? companyUserRole.name ~ ', ' : companyUserRole.name }}
                                {% endfor %}
                            {% endif %}
                        </td>
                        {% if showActions and data.actions.switch %}
                            <td class="transform-cell spacing-bottom spacing-bottom--inner spacing-bottom--big" data-content="{{ 'company.account.company_user.enable' | trans }}">
                                {% set isAllowed = data.currentCompanyUserId != user.idCompanyUser and can('CompanyUserStatusChangePermissionPlugin') %}
                                {% set href = isAllowed ? url('company/company-user-status/' ~ (user.isActive ? 'disable' : 'enable'), {'id': user.idCompanyUser}) : 'javascript:void(0)' %}
                                {% set title = ('company.account.company_user.' ~ (user.isActive ? 'disable' : 'enable')) | trans %}
                                {% include atom('switch') with {
                                    modifiers: user.isActive ? ['active'] : [],
                                    attributes: {
                                        href: href,
                                        title: title,
                                        disabled: not isAllowed
                                    }
                                } only %}
                            </td>
                        {% endif %}
                        {% if showActions %}
                            <td class="table__actions">
                                {% include molecule('table-action-list') with {
                                    data: {
                                        items: [
                                            {
                                                url: url('company/user/update', {'id': user.idCompanyUser}),
                                                icon: 'edit',
                                                title: 'company.account.company_user.edit',
                                                available: data.actions.update
                                            },
                                            {
                                                url: url('company/user/confirm-delete', {'id': user.idCompanyUser }),
                                                icon: 'delete',
                                                title: 'company.account.company_user.delete',
                                                available: (data.currentCompanyUserId != user.idCompanyUser) and data.actions.delete
                                            }
                                        ]
                                    }
                                } only %}
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
