{% extends model('component') %}
{% import _self as component %}

{% define config = {
    name: 'header',
    tag: 'header',
} %}

{% define data = {
    showSearchForm: true,
    showNavigation: true,
    user: app['user'],
    showUserMenu: not (hideUserMenu | default(false)),
    cartQuantity: functionExists('getCartQuantity') ? getCartQuantity() : (cartQuantity is defined ? cartQuantity : app['cart.quantity'] | default),
    isAjaxMode: false,
    ajaxCartUrl: '',
} %}

{% block body %}
    <div class="{{ component.renderClass(config.name ~ '__top', modifiers) }}">
        {% include organism('navigation-top') with {
            class: 'grid grid--justify grid--stretch container',
        } only %}
    </div>

    <div class="{{ component.renderClass(config.name ~ '__main', modifiers) }}">
        {% block headerMainContent %}
            <div class="grid grid--middle container">
                <div class="col {{ config.name }}__actions">
                    <div class="grid">
                        <div class="col {{ config.name }}__actions-item">
                            <button class="link link--alternative js-page-layout-main__side-drawer-trigger">
                                {% include atom('icon') with {
                                    data: {
                                        name: 'bars',
                                    },
                                } only %}
                            </button>
                        </div>
                        <div class="col {{ config.name }}__actions-item {{ config.name }}__actions-item--search">
                            <button class="link link--alternative {{ config.jsName }}__open-search-trigger">
                                {% include atom('icon') with {
                                    modifiers: ['big'],
                                    data: {
                                        name: 'search',
                                    },
                                } only %}
                            </button>
                        </div>
                    </div>
                </div>

                {% include molecule('logo') with {
                    class: 'col ' ~  config.name ~ '__logo',
                    modifiers: ['main'],
                } only %}

                <div class="col {{ config.name }}__search">
                    {% if data.showSearchForm %}
                        {% embed molecule('search-form') with {
                            class: config.name ~ '__search-form',
                            modifiers: ['main-search'],
                            attributes: {
                                'data-search-id': 'desktop',
                                'open-class-name': config.jsName ~ '__open-search-trigger',
                                'close-class-name': config.jsName ~ '__close-search-trigger',
                            },
                            embed: {
                                jsTriggerSearchClass: config.jsName ~ '__close-search-trigger',
                            },
                        } only %}
                            {% block close %}
                                {{ embed.jsTriggerSearchClass }}
                            {% endblock %}
                        {% endembed %}
                    {% endif %}
                </div>

                {% if is_granted('ROLE_USER') %}
                    {% set businessOnBehalfStatusWidget = findWidget('BusinessOnBehalfStatusWidget', ['']) %}
                    {% set isUserOnBehalf = businessOnBehalfStatusWidget.isOnBehalf %}

                    <div class="col col--right {{ config.name }}__user">
                        <div class="grid grid--gap">
                            {% if can('SeeCompanyMenuPermissionPlugin') %}
                                <div class="col">
                                    <button
                                        class="link link--alternative js-page-layout-main__company-account-navigation-trigger">
                                        {% include atom('icon') with {
                                            modifiers: ['big'],
                                            data: {
                                                name: 'office',
                                            },
                                        } only %}
                                    </button>
                                </div>
                            {% else %}
                                {% if isUserOnBehalf %}
                                    <div class="col">
                                        <a href="{{ path('company/user/select') }}" class="link link--alternative">
                                            {% include atom('icon') with {
                                                modifiers: ['big'],
                                                data: {
                                                    name: 'office',
                                                },
                                            } only %}
                                        </a>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <div class="col">
                                <button
                                    class="link link--alternative js-page-layout-main__user-account-navigation-trigger">
                                    {% include atom('icon') with {
                                        modifiers: ['big'],
                                        data: {
                                            name: 'user',
                                        },
                                    } only %}
                                </button>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div
                    class="col col--right {% if is_granted('ROLE_USER') %} {{ config.name }}__user-nav {% else %} {{ config.name }}__login-wrap {% endif %}">
                    {% if data.showUserMenu %}
                        {% if is_granted('ROLE_USER') %}
                            {% include molecule('user-navigation') with {
                                data: {
                                    user: data.user,
                                    cartQuantity: data.cartQuantity,
                                    isAjaxMode: data.isAjaxMode,
                                    ajaxCartUrl: data.ajaxCartUrl,
                                },
                            } only %}
                        {% else %}
                            <a href="{{ url('login') }}"
                               class="button button--tight button--medium {{ config.name }}__login">{{ 'customer.please_login'|trans }}</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endblock %}
    </div>

    {% if data.showNavigation %}
        <div class="{{ config.name }}__navigation">
            <div class="container">
                {% block navigation %}
                    {% widget 'NavigationWidget' args ['MAIN_NAVIGATION', 'navigation-main'] only %}{% endwidget %}
                {% endblock %}
            </div>
        </div>
    {% endif %}
{% endblock %}
