{% extends model('component') %}

{% define config = {
    name: 'new-header',
    tag: 'new-header'
} %}

{% define data = {
    showSearchForm: true,
    showNavigation: true
} %}

{% block body %}   
    
    <div class="container">
        <div class="{{ config.name }}__search-overlay js-suggest-search__overlay">
            <div class="{{ config.name }}__search-overlay-container">
                <div class="{{ config.name }}__search-close js-suggest-search__hide">
                    {% include atom('icon') with {
                        class: config.name ~ '__search-close-icon',
                        data: {
                            name: 'close'
                        }
                    } only %}
                </div>

                {% if data.showSearchForm %}
                    {% include molecule('search-form') with {
                        attributes: {
                            'data-search-id': 'desktop'
                        }
                    } only %}
                {% endif %}
            </div>
    
            <div class="{{ config.name }}__overlay-shadow js-suggest-search__hide"></div>
        </div>

        {% block additionalLink %}{% endblock %}

        <div class="{{ config.name }}__row {{ config.name }}__navigation-top grid grid--middle grid--justify">
            <div class="col col--sm-12 col--lg-4 is-hidden-sm-md">
                {% if data.showSearchForm %}
                    <div class="{{ config.name }}__search-open js-suggest-search__show">
                        {% include atom('icon') with {
                            class: config.name ~ '__search-open-icon',
                            data: {
                                name: 'search'
                            }
                        } only %}
                    </div>
                {% endif %}
            </div>

            <div class="col col--sm-12 col--lg-4">
                {% include molecule('logo') with {
                    modifiers: modifiers,
                    class: 'grid grid--center'
                } only %}
            </div>
            
            <div class="col col--lg-4 is-hidden-sm-md">
                {% if data.showNavigation %}
                    {% include organism('navigation-top1') only %}
                {% endif %}
            </div>
        </div>
        
    </div>
       <div class="{{ config.name }}__row {{ config.name }}__navigation-main grid grid--middle menu grid--center">
        {% block navigation %}
            {% widget 'NavigationWidget' args ['MAIN_NAVIGATION', 'navigation-header'] only %}{% endwidget %}
        {% endblock %}
    </div>
{% endblock %}
