{% extends model('component') %}

{% define config = {
    name: 'active-filter-section',
    tag: 'section'
} %}

{% define data = {
    facets: []
} %}

{%- block class -%}
    {{parent()}} box
{%- endblock -%}

{% block component %}
    {% set activeFilters = [] %}

    {% for filter in data.facets %}
        {% set activeFilter = include(
            [
                molecule('active-filter-' ~ filter.config.name, 'CatalogPage'),
                molecule('active-filter-' ~ filter.config.type, 'CatalogPage')
            ],
            {
                class: config.name ~ '__item',
                data: {
                    filter: filter,
                    min: filter.min | default(0),
                    max: filter.max | default(0),
                    activeMin: filter.activeMin | default(0),
                    activeMax: filter.activeMax | default(0)
                }
            },
            with_context = false,
            ignore_missing = true
        ) %}

        {% if activeFilter | trim is not empty %}
            {% set activeFilters = activeFilters | merge([activeFilter]) %}
        {% endif %}
    {% endfor %}

    {% if activeFilters is not empty %}
        {{parent()}}
    {% endif %}
{% endblock %}

{% block body %}
    <small>{{ 'catalog.filter.activeFilters' | trans }}:</small>
    {{ activeFilters | join | raw }}

    <hr/>

    <div class="text-right">
        <a class="link link--small" href="{{ generateUrlWithoutAllActiveSearchFilters(data.facets) }}">
            {{ 'catalog.filter.resetAllFilters' | trans }} &times;
        </a>
    </div>
{% endblock %}
