{% extends model('component') %}
{% import _self as component %}

{% define config = {
    name: 'select',
    tag: 'label'
} %}

{% define data = {
    options: [],
    isGrouped: false
} %}

{% block attributes %}{% endblock %}

{% block option %}
    {% set isSelected = option.selected | default(false) %}
    {% set isDisabled = option.disabled | default(false) %}

    <option value="{{option.value}}" {% if isSelected %}selected{% endif %} {% if isDisabled %}disabled{% endif %}>
        {{option.label}}
    </option>
{% endblock %}


{% block body %}
    <select class="{{config.name}}__select {% block selectClass %}{% endblock %}" {% block selectAttributes %}{{component.renderAttributes(attributes)}}{% endblock %}>
        {% if not data.isGrouped %}
            {% block options %}
                {% for option in data.options %}
                    {{ block('option') }}
                {% endfor %}
            {% endblock %}
        {% else %}
            {% block optionsGroup %}
                {% for label, optionGroup in data.options %}
                    <optgroup label="{{label}}">
                        {% for option in optionGroup %}
                            {{ block('option') }}
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            {% endblock %}
        {% endif %}
    </select>
    {% block caret %}
        {% include atom('icon') with {
            class: config.name ~ '__caret',
            data: {
                name: 'caret-down'
            }
        } only %}
    {% endblock %}
{% endblock %}
