{% extends molecule('search-cms-results', '@SprykerShop:CmsSearchPage') %}

{% block pageItem %}
    {% set pageUrl = functionExists('generatePath') ? generatePath(page.url) : page.url %}

    <article class="{{ config.name }}__item">
        <div>
            {% block title %}
                <h2 class="{{ config.name }}__title">{{ page.name | raw }}</h2>
            {% endblock %}

            {% block content %}
                {{ parent() }}
            {% endblock %}
        </div>
        <div>
            {% block button %}
                <a href="{{ pageUrl }}" class="button {{ config.name }}__button">
                    {{ 'global.search.results.view' | trans }}
                </a>
            {% endblock %}
        </div>
    </article>
{% endblock %}
