{% extends template('page-layout-shopping-list', 'ShoppingListPage') %}

{% define data = {
    shoppingListCollection: _view.shoppingListCollection,
    shoppingListForm: _view.shoppingListForm,
    shoppingListResponse: _view.shoppingListResponse,
    addShoppingListFormToCartForm: _view.addShoppingListFormToCartForm,
} %}

{% block customerContent %}
    {% embed molecule('form') with {
        data: {
            title: data.title,
            form: data.shoppingListForm,
            submit: {
                enable: true,
                text: 'customer.account.shopping_list.overview.add_new' | trans,
                icon: 'plus',
                class: 'button button--hollow button--form spacing-right spacing-right--reset',
            },
        },
    } only %}
        {% block body %}
            {% if data.enableStart %}
                {{ form_start(data.form, data.options) }}
            {% endif %}

            <div class="{{ config.name }}__container spacing-bottom spacing-bottom--big">
                {% block errors %}
                    {{ parent() }}
                {% endblock %}

                {% block title %}
                    {% if data.title %}
                        <h3>{{ data.title }}</h3>
                    {% endif %}
                {% endblock %}

                <div class="grid grid--bottom grid--gap">
                    <div class="col col--sm-12 col--md-auto col--expand">
                        {% block fieldset %}
                            {{ parent() }}
                        {% endblock %}
                    </div>
                    <div class="col col--sm-12 col--md-auto spacing-bottom">
                        {% block submit %}
                            <button class="{{ config.name }}__action {{ data.submit.class }} button--expand button--mobile-tight" {{ qa(data.submit.qa) }}>
                                {% if data.submit.icon %}
                                    {% include atom('icon') with {
                                        modifiers: ['plus-small'],
                                        class: 'spacing-right spacing-right--small',
                                        data: {
                                            name: data.submit.icon,
                                        },
                                    } only %}
                                {% endif %}
                                {{ data.submit.text }}
                            </button>
                        {% endblock %}
                    </div>
                </div>
            </div>

            {% if data.enableEnd %}
                {{ form_end(data.form) }}
            {% endif %}
        {% endblock %}
    {% endembed %}

    {% if data.shoppingListCollection.shoppingLists | length %}
        {{ form_start(data.addShoppingListFormToCartForm, {'action': path('shopping-list/add-shopping-list-to-cart')}) }}
            {% include molecule('shopping-list-overview-table', 'ShoppingListPage') with {
                data: {
                    shoppingLists: data.shoppingListCollection.shoppingLists,
                    enableTableForm: true,
                    shoppingListResponse: data.shoppingListResponse,
                },
            } only %}
            <button class="button button--success button--expand-sm-lg" {{ qa('submit-button') }}>
                {{ 'customer.account.shopping_list.overview.add_shopping_list_to_cart' | trans }}
                {% include atom('icon') with {
                    class: 'spacing-left spacing-left--small',
                    modifiers: ['trolley'],
                    data: {
                        name: 'cart',
                    },
                } only %}
            </button>
        {{ form_end(data.addShoppingListFormToCartForm) }}
    {% else %}
        {{ 'customer.account.shopping_list.overview.empty' | trans }}
    {% endif %}
{% endblock %}
