{% extends model('component') %}

{% define config = {
    name: 'product-set-cms'
} %}

{% define data = {
    products: required,
    title: '',
    description: '',
    images: [],
    sliderConfig: '{
        "slidesToShow": 2,
        "slidesToScroll": 1,
        "dots": false,
        "infinite": true,
        "loop": true,
        "variableWidth": true
    }'
} %}

{% block body %}
    <div class="common-section__text">
        {% block title %}
            <h2 class="common-section__title">{{data.title}}</h2>
        {% endblock %}
        {% block description %}
            {% if data.description is not empty %}
                {{ data.description }}
            {% endif %}
        {% endblock %}
    </div>
    <div class="grid grid--gap grid--center">
        <div class="col col--xs-12 col--md-6 col--lg-5 spacing-right spacing-right--inner spacing-right--biggest">
            {% block banner %}
                {% embed molecule('banner') with {
                    class: 'spacing-bottom spacing-bottom--reset',
                    modifiers: ['medium'],
                    data: {
                        imageUrl: data.images.0.externalUrlLarge | default([])
                    }
                } only %}
                    {% block body %}
                        <div class="{{config.name}}__container spacing-x spacing-x--reset" style="{{backgroundImage}}"></div>
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        </div>
        <div class="col col--xs-12 col--md-6 col--lg-7">
            {% block productSet %}
                <form method="GET">
                    {% embed molecule('slick-carousel') with {
                        modifiers: ['equal-height', 'product-set'],
                        data: {
                            slides: data.products
                        },
                        attributes: {
                            'slider-config': data.sliderConfig
                        }
                    } only %}
                        {% block slides %}
                            {% for product in data.slides %}
                                {% embed molecule('product-card') with {
                                    class: 'spacing-bottom spacing-bottom--inner spacing-bottom--reset',
                                    modifiers: ['stretch', 'product-set'],
                                    data: {
                                        name: product.name,
                                        abstractId: product.idProductAbstract,
                                        url: product.url,
                                        imageUrl: product.images.0.externalUrlSmall | default,
                                        price: product.price,
                                        originalPrice: product.prices['ORIGINAL'] | default,
                                        category: 'Office Furniture'
                                    }
                                } only %}
                                    {% block content %}
                                        <div class="col col--bottom">
                                            {% block category %}{% endblock %}
                                            {{parent()}}
                                        </div>
                                    {% endblock %}
                                {% endembed %}
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}
