{% extends model('component') %}

{% define config = {
    name: 'action-bar',
    tag: 'nav'
} %}

{% define data = {
    title: '',
    actions: []
} %}

{% block body %}
    <h4 class="{{ config.name }}__title">{{ data.title }}</h4>
    <div class="{{ config.name }}__actions">
        {% block actions %}
            {% for action in data.actions %}
                <a class="button{% if not action.primary | default(false) %} button--hollow{% endif %}" href="{{ action.url }}">
                    {% if action.icon | default(false) %}
                        {% include atom('icon') with {
                            class: config.name ~ '__icon',
                            data: {
                                name: action.icon
                            }
                        } only %}
                    {% endif %}

                    {{ action.title }}
                </a>
            {% endfor %}
        {% endblock %}
    </div>
{% endblock %}
