{% extends model('component') %}
{% import _self as component %}

{% define config = {
    name: 'action-bar',
    tag: 'nav'
} %}

{% define data = {
    title: '',
    actions: [],
} %}

{% block body %}
    <h3 class="{{ component.renderClass(config.name ~ '__title', modifiers, class) }}">
        {{ data.title }}
    </h3>
    <div class="{{ config.name }}__actions">
        {% block actions %}
            {% for action in data.actions %}
                {% set modifiers = (action.modifiers | default((action.primary | default(false)) ? [] : ['hollow'])) %}
                <a {% if action.qa is defined %} data-qa="{{ action.qa }}" {% endif %}class="{{ component.renderClass('button', modifiers) }} {{ config.name }}__action" href="{{ action.url }}">
                    {% if action.icon | default(false) %}
                        {% include atom('icon') with {
                            class: config.name ~ '__icon',
                            data: {
                                name: action.icon
                            }
                        } only %}
                    {% endif %}

                    {{ action.title }}
                </a>
            {% endfor %}
        {% endblock %}
    </div>
{% endblock %}
