{% extends model('component') %}

{% define config = {
    name: 'subscription-info'
} %}

{% define data = {
    title: required,
    text: required,
    togglerClass: required,
} %}

{% block body %}
    <h5 class="title title--subscription {{ data.togglerClass }}__trigger" data-toggle-target=".{{ data.togglerClass }}__target">
        {{ data.title }}
        <span class="icon icon--toggler-cross icon--toggler-cross-thin toggler-accordion__icon is-hidden-md-xxl"></span>
    </h5>
    <p class="{{ config.name }}__text {{ data.togglerClass }}__target is-hidden-sm-only">{{ data.text | raw }}</p>
{% endblock %}
