{% extends molecule('configured-bundle-product', '@SprykerShop:ConfigurableBundleWidget') %}

{%- block extraClass %} grid{% endblock -%}

{% block content %}
    <div class="grid col col--sm-12 col--lg-10 col--middle">
        {% block contentInner %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block imageContainer %}
    <div class="grid col col--sm-12 col--lg-2">
        {% block image %}
            {% set imageModifiers =  ['small', 'item'] %}

            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}



{% block generalInformation %}
    <div class="col--sm-12 col--lg-6">
        {% block name -%}
            <h6 class="{{ config.name }}__item-title">{{ data.name }}</h6>
        {%- endblock %}

        {% block sku -%}
            <small class="text-secondary {{ config.name }}__sku">
                {{- 'configured_bundle.item_sku' | trans }} {{ data.sku -}}
            </small>
        {%- endblock %}
    </div>
{% endblock %}

{% block priceInformation %}
    <div class="{{ config.name }}__container col col--sm-12 col--lg-6">
        {% block priceInformationInner %}
            {% block priceCol %}
                <div class="{{ config.name }}__col col col--sm-12 col--lg-4">
                    {% block price %}
                        <strong class="{{ config.name }}__text">
                            {% block priceInner %}
                                {{ parent() }}
                            {% endblock %}

                            {%- block priceTitle -%}{% endblock %}
                        </strong>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block quantityCol %}
                <div class="{{ config.name }}__col {{ config.name }}__col--text-light col col--sm-12 col--lg-5 text-center">
                    {% block quantity %}
                        {{ parent() }}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block totalCol %}
                <div class="{{ config.name }}__col col col col--sm-12 col--right col--lg-3">
                    {% block total %}
                        <strong class="{{ config.name }}__text">
                            {% block totalInner %}
                                {{ parent() }}
                            {% endblock %}
                        </strong>

                        {%- block totalTitle -%}{% endblock %}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
