{% extends template('page-layout-main') %}

{% define data = {
    product: _view.product,
    productUrl: _view.productUrl,
    isBundle: _view.product.attributes.bundled_product | default(null),
    bundleItems: _view.bundledProducts,

    title: product.metaTitle | default(_view.product.name),
    metaTitle: product.metaTitle | default(_view.product.name),
    metaDescription: _view.product.metaDescription | default,
    metaKeywords: _view.product.metaKeywords | default
} %}

{% block breadcrumbs %}
    {{ widget('ProductCategoryWidgetPlugin', data.product, app.locale) }}
{% endblock %}

{% block title %}
    <h3 itemprop="name" class="pdp-title">
        {{ widget('ProductAbstractLabelWidgetPlugin', data.product) }}{{ data.product.name }}
    </h3>
    <link itemprop="url" href="{{ data.productUrl }}" />
{% endblock %}

{% block contentClass %}page-layout-main page-layout-main--pdp{% endblock %}

{% block content %}
    <div class="grid grid--gap grid--justify">
        <div class="col gallery-side">
            {% include molecule('product-carousel', 'ProductDetailPage') with {
                data: {
                    product: data.product
                }
            } only %}
        </div>

        <div class="col col--sm-5">
            {% include molecule('product-configurator', 'ProductDetailPage') with {
                data: {
                    product: data.product,
                    isBundle: data.isBundle,
                    bundleItems: data.bundleItems
                }
            } only %}
        </div>
    </div>

    {{ widget('ProductAlternativeWidgetPlugin', data.product) }}

    {% include molecule('product-detail', 'ProductDetailPage') with {
        data: {
            description: data.product.description,
            attributes: data.product.attributes
        }
    } only %}

    {{ widget('ProductReplacementForWidgetPlugin', data.product.sku) }}
    {{ widget('ProductReviewWidgetPlugin', data.product.idProductAbstract) }}

    {% if data.product.productSetIds is not empty %}
        {{ widget('ProductSetIdsWidgetPlugin', data.product.productSetIds) }}
    {% endif %}

    {% if data.isBundle != null %}
        {% include molecule('product-bundle', 'ProductDetailPage') with {
            data: {
                bundleItems: data.bundleItems
            }
        } only %}
    {% endif %}

    {{ widget('SimilarProductsWidgetPlugin', data.product) }}

    {{ widget('ProductCmsBlockWidgetPlugin', data.product) }}
{% endblock %}

{% block contentBottom %}
    {{ spyCmsBlock({
        name: 'Product CMS Block'
    }) }}
    {{ widget('ProductCmsBlockWidgetPlugin', data.product) }}
{% endblock %}