{% extends molecule('ordered-configured-bundle', '@SprykerShop:SalesConfigurableBundleWidget') %}

{%- block extraClass %} js-bundle{% endblock -%}

{% block bundleInner %}
    {% block bundleGeneralInformation %}
        <div class="{{ config.name }}__col col col--sm-12 col--md-7">
            {% block bundleName %}
                <div class="grid grid--middle">
                    {% include atom('checkbox') with {
                        class: 'js-bundle-checkbox',
                    } only %}
                </div>

                <h6 class="{{ config.name }}__title spacing-right spacing-right--big">
                    {%- block bundleNameText -%}
                        {{ parent() }}
                    {%- endblock -%}
                </h6>
            {% endblock %}
        </div>
    {% endblock %}

    <div class="{{ config.name }}__col {{ config.name }}__col--right col col--sm-12 col--md-5">
        {% block bundleQuantity %}
        {% endblock %}

        {% block bundlePriceInformation %}
            <div class="{{ config.name }}__col {{ config.name }}__col--right col col--sm-12 col--md-3">
                {% block bundleTotal %}
                    {{ parent() }}

                    {%- block bundleTotalTitle -%}{%- endblock %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
