{% extends model('component') %}

{% define config = {
    name: 'order-detail-product-packaging-unit-default',
    tag: 'tr'
} %}

{% define data = {
    item: required,
    order: required
} %}

{% block body %}
    {% set currencyIsoCode = data.order.currencyIsoCode %}
    {% set concreteItem = data.item.bundleProduct | default(data.item) %}

    {% if concreteItem.quantitySalesUnit is not null and concreteItem.quantity is not null %}
        {% set salesUnitName = concreteItem.quantitySalesUnit.productMeasurementUnit.name | default('') %}
        {% set salesUnitQuantity = concreteItem.quantity / concreteItem.quantitySalesUnit.conversion %}
        {% set salesUnitSummary = '' %}
        {% if salesUnitName %}
            {% set salesUnitSummary = salesUnitQuantity | round(concreteItem.quantitySalesUnit.precision, 'floor') ~ ' ' ~ salesUnitName | trans %}
        {% endif %}

        {% set amountSalesUnitName = concreteItem.amountSalesUnit.productMeasurementUnit.name | default('') %}
    {% endif %}

    <td class="{{ config.name }}__checkbox">
        {{ widgetBlock('CustomerReorderWidgetPlugin', 'formCheckbox', data.order, concreteItem) }}
    </td>
    <td class="transform-cell transform-cell--alt" data-content="{{ 'customer.order.item_sku' | trans }}">
        {{ concreteItem.sku }}
    </td>
    <td class="transform-cell transform-cell--alt" data-content="{{ 'customer.order.product_name' | trans }}">
        <span class="{{ config.name }}__inner">
            {{ concreteItem.name }}<br>
            {% if concreteItem.amount and concreteItem.quantity %}
                <span class="{{ config.name }}__inner {{ config.name }}__inner--lg-inline">
                    <span class="text-secondary">&times;</span> {{ concreteItem.amount }} {{ 'packaging_units.cart.item' | trans }} = ({{ concreteItem.amount / concreteItem.amountSalesUnit.conversion }}{{ amountSalesUnitName | trans }}) = {{ concreteItem.quantity * concreteItem.amount }} {{ 'packaging_units.cart.item' | trans }}
                </span>
            {% endif %}
        </span>
    </td>
    <td class="transform-cell transform-cell--alt" data-content="{{ 'customer.order.item_price' | trans }}">
        {{ concreteItem.unitPrice | money(true, currencyIsoCode) }}
    </td>
    <td class="transform-cell transform-cell--alt" data-content="{{ 'customer.order.item_quantity' | trans }}">
        {{ concreteItem.quantity }} {% if salesUnitSummary is defined %}= ({{ salesUnitSummary }}){% endif %}
    </td>
    <td class="transform-cell transform-cell--alt" data-content="{{ 'customer.order.item_sum' | trans }}">
        {{ concreteItem.unitPriceToPayAggregation | money(true, currencyIsoCode) }}
    </td>
    {% if data.item.bundleItems is defined %}
        <td class="transform-cell transform-cell--alt transform-cell--no-label is-hidden-lg-xxl" colspan="5">
            <div class="{{ config.name }}__inner">
                <span class="{{ config.name }}__title">{{ "customer.order.bundled_items" | trans }} </span>
                {% for bundledItem in data.item.bundleItems %}
                    - {{ bundledItem.quantity }} x {{ bundledItem.name }} <br>
                {% endfor %}

                {% if concreteItem.productOptions is not empty %}
                    {{ "customer.order.options" | trans }} <br>
                    {% for productOption in concreteItem.productOptions %}
                        - {{ productOption.value | trans }} {{ productOption.sumPrice | money(true, currencyIsoCode) }}  <br>
                    {% endfor %}
                {% endif %}
            </div>
        </td>
    {% else %}
        {% if concreteItem.productOptions is not empty %}
            <td class="transform-cell transform-cell--alt transform-cell--no-label is-hidden-lg-xxl" colspan="5">
                <div class="{{ config.name }}__inner">
                    <span class="{{ config.name }}__title">{{ "customer.order.item_options" | trans }}:</span>
                    <ul>
                        {% for productOption in concreteItem.productOptions %}
                            <li>+ {{ productOption.value | trans }} {{ productOption.sumPrice | money(true, currencyIsoCode) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </td>
        {% endif %}
    {% endif %}
    {% if concreteItem.cartNote is not empty %}
        <td class="transform-cell transform-cell--alt transform-cell--no-label is-hidden-lg-xxl" colspan="5">
            {% include molecule('note-list', 'CartNoteWidget') ignore missing with {
                modifiers: ['order-detail'],
                data: {
                    label: 'cart_note.customer_page.item_note',
                    note: concreteItem.cartNote
                }
            } only %}
        </td>
    {% endif %}
{% endblock body %}

