{# @deprecated Use molecule('order-detail-product-packaging-unit', 'ProductPackagingUnitWidget') instead. #}

{% extends model('component') %}

{% define config = {
    name: 'order-detail-product-packaging-unit-default',
    tag: 'tr'
} %}

{% define data = {
    concreteItemDefault: required,
    currencyIsoCode: required
} %}

{% block body %}
    {% if data.concreteItemDefault.quantitySalesUnit is not null and data.concreteItemDefault.quantity is not null %}
        {% set salesUnitName = data.concreteItemDefault.quantitySalesUnit.productMeasurementUnit.name | default('') %}
        {% set salesUnitQuantity = data.concreteItemDefault.quantity / data.concreteItemDefault.quantitySalesUnit.conversion %}
        {% set salesUnitSummary = '' %}
        {% if salesUnitName %}
            {% set salesUnitSummary = salesUnitQuantity | round(data.concreteItemDefault.quantitySalesUnit.precision, 'floor') ~ ' ' ~ salesUnitName | trans %}
        {% endif %}

        {% set amountSalesUnitName = data.concreteItemDefault.amountSalesUnit.productMeasurementUnit.name | default('') %}
    {% endif %}

    <td class="{{ config.name }}__checkbox">
        {{ widgetBlock('CustomerReorderWidgetPlugin', 'formCheckbox', data.order, data.concreteItemDefault) }}
    </td>
    <td class="transform-cell transform-cell--alt" data-content="{{ 'customer.order.item_sku' | trans }}">
        {{ data.concreteItemDefault.sku }}
    </td>
    <td class="transform-cell transform-cell--alt" data-content="{{ 'customer.order.product_name' | trans }}">
        <span class="{{ config.name }}__inner">
            {{ data.concreteItemDefault.name }}<br>
            {% if data.concreteItemDefault.amount and data.concreteItemDefault.quantity %}
                <span class="{{ config.name }}__inner {{ config.name }}__inner--lg-inline">
                    <span class="text-secondary">&times;</span> {{ data.concreteItemDefault.amount }} {{ 'packaging_units.cart.item' | trans }} = ({{ data.concreteItemDefault.amount / data.concreteItemDefault.amountSalesUnit.conversion }}{{ amountSalesUnitName | trans }}) = {{ data.concreteItemDefault.quantity * data.concreteItemDefault.amount }} {{ 'packaging_units.cart.item' | trans }}
                </span>
            {% endif %}
        </span>
    </td>
    <td class="transform-cell transform-cell--alt" data-content="{{ 'customer.order.item_price' | trans }}">
        {{ data.concreteItemDefault.unitPrice | money(true, data.currencyIsoCode) }}
    </td>
    <td class="transform-cell transform-cell--alt" data-content="{{ 'customer.order.item_quantity' | trans }}">
        {{ data.concreteItemDefault.quantity }} {% if salesUnitSummary is defined %}= ({{ salesUnitSummary }}){% endif %}
    </td>
    <td class="transform-cell transform-cell--alt" data-content="{{ 'customer.order.item_sum' | trans }}">
        {{ data.concreteItemDefault.unitPriceToPayAggregation | money(true, data.currencyIsoCode) }}
    </td>
    {% if data.concreteItemDefault.bundleItems is defined %}
        <td class="transform-cell transform-cell--alt transform-cell--no-label is-hidden-lg-xxl" colspan="5">
            <div class="{{ config.name }}__inner">
                <span class="{{ config.name }}__title">{{ "customer.order.bundled_items" | trans }} </span>
                {% for bundledItem in data.concreteItemDefault.bundleItems %}
                    - {{ bundledItem.quantity }} x {{ bundledItem.name }} <br>
                {% endfor %}

                {% if data.concreteItemDefault.productOptions is not empty %}
                    {{ "customer.order.options" | trans }} <br>
                    {% for productOption in data.concreteItemDefault.productOptions %}
                        - {{ productOption.value | trans }} {{ productOption.sumPrice | money(true, data.currencyIsoCode) }}  <br>
                    {% endfor %}
                {% endif %}
            </div>
        </td>
    {% else %}
        {% if data.concreteItemDefault.productOptions is not empty %}
            <td class="transform-cell transform-cell--alt transform-cell--no-label is-hidden-lg-xxl" colspan="5">
                <div class="{{ config.name }}__inner">
                    <span class="{{ config.name }}__title">{{ "customer.order.item_options" | trans }}:</span>
                    <ul>
                        {% for productOption in data.concreteItemDefault.productOptions %}
                            <li>+ {{ productOption.value | trans }} {{ productOption.sumPrice | money(true, data.currencyIsoCode) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </td>
        {% endif %}
    {% endif %}
    {% if data.concreteItemDefault.cartNote is not empty %}
        <td class="transform-cell transform-cell--alt transform-cell--no-label is-hidden-lg-xxl" colspan="5">
            {% include molecule('note-list', 'CartNoteWidget') ignore missing with {
                modifiers: ['order-detail'],
                data: {
                    label: 'cart_note.customer_page.item_note',
                    note: data.concreteItemDefault.cartNote
                }
            } only %}
        </td>
    {% endif %}
{% endblock body %}

