{% extends molecule('product-card') %}

{% define config = {
    name: 'product-list-item' 
} %}

{% block body %}
    <div class="{{config.name}}__container">
        {% block labels %}
            {{ widget('ProductAbstractLabelWidgetPlugin', data.abstractId) }}
        {% endblock %}

        <div class="grid grid--stretch">
            {% block imageContainer %}
                <div class="col col--sm-3 col--md-2 {{config.name}}__col {{config.name}}__image">
                    {% block image %}
                        <a class="{{config.name}}__overlay" href="{{ data.url }}">
                            {% include atom('thumbnail') with {
                                attributes: {
                                    alt: data.name,
                                    src: data.imageUrl,
                                    title: data.name
                                }
                            } only %}
                        </a>
                    {% endblock %}
                </div>
            {% endblock %}

            <div class="col col--sm-6 col--md-7 col--xl-8 {{config.name}}__col {{config.name}}__content">
                {% block groups %}
                    {{ widget('ProductGroupWidgetPlugin', data.abstractId) }}
                {% endblock %}

                {% block name %}
                    <div class="{{config.name}}__name">{{ data.name }}</div>
                {% endblock %}

                {% block rating %}
                    {{ widget('ProductAbstractReviewWidgetPlugin', data.abstractId) }}
                {% endblock %}

                {% block price %}{% endblock %}
            </div>
            
            {% block actionsContainer %}
                <div class="col col--sm-3 col--xl-2 {{config.name}}__col {{config.name}}__total">
                    <div class="{{ config.name }}__inner--total grid grid--column grid--justify-column grid--bottom">
                        <div class="col">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% include molecule('price') with {
                                    modifiers: ['catalog'],
                                    data: {
                                        amount: data.price | money,
                                        originalAmount: data.originalPrice is empty ? null : (data.originalPrice | money)
                                    }
                                } only %}
                            {% endif %}
                        </div>
                        {% block actions %}
                            <div class="col">
                                <a class="button button--expand button--hollow" href="{{ data.url }}">
                                    {{ 'product.view' | trans }}
                                </a>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
