{% extends view('cart-discount-promotion-products-list', '@SprykerShop:DiscountPromotionWidget') %}

{% block body %}
    {% if data.promotionProducts is not empty %}
        <h2 class="title title--product-slider title--top-margin-small">{{ 'cart.promotion.items' | trans }}</h2>
        <div class="grid grid--gap">
            {% for product in data.promotionProducts %}
                {% block product %}
                    <div class="col col--md-4">
                        {% embed molecule('product-item') with {
                            modifiers: ['catalog', 'stretch'],
                            data: {
                                product: product,
                            },
                            embed: {
                                promotionDiscount: {
                                    id: product.promotionItem.discount.discountPromotion.idDiscountPromotion,
                                    maxQuantity: product.promotionItem.maxQuantity,
                                },
                            },
                        } only %}
                            {% block content %}
                                <div class="{{ config.name }}__info">
                                    {{ parent() }}

                                    {% include molecule('variant-configurator', 'DiscountPromotionWidget') with {
                                        data: {
                                            sku: data.sku,
                                            superAttributes: data.product.attributeMap.superAttributes,
                                            selectedAttributes: data.product.selectedAttributes,
                                            availableAttributes: data.product.availableAttributes,
                                        },
                                    } only %}

                                    <div class="{{ component.renderClass(config.name ~ '__actions', modifiers) }}">
                                        <form method="POST" action="{{ path('cart/add', {'sku': data.product.sku}) }}" class="grid grid--bottom grid--justify">
                                            <div class="col col--sm-12 spacing-bottom spacing-bottom--big">
                                                {% include molecule('quantity-counter') with {
                                                    attributes: {
                                                        max: embed.promotionDiscount.maxQuantity,
                                                    },
                                                } only %}
                                            </div>

                                            <div class="col col--sm-12">
                                                {% set disabledAttribute = data.product.idProductConcrete is empty ? 'disabled' %}

                                                <input type="hidden" value="{{ data.product.sku }}" name="groupKey">
                                                <input type="hidden" value="{{ embed.promotionDiscount.id }}" name="idDiscountPromotion">

                                                <button class="button button--expand" {{ disabledAttribute }} data-form-submitter data-init-single-click>
                                                    {{ 'page.detail.add-to-cart' | trans }}
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endblock %}
                        {% endembed %}
                    </div>
                {% endblock %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
