{% extends molecule('money-price', '@SprykerShop:ShopUi') %}

{% define data = {
    priceMode: app.priceMode,
} %}

{% block body %}
    {% block amount %}
        {% set amountClassName = data.originalAmount is not empty ? 'text-alt' %}

        <span class="{{ component.renderClass(config.name ~ '__amount', modifiers) }} {{ amountClassName }}">
            {{ data.amount | money(true, data.currencyIsoCode) }}
        </span>
    {% endblock %}

    {% if data.originalAmount is not empty and data.originalAmount > data.amount -%}
        {% block originalAmount %}
            <span class="{{ component.renderClass(config.name ~ '__amount', modifiers) }} {{ config.name }}__amount--original">
                {{ data.originalAmount | money(true, data.currencyIsoCode) }}
            </span>
        {% endblock %}
    {%- endif -%}

    {% block priceMode %}
        <span class="{{ component.renderClass(config.name ~ '__mode', modifiers) }}">
            {% if data.priceMode == 'GROSS_MODE' %}
                {{ 'price.mode.incl_vat' | trans }}
            {% endif %}

            {% if data.priceMode == 'NET_MODE' %}
                {{ 'price.mode.excl_vat' | trans }}
            {% endif %}
        </span>
    {% endblock %}
{% endblock %}
