{% extends template('widget') %}

{% define data = {
    quoteTransfer: _widget.quoteTransfer,
    waitingQuoteApproval: _widget.waitingQuoteApproval,
    canQuoteBeApprovedByCurrentCustomer: _widget.canQuoteBeApprovedByCurrentCustomer,
    quoteOwner: _widget.quoteOwner,
    isVisible: _widget.isVisible,
    isQuoteApplicableForApprovalProcess: _widget.isQuoteApplicableForApprovalProcess,
} %}

{% block body %}
    {% if data.isVisible %}
        {% set latestQuoteApproval = data.quoteTransfer.quoteApprovals | last %}
        {% set customerName = data.quoteOwner.firstName ~ ' ' ~ data.quoteOwner.lastName %}
        {% set updateDate = data.waitingQuoteApproval ? data.waitingQuoteApproval.createdAt : latestQuoteApproval.updatedAt %}

        {% block container %}
            {% include molecule('quote-approval', 'QuoteApprovalWidget') with {
                data: {
                    customerName: customerName,
                    updateDate: updateDate,
                    quoteTransfer: data.quoteTransfer
                }
            } only %}

            {% if data.waitingQuoteApproval %}
                <div class="grid grid--right">
                    {% if data.canQuoteBeApprovedByCurrentCustomer and data.isQuoteApplicableForApprovalProcess %}
                        <div class="col col--sm-6 spacing-right spacing-right--inner">
                            <form method="POST" action="{{ path('quote-approval-decline', {'idQuoteApproval': data.waitingQuoteApproval.idQuoteApproval}) }}">
                                <button type="submit" class="button button--alert button--expand button--hollow">{{ 'quote_approval_widget.cart.decline' | trans }}</button>
                            </form>
                        </div>
                        <div class="col col--sm-6 spacing-left spacing-left--inner">
                            <form method="POST" action="{{ path('quote-approval-approve', {'idQuoteApproval': data.waitingQuoteApproval.idQuoteApproval}) }}">
                                <button type="submit" class="button button--success button--expand">{{ 'quote_approval_widget.cart.approve' | trans }}</button>
                            </form>
                        </div>
                    {% else %}
                        {% if not data.isQuoteApplicableForApprovalProcess %}
                            <div class="col">
                                <strong>{{ 'quote_approval_widget.quote_not_applicable_for_approval_process' | trans }}</strong>
                            </div>
                        {% endif %}
                        <div class="col">
                            <form method="POST" action="{{ path('quote-approval-remove', {'idQuoteApproval': data.waitingQuoteApproval.idQuoteApproval}) }}">
                                <button type="submit" class="button button--alert button--expand">{{ 'quote_approval_widget.cart.cancel' | trans }}</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endblock %}
    {% endif %}
{% endblock %}

