{% extends model('component') %}

{% define config = {
    name: 'view-mode-switch',
    tag: 'div'
} %}

{% define data = {
    viewMode: null
} %}

{% set gridHref = path('change-view-mode', { mode: 'grid', 'referer-url': app.request.requestUri }) %}
{% set listHref = path('change-view-mode', { mode: 'list', 'referer-url': app.request.requestUri }) %}

{% block body %}
    <a class="{{ config.name }}__link {% if data.viewMode == 'grid' %} {{ config.name }}__link--active {% endif %}" href="{{gridHref}}">
        {% include atom('icon') with {
            modifiers: ['view-mode-switch'],
            data: {
                name: 'th-large'
            }
        } only %}
        {{ 'catalog.view.mode.grid' | trans }}
    </a>
    <a class="{{ config.name }}__link {% if data.viewMode != 'grid' %} {{ config.name }}__link--active {% endif %}" href="{{listHref}}">
        {% include atom('icon') with {
            modifiers: ['view-mode-switch'],
            data: {
                name: 'th-list'
            }
        } only %}
        {{ 'catalog.view.mode.list' | trans }}
    </a>
{% endblock %}
