{% extends model('component') %}

{% define config = {
    name: 'order-summary',
    tag: 'ul'
} %}

{% define data = {
    order: required
} %}

{% block body %}
    <li>
        {{ 'customer.order.subTotal' | trans }}:
        {{ data.order.totals.subtotal | money(true, data.order.currencyIsoCode) }}
    </li>
    <li>
        {% for expense in data.order.expenses %}
            {{ 'customer.order.shipment' | trans }} {{ expense.name }}:
            {{ expense.sumPrice | money(true, data.order.currencyIsoCode) }}
        {% endfor %}
    </li>
    <li>
        {{ 'customer.order.discount.total' | trans }}:
        - {{ data.order.totals.discountTotal | money(true, data.order.currencyIsoCode) }}
    </li>
    <li>
        {% if data.order.totals.canceledTotal %}
            {{ 'customer.order.canceledTotal' | trans }}:
            - {{ data.order.totals.canceledTotal | money(true, data.order.currencyIsoCode) }}
        {% endif %}
    </li>
    <li>
        <strong>{{ 'customer.order.grandTotal' | trans }}:
        {{ data.order.totals.grandTotal | money(true, data.order.currencyIsoCode) }}</strong>
    </li>
{% endblock %}
