{% extends molecule('order-summary', '@SprykerShop:CustomerPage') %}

{% define config = {
    tag: 'div',
} %}

{% block body %}
    {% set remunerationTotal = data.order.totals.remunerationTotal ?? null %}
    {% set canceledTotal = data.order.totals.canceledTotal ?? null %}

    <div class="{{ config.name }}__top grid grid--justify grid--middle">
        <div class="col col--sm-8">
            <h6 class="{{ config.name }}__title">{{ 'customer.order.overview' | trans }}</h6>
        </div>
        <div class="col col--expand text-right">
            <span class="{{ config.name }}__label">{{ data.order.items | length | executeFilterIfExists('formatInt', app.locale) }} {{ 'customer.order.summary.items' | trans }}</span>
        </div>
    </div>

    <ul class="{{ config.name }}__list">
        <li class="{{ config.name }}__item is-hidden-sm-md">
            <span class="{{ config.name }}__text {{ config.name }}__text--bigger float-right">{{ data.order.totals.subtotal | money(true, data.order.currencyIsoCode) }}</span>
            <span class="{{ config.name }}__text {{ config.name }}__text--bigger">{{ 'customer.order.subTotal' | trans }}</span>
        </li>

        <li class="{{ config.name }}__item">
            <span class="float-right">{{ data.order.totals.expenseTotal | money(true, data.order.currencyIsoCode) }}</span>
            <span class="{{ config.name }}__text {{ config.name }}__text--bigger">{{ 'customer.order.expenseTotal' | trans }}</span>

            {% for expense in data.order.expenses %}
                {% if expense.type == 'SHIPMENT_EXPENSE_TYPE' %}
                    <div class="{{ config.name }}__text-wrap grid grid--justify grid--middle">
                        <span class="{{ config.name }}__text col col--sm-8 col--lg-10 text-secondary">{{ expense.shipment.carrier.name ~ ' - ' ~ (expense.name | trans) }}</span>
                        <span class="{{ config.name }}__text {{ config.name }}__text--bigger col col--expand text-secondary text-right">{{ expense.sumPrice | money(true, data.order.currencyIsoCode) }}</span>
                    </div>
                {% endif %}
            {% endfor %}


            {% for expense in data.order.expenses %}
                {% if expense.type == 'THRESHOLD_EXPENSE_TYPE' %}
                    <div class="{{ config.name }}__text-wrap grid grid--justify grid--middle">
                        <span class="{{ config.name }}__text col col--sm-8 col--lg-10 text-secondary">{{ 'Surcharge' | trans }}</span>
                        <span class="{{ config.name }}__text {{ config.name }}__text--bigger col col--expand text-secondary text-right">{{ expense.sumPrice | money(true, data.order.currencyIsoCode) }}</span>
                    </div>
                {% endif %}
            {% endfor %}
        </li>

        <li class="{{ config.name }}__item">
            <span class="{{ config.name }}__text {{ config.name }}__text--bigger">{{ 'customer.order.summary.discounts' | trans }}</span>

            {% for discount in data.order.calculatedDiscounts %}
                <div class="{{ config.name }}__text-wrap grid grid--justify grid--middle">
                    <span class="{{ config.name }}__text col col--sm-8 col--lg-10 text-secondary">{{ discount.displayName | trans }}</span>
                    <span class="{{ config.name }}__text {{ config.name }}__text--bigger col col--expand text-right text-alt">- {{ discount.sumAmount | money(true, data.order.currencyIsoCode) }}</span>
                </div>
            {% endfor %}
        </li>

        <li class="{{ config.name }}__item is-hidden-sm-md">
            <span class="float-right">{{ data.order.totals.taxTotal.amount | money(true, data.order.currencyIsoCode) }}</span>
            <span class="{{ config.name }}__text {{ config.name }}__text--bigger">{{ 'customer.order.taxTotal' | trans }}</span>
        </li>

        <li class="{{ config.name }}__item {{ config.name }}__item--total">
            <div class="is-hidden-lg-xxl">
                <strong class="{{ config.name }}__title {{ config.name }}__title--total float-right">{{ data.order.totals.subtotal | money(true, data.order.currencyIsoCode) }}</strong>
                <h6 class="{{ config.name }}__title {{ config.name }}__title--total">{{ 'customer.order.subTotal' | trans }}</h6>
            </div>
            <div class="is-hidden-lg-xxl">
                <strong class="{{ config.name }}__title {{ config.name }}__title--total float-right">{{ data.order.totals.taxTotal.amount | money(true, data.order.currencyIsoCode) }}</strong>
                <h6 class="{{ config.name }}__title {{ config.name }}__title--total">{{ 'customer.order.taxTotal' | trans }}</h6>
            </div>
            <strong class="{{ config.name }}__title {{ config.name }}__title--total {{ config.name }}__title--color-gray float-right">{{ data.order.totals.grandTotal | money(true, data.order.currencyIsoCode) }}</strong>
            <h6 class="{{ config.name }}__title {{ config.name }}__title--total {{ config.name }}__title--color-gray">{{ 'customer.order.grandTotal' | trans }}</h6>

            {% if remunerationTotal %}
                <div class="is-hidden-lg-xxl">
                    <strong class="{{ config.name }}__title {{ config.name }}__title--total float-right">- {{ remunerationTotal | money(true, data.order.currencyIsoCode) }}</strong>
                    <h6 class="{{ config.name }}__title {{ config.name }}__title--total">{{ 'customer.order.remunerationTotal' | trans }}</h6>
                </div>
            {% endif %}

            {% if canceledTotal %}
                <div class="is-hidden-lg-xxl">
                    <strong class="{{ config.name }}__title {{ config.name }}__title--total float-right">- {{ canceledTotal | money(true, data.order.currencyIsoCode) }}</strong>
                    <h6 class="{{ config.name }}__title {{ config.name }}__title--total">{{ 'customer.order.refundTotal' | trans }}</h6>
                </div>
            {% endif %}
        </li>

        {% if remunerationTotal %}
            <li class="{{ config.name }}__item is-hidden-sm-md">
                <span class="float-right">- {{ remunerationTotal | money(true, data.order.currencyIsoCode) }}</span>
                <span class="{{ config.name }}__text {{ config.name }}__text--bigger">{{ 'customer.order.remunerationTotal' | trans }}</span>
            </li>
        {% endif %}

        {% if canceledTotal %}
            <li class="{{ config.name }}__item is-hidden-sm-md">
                <span class="float-right">- {{ canceledTotal | money(true, data.order.currencyIsoCode) }}</span>
                <span class="{{ config.name }}__text {{ config.name }}__text--bigger">{{ 'customer.order.refundTotal' | trans }}</span>
            </li>
        {% endif %}
    </ul>
{% endblock %}
