{% extends template('page-layout-company', 'CompanyPage') %}

{% define data = {
    idCompanyUser: _view.idCompanyUser,
    companyUserName: _view.customer.firstName ~ ' ' ~ _view.customer.lastName,
    title: 'company.account.company_user' | trans,
    activePage: 'users'
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'company.account.page-title' | trans,
                    url: url('company/overview')
                }, {
                    label: 'company.account.company_user' | trans,
                    url: url('company/user')
                },
                {
                    label: 'company.account.company_user.delete' | trans
                }
            ]
        }
    } only %}
{% endblock %}

{% block companyContent %}
    {% include molecule('action-bar') with {
        data: {
            title: 'company.account.company_user.delete.confirmation.warning' | trans
        }
    } only %}
    {{ "company.account.company_user.delete.confirmation.trying_to_delete" | trans }}: <strong>{{ data.companyUserName }}</strong><br>
    {{ "company.account.company_user.delete.confirmation.deleted_from_everywhere" | trans }}<br><br>
    <div>
        <a href="{{ url('company/user') }}" class="button button--info">
            {{ "company.account.company_user.delete.back" | trans }}
        </a>
        <a href="{{ url('company/user/delete', { 'id' : data.idCompanyUser }) }}" class="button button--alert">
            {{ "company.account.company_user.delete" | trans }}
        </a>
    </div>
{% endblock %}
