{% extends view('user-delete', '@SprykerShop:CompanyPage') %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'company.account.page-title' | trans,
                    url: url('company/overview')
                }, {
                    label: 'company.account.company_user' | trans,
                    url: url('company/user')
                },
                {
                    label: 'company.account.company_user.delete' | trans
                }
            ]
        }
    } only %}
{% endblock %}

{% block companyContent %}
    {% include molecule('action-bar') with {
        data: {
            title: 'company.account.company_user.delete.confirmation.warning' | trans
        }
    } only %}
    {{ "company.account.company_user.delete.confirmation.trying_to_delete" | trans }}: <strong>{{ data.companyUserName }}</strong><br>
    {{ "company.account.company_user.delete.confirmation.deleted_from_everywhere" | trans }}<br><br>
    <div class="grid">
        <div class="col">
            <a href="{{ url('company/user') }}" class="button button--hollow">
                {{ "company.account.company_user.delete.back" | trans }}
            </a>
        </div>
        <div class="col spacing-left spacing-left--inner">
            {{ form_start(data.companyUserDeleteForm, {'action': url('company/user/delete')}) }}
                <button data-init-single-click class="button button--alert">
                    {{ 'company.account.company_user.delete' | trans }}
                </button>
            {{ form_end(data.companyUserDeleteForm) }}
        </div>
    </div>
{% endblock %}
