{% extends molecule('ordered-configured-bundle-product', '@SprykerShop:SalesConfigurableBundleWidget') %}

{% block imageContainer %}
    <div class="grid col col--sm-12 col--lg-3">
        <div class="col col--middle">
            {% widget 'CustomerReorderItemCheckboxWidget' args [data.product] with {
                data: {
                    checkboxClasses: 'js-customer-reorder-form__selection js-bundle-target-checkbox',
                },
            } only %}{% endwidget %}
        </div>
        <div class="col col--expand col--middle">
            {% block image %}
                {% include atom('thumbnail') with {
                    modifiers: ['small', 'item'],
                    attributes: {
                        src: data.image,
                        alt: data.name,
                    },
                } only %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="{{ config.name }}__col col col--sm-12 col--lg-9 col--middle">
        {% block contentInner %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block generalInformation %}
    <div class="col col--sm-12 col--lg-5 spacing-x spacing-x--inner">
        {{ parent() }}
    </div>
{% endblock %}

{% block name -%}
    <h6 class="{{ config.name }}__item-title">{{ data.name }}</h6>
{%- endblock %}

{% block priceInformation %}
    <div class="{{ config.name }}__container col col--sm-12 col--lg-7">
        {% block priceInformationInner %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block priceCol %}
    <div class="{{ config.name }}__column col col--sm-12 col--lg-4">
        {% block price %}
            <strong class="{{ config.name }}__text">
                {% block priceInner %}
                    {{ parent() }}
                {% endblock %}

                {%- block priceTitle -%}{% endblock %}
            </strong>
        {% endblock %}
    </div>
{% endblock %}

{% block quantityCol %}
    <div class="{{ config.name }}__column {{ config.name }}__column--text-light col col--sm-12 col--lg-5">
        {% block quantity %}
            <span class="{{ config.name }}__text">
                {{ 'configured_bundle.multiplier' | trans }} {{ data.quantity }}
            </span>
        {% endblock %}
    </div>
{% endblock %}

{% block totalCol %}
    <div class="{{ config.name }}__column col col col--sm-12 col--right col--lg-3">
        {% block total %}
            {{ parent() }}
        {% endblock %}

        {%- block totalTitle -%}{% endblock %}
    </div>
{% endblock %}
