{% extends molecule('ordered-configured-bundle-product', '@SprykerShop:SalesConfigurableBundleWidget') %}

{%- block extraClass %} grid{% endblock -%}

{% block imageContainer %}
    <div class="grid col col--sm-12 col--lg-3">
        <div class="col col--middle">
            {% widget 'CustomerReorderItemCheckboxWidget' args [data.product] with {
                data: {
                    checkboxClasses: 'js-customer-reorder-form__selection js-bundle-child',
                },
            } only %}{% endwidget %}
        </div>
        <div class="col col--expand">
            {% block image %}
                {% include atom('thumbnail') with {
                    modifiers: ['small', 'item'],
                    attributes: {
                        src: data.image,
                        alt: data.name,
                    },
                } only %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="grid col col--sm-12 col--lg-9 col--middle">
        {% block contentInner %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block generalInformation %}
    <div class="col--sm-12 col--lg-5 spacing-x spacing-x--inner">
        {% block name -%}
            <h6 class="{{ config.name }}__item-title">{{ data.name }}</h6>
        {%- endblock %}

        {% block sku -%}
            {{ parent() }}
        {%- endblock %}
    </div>
{% endblock %}

{% block priceInformation %}
    <div class="{{ config.name }}__container col col--sm-12 col--lg-7">
        {% block priceInformationInner %}
            {% block priceCol %}
                <div class="{{ config.name }}__col col col--sm-12 col--lg-4">
                    {% block price %}
                        <strong class="{{ config.name }}__text">
                            {% block priceInner %}
                                {{ parent() }}
                            {% endblock %}

                            {%- block priceTitle -%}{% endblock %}
                        </strong>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block quantityCol %}
                <div class="{{ config.name }}__col {{ config.name }}__col--text-light col col--sm-12 col--lg-5 text-center">
                    {% block quantity %}
                        {{ parent() }}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block totalCol %}
                <div class="{{ config.name }}__col col col col--sm-12 col--right col--lg-3">
                    {% block total %}
                        <strong class="{{ config.name }}__text">
                            {% block totalInner %}
                                {{ parent() }}
                            {% endblock %}
                        </strong>

                        {%- block totalTitle -%}{% endblock %}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
