{% extends molecule('ordered-configured-bundle-product', '@SprykerShop:SalesConfigurableBundleWidget') %}

{% block imageContainer %}
    <div class="grid col col--sm-12 col--lg-3">
        <div class="col col--middle">
            {% widget 'CustomerReorderItemCheckboxWidget' args [data.product] with {
                data: {
                    checkboxClasses: 'js-customer-reorder-form__selection',
                },
            } only %}{% endwidget %}
        </div>
        <div class="col col--expand col--middle">
            {% block image %}
                {% include molecule('lazy-image') with {
                    modifiers: ['thumbnail', 'small', 'with-overlay', 'configured-bundle'],
                    data: {
                        imageSrc: data.image,
                        imageTitle: data.name,
                    },
                } only %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="{{ config.name }}__col col col--sm-12 col--lg-9 col--middle">
        {% block contentInner %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% set generalInformationClass = 'col col--sm-12 col--lg-5 spacing-x spacing-x--inner' %}

{% block generalInformation %}
    <div class="{{ generalInformationClass }}">
        {% block name -%}
            <h6 class="{{ config.name }}__item-title">{{ data.name }}</h6>
        {%- endblock %}

        {% block sku -%}
            {{ parent() }}
        {%- endblock %}
    </div>
{% endblock %}

{% block priceInformation %}
    <div class="{{ config.name }}__container col col--sm-12 col--lg-7">
        {% block priceInformationInner %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block priceCol %}
    <div class="{{ config.name }}__inner-section col col--sm-12 col--lg-4">
        {% block price %}
            <strong class="{{ config.name }}__text">
                {% block priceInner %}
                    {{ parent() }}
                {% endblock %}
            </strong>
        {% endblock %}
    </div>
{% endblock %}

{%- block priceTitle -%}{% endblock %}

{% block quantityCol %}
    <div class="{{ config.name }}__inner-section {{ config.name }}__inner-section--text-light col col--sm-12 col--lg-5">
        {% block quantity %}
            <span class="{{ config.name }}__text">
                {{ 'configured_bundle.multiplier' | trans }} {{ data.quantity | executeFilterIfExists('formatInt', app.locale) }}
            </span>
        {% endblock %}
    </div>
{% endblock %}

{% block totalCol %}
    <div class="{{ config.name }}__inner-section col col--sm-12 col--right col--lg-3">
        {% block total %}
            {{ parent() }}
        {% endblock %}
    </div>

    {% block stateWrapper %}
        <div class="grid grid--right">
            <div class="col spacing-y">
                {{ parent() }}
            </div>
        </div>
    {% endblock %}
{% endblock %}

{%- block totalTitle -%}{% endblock %}
