{% extends model('component') %}

{% define config = {
    name: 'navigation-top',
    tag: 'nav'
} %}

{% define data = {
    cartQuantity: app['cart.quantity'] | default,
    showUserMenu: not (hideUserMenu | default(false)),
    isInline: true,
    withSeparators: true
} %}

{% set cartQuantity = data.cartQuantity > 0 ? data.cartQuantity ~ ' ' : '' %}
{% set menuClass = data.isInline ? 'menu--inline' : '' %}

{% block body %}
    <ul class="menu {{menuClass}}">
        <li class="menu__item">{{ widgetGlobal('PriceModeSwitcherWidgetPlugin') }}</li>
        {% if data.withSeparators %}<li class="menu__separator"></li>{% endif %}
        <li class="menu__item">{{ widgetGlobal('CurrencyWidgetPlugin') }}</li>
        {% if data.withSeparators %}<li class="menu__separator"></li>{% endif %}
        <li class="menu__item">
            {{ widgetGlobal(
                'LanguageSwitcherWidgetPlugin',
                app.request.pathInfo,
                app.request.queryString,
                app.request.requestUri
            ) }}
        </li>
        <li class="menu__item">
            {% if widgetGlobalExists('DisplayOnBehalfBusinessWidgetPlugin') %}
                {{ widgetGlobal('DisplayOnBehalfBusinessWidgetPlugin') }}
            {% endif %}
        </li>
        {% if data.withSeparators %}<li class="menu__separator"></li>{% endif %}
        <li class="menu__item">
            {% if widgetGlobalExists('MiniCartWidgetPlugin') %}
                {{ widgetGlobal('MiniCartWidgetPlugin', cartQuantity) }}
            {% else %}
                {% include molecule('cart-items-counter') with {
                    data: {
                        quantity: data.cartQuantity
                    }
                } only %}
            {% endif %}
        </li>
        {% if data.withSeparators %}<li class="menu__separator"></li>{% endif %}
        <li class="menu__item"><a href="{{ url('quick-order') }}">{{ 'quick-order.page-title'|trans }}</a></li>
        {% if data.withSeparators %}<li class="menu__separator"></li>{% endif %}

        {% if data.showUserMenu %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="menu__item"><a href="{{ url('customer/overview') }}">{{ 'customer.profile'|trans }}</a></li>
                <li class="menu__item"><a href="{{ url('logout') }}">{{ 'customer.logout'|trans }}</a></li>
            {% else %}
                <li class="menu__item"><a href="{{ url('login') }}">{{ 'customer.login'|trans }}</a></li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}
