{% extends model('component') %}

{% define config = {
    name: 'navigation-top',
    tag: 'div'
} %}

{% block body %}
    <ul class="grid grid--nowrap grid--right grid--stretch navigation-top__actions">
        {% if is_granted('ROLE_USER') %}
            <li class="col {{ config.name }}__action-item">
                <a href="{{ path('customer/ssp-dashboard') }}">{{ 'amag.smart_hub' | trans }}</a>
            </li>
        {% endif %}

        {% if can('SeePricePermissionPlugin') %}
            <li class="col {{ config.name }}__action-item">
                {% widget 'PriceModeSwitcherWidget' only %}{% endwidget %}
            </li>
            <li class="col {{ config.name }}__action-item">
                {% widget 'CurrencyWidget' only %}{% endwidget %}
            </li>
        {% endif %}

        <li class="col {{ config.name }}__action-item">
            {% widget 'LanguageSwitcherWidget' args [app.request.pathInfo, app.request.queryString, app.request.requestUri] only %}{% endwidget %}
        </li>

        {% set menuItemCompanyWidget = findWidget('MenuItemCompanyWidget') %}
        {% set hasCompanyAccess = menuItemCompanyWidget.hasCompanyAccess %}

        {% if is_granted('ROLE_USER') and hasCompanyAccess %}
            {% widget menuItemCompanyWidget %}
                {% block template %}
                    <li class="col {{ config.name }}__action-item">
                        {% apply spaceless %}{{ parent() }}{% endapply %}
                    </li>
                {% endblock %}
            {% endwidget %}
        {% endif %}
    </ul>
{% endblock %}
