{% extends model('component') %}

{% define config = {
    name: 'product-bundle',
    tag: 'div'
} %}

{% define data = {
    bundleItems: required,
} %}


{% block body %}
    <h4 class="product-bundle__title">{{ 'bundle.title' | trans }}</h4>

        {% embed molecule('slick-carousel') with {
            modifiers: ['full-width', 'equal-height', 'products', 'full-height'],
            data: {
                slides: data.bundleItems,
                name: config.name
            },
            attributes: {
                'slider-config': '{
                "slidesToShow": 4,
                "slidesToScroll": 1,
                "dots": false,
                "infinite": false,
                "responsive": [{
                     "breakpoint": 1024,
                     "settings": {
                         "slidesToShow": 3
                     }
                },
                {
                     "breakpoint": 768,
                     "settings": {
                         "slidesToShow": 2,
                         "infinite": true
                     }
                },
                {
                     "breakpoint": 550,
                     "settings": {
                         "slidesToShow": 1,
                         "infinite": true
                     }
                }]
            }'
            }
        } only %}
            {% block slides %}
                {% for slide in data.slides %}
                    <div class="{{ data.name }}__item">
                        <a href="{{ slide.url }}" class="{{ data.name }}__img-block">
                            {% include molecule('lazy-image') with {
                                modifiers: ['full-size'],
                                data: {
                                    imageSrc: slide.image,
                                },
                            } only %}
                        </a>
                        <div class="{{ data.name }}__info">
                            <div class="{{ data.name }}__name">{{ slide.name }}</div>
                            <div class="{{ data.name }}__quantity">x {{ slide.quantity }}</div>
                        </div>
                        {% include molecule('product-bundle-detail', 'ProductDetailPage') with {
                            data: {
                                description: slide.description,
                                attributes: slide.attributes,
                                index: loop.index
                            }
                        } only %}
                    </div>
                {% endfor %}
            {% endblock %}
        {% endembed %}

{% endblock %}
