{% extends model('component') %}

{% define config = {
    name: 'request-button',
} %}

{% define data = {
    url: required,
    iconName: 'message',
    text: 'quote_request_widget.request_for_quote.list.title' | trans,
} %}

{% block body %}
    <a class="{{ config.name }}__link" href="{{ data.url }}">
        <div class="{{ config.name }}__icon">
            {% include atom('icon') with {
                modifiers: [data.iconName],
                data: {
                    name: data.iconName,
                },
            } only %}
        </div>
        <div class="{{ config.name }}__text">{{ data.text }}</div>
    </a>
{% endblock %}
