{% extends model('component') %}

{% define config = {
    name: 'quick-order-form-field-list',
    tag: 'table'
} %}

{% block class %}
    {{ parent() }} table
{% endblock %}

{% block body %}
    <thead>
        <tr>
            <th>{{ 'quick-order.input-label.sku' | trans }}</th>
            <th colspan="2">{{ 'quick-order.input-label.qty' | trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data.items %}
            <tr>
                <td>
                    {{ form_row(item.sku, {
                        required: loop.first
                    }) }}
                </td>
                <td>
                    {{ form_row(item.qty, {
                        required: loop.first
                    }) }}
                </td>
                <td>
                    {% if not loop.first %}
                        <a href="#remove" class="link {% block removeActionClass %}{% endblock %}" data-row-index="{{loop.index0}}">
                            {% include atom('icon') with {
                                modifiers: ['link'],
                                data: {
                                    name: 'delete'
                                }
                            } only %}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
