{% extends template('widget') %}

{% define data = {
    shoppingListCollection: _widget.shoppingListCollection,
    sku: _widget.sku,
    isDisabled: _widget.isDisabled,
    maxQuantity: 10,
    labels: {
        shoppingListNameLabel: 'customer.account.shopping_list.overview.name' | trans
    }
} %}

{% set shoppingListOptions = [] %}

{% if data.shoppingListCollection.shoppingLists|length %}
    {% for shoppingList in data.shoppingListCollection.shoppingLists %}
        {% set shoppingListOptions = shoppingListOptions|merge([{ value: shoppingList.idShoppingList, label: shoppingList.name }]) %}
    {% endfor %}
{% endif %}

{% block body %}
    <form class="grid grid--stretch grid--justify" method="POST" action="{{ path('shopping-list/add-item') }}">

        {% include molecule('quantity-counter') with {
            modifiers: ['right-space']
        } only %}

        <div class="col col--expand">
            <input type="hidden" name="sku" value="{{ data.sku }}" />

            {% if shoppingListOptions is not empty %}
                {% include atom('custom-select') with {
                    modifiers: ['expand', 'gap-after'],
                    attributes: {
                        name: 'idShoppingList'
                    },
                    data: {
                        options: shoppingListOptions
                    }
                } only %}
            {% endif %}

            <button type="submit"
                    class="button button--hollow button--bigger button--expand"
                    onclick="this.form.submit(); this.disabled='disabled'; return false;"
                    {{ qa('add-to-shopping-list-button') }}
                    {{ data.isDisabled ? 'disabled' : '' }}>
                {{ 'page.detail.add-to-shopping-list' | trans }}
            </button>
        </div>
    </form>
{% endblock %}
