{% extends molecule('return-create-form', '@SprykerShop:SalesReturnPage') %}

{% block formStart %}
    {{ form_start(data.form, {'attr': {'class': 'js-return-create__target-form'}}) }}
{%  endblock %}

{% block salesReturnOrderInfoSeparator %}{% endblock %}

{% block salesReturnProductItem %}
    {% set salesReturnProductItemClass = 'grid grid--middle grid--justify grid--nowrap' %}

    {{ parent() }}
{% endblock %}

{% block salesReturnProducts %}
    {% set salesReturnProductsClass = 'spacing-bottom spacing-bottom--big' %}

    {% include molecule('checkbox-select-all') with {
        class: 'spacing-y spacing-y--inner spacing-y--big',
        modifiers: ['expand', 'bordered'],
        data: {
            label: 'checkbox-select-all.title' | trans,
        },
        attributes: {
            'target-class-name': 'js-return-create__trigger-state-toggler',
        },
    } only %}

    {{ parent() }}
{% endblock %}

{% block salesReturnProductItemInner %}
    {{ form_errors(returnItem) }}

    {% block salesReturnProductItemInfo %}
        {% embed molecule('return-product-item', 'SalesReturnPage') with {
            class: productItemReturnClass,
            data: {
                item: orderItem,
            },
            embed: {
                returnItem: returnItem,
                isReturnable: isReturnable,
                checkboxWrapperClass: checkboxWrapperClass,
            },
        } only %}
            {% block body %}
                <div class="col col--sm-12 grid grid--nowrap">
                    {{ parent() }}
                </div>

                {% include molecule('return-product-reason', 'SalesReturnPage') with {
                    class: config.name ~ '__reason col col--sm-12 col--lg-5',
                    data: {
                        returnItem: embed.returnItem,
                        isReturnable: embed.returnItem.vars.value.orderItem.isReturnable,
                    },
                } only %}
            {% endblock %}

            {% block checkboxColumnInner %}
                <div class="{{ config.name }}__checkbox {{ embed.checkboxWrapperClass }}">
                    {{ form_row(embed.returnItem.isReturnable, {
                        label: ' ',
                        attr: { 
                            class: 'js-return-create__trigger-state-toggler',
                        },
                        disabled: not embed.isReturnable,
                    }) }}
                </div>

                <div class="col col--expand">
                    {% include molecule('lazy-image') with {
                        class: config.name ~ '__image',
                        data: {
                            imageSrc: data.item.metadata.image,
                        },
                    } only %}
                </div>
            {% endblock %}

            {% block productItemInfoInner %}
                <div class="spacing-bottom spacing-bottom--big">
                    {% for returnPolicyMessage in data.item.returnPolicyMessages %}
                        <div class="badge badge--hollow spacing-bottom spacing-bottom--small">
                            {{ returnPolicyMessage.value | trans(returnPolicyMessage.parameters) }}
                        </div>
                    {% endfor %}

                    {% if not data.item.isReturnable %}
                        <div class="badge badge--hollow spacing-bottom spacing-bottom--small">
                            {{ 'return_page.returnable_state' | trans }}
                        </div>
                    {% endif %}
                </div>

                <div class="is-hidden-lg-xl">
                    {% set state = data.item.state.name | replace({' ': '-'}) | lower %}
                    {% set stateLabel = data.item.state.displayName ?? ('oms.state.' ~ state) %}

                    {{ block('state') }}
                </div>

                {{ parent() }}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endblock %}
