{% extends molecule('asset-list', '@SprykerFeature:SelfServicePortal') %}

{% block option %}
    {% set compatibilityLabel %}
        {% if data.idProduct %}
            {% widget 'AssetCompatibilityLabelWidget' args [asset.reference, data.idProduct] only %}
            {% endwidget %}
        {% endif %}
    {% endset %}

    {% set information = {
        serial: asset.serialNumber,
        name: asset.name,
        reference: asset.reference,
        id: asset.idSspAsset,
        compatibilityLabel: compatibilityLabel,
    } %}

    <li class="{{ config.name }}__item">
        <span class="{{ config.name }}__content">
            <strong class="{{ config.name }}__name">{{ asset.name }}</strong>

            <span class="{{ config.name }}__data">
                {% if asset.serialNumber %}
                    <span>{{ 'self_service_portal.asset.item.serial' | trans }}: {{ asset.serialNumber }}</span>
                {% endif %}

                <span class="{{ config.name }}__status">{{ compatibilityLabel | raw }}</span>
            </span>
        </span>

        <button class="button button--hollow button--small-space {{ config.jsName }}__item" data-information="{{ information | json_encode }}">
            {{ 'self_service_portal.asset.item.button' | trans }}
        </button>
    </li>
{% endblock %}
