{% extends model('component') %}

{% define config = {
    name: 'review-average-display',
    tag: 'section',
} %}

{% define data = {
    summary: required,
    ratingMaxValue: required,
} %}

{% define attributes = {
    itemscope: '',
    itemtype: 'http://schema.org/AggregateRating',
    itemprop: 'aggregateRating',
} %}

{% block body %}
    <div class="{{ config.name }}__average-rating">
        {{ data.summary.averageRating | executeFilterIfExists('formatFloat', app.locale) }}
    </div>

    <meta itemprop="ratingValue" content="{{ data.summary.averageRating | executeFilterIfExists('formatFloat', app.locale) }}">
    <meta itemprop="bestRating" content="{{ data.summary.maximumRating | executeFilterIfExists('formatFloat', app.locale) }}">
    <meta itemprop="reviewCount" content="{{ data.summary.totalReview | executeFilterIfExists('formatInt', app.locale) }}">

    {% include molecule('rating-selector', 'ProductReviewWidget') with {
        modifiers: ['pdp'],
        class: config.name ~ '__rating-selector',
        data: {
            value: data.summary.averageRating,
            maxValue: data.ratingMaxValue,
            useHalfSteps: true,
        },
        attributes: {
            readonly: true,
        },
    } only %}

    {% if data.summary.totalReview > 0 %}
        <div class="{{ config.name }}__total-review">
            {{- data.summary.totalReview | executeFilterIfExists('formatInt', app.locale) }}

            {% set amount = data.summary.totalReview > 1 ? 'multiple' : data.summary.totalReview %}

            {{ amount | trans({
                '1' : 'product_review.summary.review' | trans,
                'multiple': 'product_review.summary.reviews' | trans,
            }) -}}
        </div>
    {% else %}
        <div class="{{ config.name }}__total-review is-hidden-sm-only">
            {{ 'product_review.no_reviews' | trans }}
        </div>
    {% endif %}

{% endblock %}
