{% extends molecule('invitation-table', '@SprykerShop:CompanyUserInvitationPage') %}

{% block body %}
    <table class="table table--expand table--responsive">
        <thead>
            <tr class="active">
                <th>{{ 'company.user.invitation.first.name' | trans }}</th>
                <th>{{ 'company.user.invitation.last.name' | trans }}</th>
                <th>{{ 'company.user.invitation.mail' | trans }}</th>
                <th>{{ 'company.user.invitation.business.unit' | trans }}</th>
                <th>{{ 'company.user.invitation.status' | trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for invitation in data.invitations %}
                {% set idCompanyUserInvitation = {'idCompanyUserInvitation': invitation.idCompanyUserInvitation} %}

                <tr>
                    <td class="transform-cell spacing-top spacing-top--inner spacing-top--big" data-content="{{ 'company.user.invitation.first.name' | trans }}">{{ invitation.firstName }}</td>
                    <td class="transform-cell" data-content="{{ 'company.user.invitation.last.name' | trans }}">{{ invitation.lastName }}</td>
                    <td class="transform-cell" data-content="{{ 'company.user.invitation.mail' | trans }}">{{ invitation.email }}</td>
                    <td class="transform-cell" data-content="{{ 'company.user.invitation.business.unit' | trans }}">{{ invitation.companyBusinessUnitName }}</td>
                    <td class="transform-cell spacing-bottom spacing-bottom--inner spacing-bottom--big" data-content="{{ 'company.user.invitation.status' | trans }}">{{ ('company.user.invitation.status.' ~ invitation.companyUserInvitationStatusKey) | trans }}</td>
                    <td class="table__actions">
                        {% include molecule('table-action-list') with {
                            data: {
                                items: [
                                    {
                                        url: path('company/user-invitation/send', idCompanyUserInvitation),
                                        icon: 'send',
                                        title: 'company.user.invitation.send.button',
                                        available: invitation.companyUserInvitationStatusKey == 'new',
                                        isSingleClickable: true,
                                    },
                                    {
                                        url: path('company/user-invitation/resend', idCompanyUserInvitation),
                                        icon: 'send',
                                        title: 'company.user.invitation.resend.button',
                                        available: invitation.companyUserInvitationStatusKey == 'pending',
                                    },
                                    {
                                        url: path('company/user-invitation/delete', idCompanyUserInvitation),
                                        icon: 'delete',
                                        title: 'company.user.invitation.delete.button',
                                    },
                                ],
                            },
                        } only %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
