{% extends template('widget') %}

{% define data = {
    cartQuantity: _widget.cartQuantity | default,
    activeCart: _widget.activeCart,
    carts: _widget.cartList,
    isMultiCartAllowed: _widget.isMultiCartAllowed
} %}

{% set cartAmount = data.carts | length + 1 %}

{% block body %}
    {% if data.isMultiCartAllowed is not empty %}

        <ul class="menu menu--wide">
            {% if data.activeCart is not empty %}
                <li class="menu__item">
                    {% include molecule('mini-cart-detail', 'MultiCartWidget') with {
                        data: {
                            cart: data.activeCart
                        }
                    } only %}
                </li>
            {% endif %}

            {% if data.carts is not empty %}
                {% for cart in data.carts %}
                    <li class="menu__item">
                        {% include molecule('mini-cart-detail', 'MultiCartWidget') with {
                            data: {
                                cart: cart
                            }
                        } only %}
                    </li>
                {% endfor %}
            {% endif %}
            <li class="menu__item spacing-x spacing-x--inner spacing-x--bigger spacing-y spacing-y--inner spacing-y--big">
                <a class="button button--hollow spacing-right spacing-right--big" href="{{ path('multi-cart') }}" title="{{ 'multi_cart_widget.cart.view_all' | trans }}">
                    {{ 'multi_cart_widget.cart.view_all' | trans }}
                </a>
                <a class="button" href="{{url('multi-cart/create')}}" title="{{ 'multi_cart_widget.cart.add' | trans }}">
                    {% include atom('icon') with {
                        modifiers: ['create-new-cart'],
                        data: {
                            name: 'create-new-cart'
                        }
                    } only %}
                    {{ 'multi_cart_widget.cart.add' | trans }}
                </a>
            </li>
        </ul>
    {% else %}
        {% include molecule('cart-items-counter') with {
            data: {
                quantity: data.cartQuantity
            }
        } only %}
    {% endif %}
{% endblock %}
