{% extends model('component') %}

{% define config = {
    name: 'shopping-list-product-option-list'
} %}

{% define data = {
    options: required
} %}

{% block body %}
    <ul class="list">
    {% for child in data.options %}
        <li class="{{ config.name }}__item">
            <strong>{{ form_label(child) }}</strong>
            {% embed molecule('custom-select') with {
                modifiers: ['full-width', 'small'],
                attributes: {
                    name: child.vars.full_name,
                    'config-width': '100%',
                    'config-theme': 'small'
                },
                embed: {
                    options: child.vars.choices
                }
            } only %}
                {% block options %}
                    <option value="">{{ 'product.product_options_select' | trans }}</option>
                    {% for option in embed.options %}
                        <option value="{{option.data.getIdProductOptionValue}}" {% if option.data.getIsSelected %} selected {% endif %}>
                            {{ option.data.getValue | trans }} {{ option.data.getPrice | money }}
                        </option>
                    {% endfor %}
                {% endblock %}
            {% endembed %}

            {{ form_errors(child) }}
            {% do child.setRendered %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
