{% extends model('component') %}

{% define config = {
    name: 'color-selector',
    tag: 'color-selector'
} %}

{% define data = {
    items: required
} %}

{% define attributes = {
    'target-image-selector': required
} %}

{% block component %}
    {% if data.items is not empty %}
        {{parent()}}
    {% endif %}
{% endblock %}

{% block body %}
    {% for item in data.items %}
        {% set image = item.images is defined ? item.images | first : null %}
        <a
            class="{{config.name}}__color {% if loop.first %}{{config.name}}__color--active{% endif %} {{config.jsName}}__color"
            href="{{ item.url }}"
            data-image-src="{{ image ? image.externalUrlSmall : '' }}"
            {% if item.colorCode %}style="background-color:{{ item.colorCode }};"{% endif %}>
        </a>
    {% endfor %}
{% endblock %}
