{% extends template('page-layout-quote-request', '@SprykerShop:QuoteRequestPage') %}

{% block sectionInformation %}
    {% set gridClass = 'grid grid--gap spacing-bottom spacing-bottom--big' %}
    {% set leftColClass = 'col col--sm-12 col--xl-9' %}
    {% set rightColClass = 'col col--sm-12 col--xl-3' %}

    <div class="{{ gridClass }}">
        <div class="{{ leftColClass }}">
            <div class="box">
                {% block orderInformation %}{% endblock %}
            </div>
        </div>

        <div class="{{ rightColClass }}">
            <div class="box box--smaller">
                {% block quoteRequestInformation %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block sectionContainer %}
    {% set gridClass = 'grid grid--gap' %}
    {% set leftColClass = 'col col--sm-12 col--xl-9' %}
    {% set rightColClass = 'col col--sm-12 col--xl-3' %}

    {{ parent() }}
{% endblock %}

{% block priceModeInner %}
    <div class="spacing-bottom spacing-bottom--big">
        {% set priceModeWrapperClass = 'grid grid--justify spacing-y' %}

        {{ parent() }}

        {% if data.itemsWithoutShipment %}
            {{ block('titleForItemsWithoutShipmentWrapper') }}
        {% endif %}

        {% if hasMultiShipments %}
            {% for shipmentGroup in data.shipmentGroups %}
                {{ block('titleForMultiShipmentsWrapper') }}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block wrapperForProductsWithoutShipment %}
    {{ block('productsWithoutShipment') }}
{% endblock %}

{% block wrapperForMultiShipmentItem %}
    {{ block('productsForMultiShipments') }}
{% endblock %}
