{% extends model('component') %}

{% define config = {
    name: 'image-gallery',
    tag: 'image-gallery',
} %}

{% define data = {
    idProductAbstract: required,
    images: [],
} %}

{% define attributes = {
    'active-class': config.name ~ '__item--active',
    'config-thumbnail-slider': '{
        "slidesToShow": 4,
        "slidesToScroll": 1,
        "infinite": false,
        "vertical": true,
        "dots": false,
        "arrows": true,
        "prevArrow": "<div class=\'thumb-prev\'><svg class=\'icon\'><use href=\'#:caret-down\'></use></svg></div>",
        "nextArrow": "<div class=\'thumb-next\'><svg class=\'icon\'><use href=\'#:caret-down\'></use></svg></div>",
        "responsive": [
            {
                "breakpoint": 768,
                "settings": {
                    "dots": true,
                    "slidesToShow": 1,
                    "arrows": false,
                    "vertical": false
                }
            }]
    }',
} %}

{% set imagesQuantity = data.images | length %}

{% block extraClass %}
    {{ config.jsName }}
{% endblock %}

{% block body %}
    {% if imagesQuantity > 1 %}
        <div class="{{ config.name }}__thumbnail {{ config.jsName }}__thumbnails">
            {% for image in data.images %}
                <div class="{{ config.name }}__thumbnail-item">
                    {% if image.externalUrlLarge is not empty %}
                        <img class="{{ config.name }}__thumbnail-img" src="{{ image.externalUrlLarge }}" alt="">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="{{ config.name }}__container">
        {% for image in data.images %}
            {% set leftIndentItemClass = imagesQuantity > 1 ? config.name ~ '__item--left-indent' %}
            {% set activeItemClass = loop.first ? attributes['active-class'] %}

            <div class="{{ config.name }}__item {{ config.jsName }}__item {{ leftIndentItemClass }} {{ activeItemClass }}">
                {% if image.externalUrlLarge is not empty %}
                    <img class="{{ config.name }}__image" src="{{ image.externalUrlLarge }}" alt="">
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
