{% extends model('component') %}

{% define config = {
    name: 'image-gallery',
    tag: 'image-gallery'
} %}

{% define data = {
    idProductAbstract: required,
    images: []
} %}

{% define attributes = {
    'active-class': config.name ~ '__item--active',
    'config-thumbnail-slider': '{
        "slidesToShow":4,
        "slidesToScroll":1,
        "infinite":false,
        "vertical":true,
        "prevArrow":"<div class=\'thumb-prev\'><svg class=\'icon\'><use href=\'#:caret-down\'></use></svg></div>",
        "nextArrow":"<div class=\'thumb-next\'><svg class=\'icon\'><use href=\'#:caret-down\'></use></svg></div>"
    }'
} %}

{% set imagesQuantity = data.images | length %}
{% set firstImage = data.images | first %}

{% block body %}
    {% if (imagesQuantity > 1) %}
        <div class="{{config.name}}__thumbnail {{config.jsName}}__thumbnails">
            {% for image in data.images %}
                <div class="{{config.name}}__thumbnail-item">
                    {% if image.externalUrlLarge is not empty %}
                        <img class="{{config.name}}__thumbnail-img" src="{{ image.externalUrlLarge }}" alt="">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="{{config.jsName}} {{config.name}}__container">
        {% for i, image in data.images %}
            <div class="{{config.name}}__item
                        {{config.jsName}}__item
                        {% if (imagesQuantity > 1) %}{{config.name}}__item--left-indent{% endif %}
                        {% if i == 0 %}{{config.name}}__item--active{% endif %}">
                {% if image.externalUrlLarge is not empty %}
                    <img class="{{config.name}}__image" src="{{ image.externalUrlLarge }}" alt="">
                {% endif %}
            </div>
        {% endfor %}

        <div class="{{config.name}}__item
                    js-pdp-image-color-group
                    {% if (imagesQuantity > 1) %}{{config.name}}__item--left-indent{% endif %}">
            {% if firstImage.externalUrlLarge is not empty %}
                <img class="{{config.name}}__image" src="{{ firstImage.externalUrlLarge }}" alt="">
            {% endif %}
        </div>
    </div>
{% endblock %}
