{% extends model('component') %}

{% define config = {
    name: 'order-detail-table',
    tag: 'div'
} %}

{% define data = {
    items: required,
    currencyIsoCode: required
} %}

{% block body %}
    <table>
        <thead class="{{ config.name }}__head">
            <tr>
                {% block headerRow %}
                    <th class="{{ config.name }}__cell {{ config.name }}__cell--head">{{ 'customer.order.item_sku' | trans }}</th>
                    <th class="{{ config.name }}__cell {{ config.name }}__cell--head">{{ 'customer.order.product_name' | trans }}</th>
                    <th class="{{ config.name }}__cell {{ config.name }}__cell--head">{{ 'customer.order.item_price' | trans }}</th>
                    <th class="{{ config.name }}__cell {{ config.name }}__cell--head">{{ 'customer.order.item_quantity' | trans }}</th>
                    <th class="{{ config.name }}__cell {{ config.name }}__cell--head">{{ 'customer.order.item_sum' | trans }}</th>
                {% endblock %}
            </tr>
        </thead>
        <tbody>
            {% for item in data.items %}
                {% set isBundle = item.bundleItems is defined %}
                {% set concreteItem = item.bundleProduct | default(item) %}

                <tr class="{{ config.name }}__row">
                    {% block row %}
                        {% if widgetExists('OrderDetailProductPackagingUnitWidgetPlugin') %}
                            {{ widget('OrderDetailProductPackagingUnitWidgetPlugin', concreteItem, data.currencyIsoCode) }}
                        {% else %}
                            <td class="{{ config.name }}__cell">
                                {{ concreteItem.sku }}
                            </td>
                            <td class="{{ config.name }}__cell">
                                {{ concreteItem.name }}
                            </td>
                            <td class="{{ config.name }}__cell">
                                {{ concreteItem.sumPrice | money(true, data.currencyIsoCode) }}
                            </td>
                            <td class="{{ config.name }}__cell">
                                {{ concreteItem.quantity }}
                            </td>
                            <td class="{{ config.name }}__cell">
                                {{ concreteItem.sumPriceToPayAggregation | money(true, data.currencyIsoCode) }}
                            </td>
                        {% endif %}
                    {% endblock %}
                </tr>

                {% if isBundle %}
                    <tr class="{{ config.name }}__row {{ config.name }}__row--detail">
                        {% block bundleDetailRow %}
                            <td class="{{ config.name }}__cell {{ config.name }}__cell--detail" colspan="5">
                                {{ "customer.order.bundled_items" | trans }} <br />
                                {% for bundledItem in item.bundleItems %}
                                    - {{ bundledItem.quantity }} x {{ bundledItem.name }} <br />
                                {% endfor %}

                                {% if concreteItem.productOptions is not empty %}
                                    {{ "customer.order.options" | trans }} <br />
                                    {% for productOption in concreteItem.productOptions %}
                                        &nbsp; - {{ productOption.value | trans }} {{ productOption.sumPrice | money(true, data.currencyIsoCode) }}  <br />
                                    {% endfor %}
                                {% endif %}
                            </td>
                        {% endblock %}
                    </tr>
                {% else %}
                    {% if concreteItem.productOptions is not empty %}
                        {% for productOption in concreteItem.productOptions %}
                            <tr class="{{ config.name }}__row {{ config.name }}__row--detail">
                                {% block detailRow %}
                                    <td></td>
                                    <td class="{{ config.name }}__cell {{ config.name }}__cell--detail">
                                        +&nbsp;<small>{{ productOption.value | trans }}</small>
                                    </td>
                                    <td class="{{ config.name }}__cell {{ config.name }}__cell--detail">
                                        <small>{{ productOption.sumPrice | money(true, data.currencyIsoCode) }}</small>
                                    </td>
                                    <td class="{{ config.name }}__cell {{ config.name }}__cell--detail" colspan="2"></td>
                                {% endblock %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endif %}

                {{ widget('CartNoteOrderItemNoteWidgetPlugin', concreteItem) }}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
