{% extends molecule('order-detail-table', '@SprykerShop:CustomerPage') %}

{% block body %}
    {% for shipmentGroup in data.shipmentGroups %}
        <article class="grid grid--gap spacing-bottom spacing-bottom--big">
            <h3 class="col col--sm-12 title title--second spacing-bottom spacing-bottom--small">
                {{ 'page.checkout.shipment.shipment_group_heading' | trans({
                    '%current%': loop.index,
                    '%total%': loop.length
                }) }}
            </h3>
            <div class="col col--sm-12 col--xl-8">
                {% for item in shipmentGroup.items %}
                    {% set item = item.bundleProduct ?? item %}

                    {% embed molecule('product-item') with {
                        modifiers: ['order-detail'],
                        data: {
                            listItem: item,
                            quantity: item.quantity,
                            priceModifiers: ['medium', 'block', 'margin-bottom-from-tablet'],
                            hasSubQuantity: true,
                            hasAmountPerQuantity: true,
                        },
                        embed: {
                            order: data.order,
                        },
                    } only %}
                        {% block image %}
                            {% embed molecule('product-item-image') with {
                                modifiers: ['small'],
                                data: {
                                    name: data.listItem.name,
                                    image: data.listItem.metadata.image,
                                },
                                embed: {
                                    order: embed.order,
                                    listItem: data.listItem,
                                },
                            } only %}
                                {% block body %}
                                    {% if embed.order is not empty %}
                                        <span class="{{ config.name }}__checkbox">
                                            {% widget 'CustomerReorderItemCheckboxWidget' args [embed.listItem] only %}{% endwidget %}
                                        </span>
                                    {% endif %}

                                    {{ parent() }}
                                {% endblock %}
                            {% endembed %}
                        {% endblock %}

                        {% block title %}
                            <h6 class="{{ config.name }}__title spacing spacing--reset">{{ data.listItem.name }}</h6>
                        {% endblock %}

                        {% block note %}
                            {% if data.listItem.cartNote is not empty %}
                                {% include molecule('cart-item-note', 'CartNoteWidget') ignore missing with {
                                    data: {
                                        isNoteNotEmpty: true,
                                        canWrite: false,
                                        label: 'cart_note.checkout_page.quote_note',
                                        note: data.listItem.cartNote,
                                    },
                                } only %}
                            {% endif %}
                        {% endblock %}

                        {% block bundle %}{% endblock %}
                    {% endembed %}
                {% endfor %}
            </div>

            <div class="col col--sm-12 col--xl-4">
                {% include molecule('summary-sidebar', 'CheckoutPage') ignore missing with {
                    data: {
                        shipment: shipmentGroup.shipment,
                        canEdit: false,
                    },
                } only %}
            </div>
        </article>
    {% endfor %}
{% endblock %}
