{% extends view('option-configurator', '@SprykerShop:ProductOptionWidget') %}

{% block body %}
    <div class="product-options js-product-options">
        {% for optionGroup in data.optionGroups %}
            <div class="product-options__item">
                <div class="product-options__title js-product-options__title" data-toggle-target="[data-product-option='{{ optionGroup.name }}']">{{ optionGroup.name | trans }}</div>
                <div data-product-option="{{ optionGroup.name }}" class="is-hidden">
                    {% embed molecule('custom-select') with {
                        modifiers: ['full-width', 'margin-bottom'],
                        attributes: {
                            name: 'product-option[' ~ optionGroup.name ~ ']',
                            'config-width': '100%',
                        },
                        embed: {
                            options: optionGroup.productOptionValues,
                        },
                    } only %}
                        {% block options %}
                            <option value="0">{{ 'product.product_options_select' | trans }}</option>
                            {% for option in embed.options %}
                                <option value="{{ option.idProductOptionValue }}">
                                    {{ option.value | trans }} {% if can('SeePricePermissionPlugin') %}{{ option.price | money }}{% endif %}
                                </option>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% include molecule('toggler-accordion') with {
        attributes: {
            'wrap-class-name': 'js-product-options',
            'trigger-class-name': 'js-product-options__title',
        },
    } only %}
{% endblock %}
