{% extends view('order', '@SprykerShop:CustomerPage') %}

{% block customerContent %}
    {% embed molecule('action-bar') with {
        modifiers: ['first'],
        data: {
            title: 'customer.account.order_history' | trans,
        },
        embed: {
            jsPrefix: jsPrefix,
        },
    } only %}
        {% block actions %}
            <button class="button button--hollow button--justify-center {{ embed.jsPrefix }}filter-button">
                {% include atom('icon') with {
                    modifiers: ['filter'],
                    class: 'spacing-right',
                    data: {
                        name: 'filter',
                    },
                } only %}
                {{ 'customer.account.button.search_filters' | trans }}
            </button>

            {% include molecule('toggler-click') with {
                attributes: {
                    'trigger-class-name': embed.jsPrefix ~ 'filter-button',
                    'target-class-name': embed.jsPrefix ~ 'filter-section',
                    'trigger-class-to-toggle': 'button--hollow-active',
                },
            } only %}
        {% endblock %}
    {% endembed %}

    {% block filterSection %}
        {% if data.orderSearchForm %}
            {% block formStart %}
                {{ form_start(data.orderSearchForm, {
                    attr: {
                        class: jsPrefix ~ 'form',
                    },
                }) }}
            {% endblock %}

            {%- set activeFilters -%}
                {% block orderActiveFilters %}
                    {{ parent() }}
                {% endblock %}
            {%- endset -%}

            <div class="{{ jsPrefix }}filter-section {% if not activeFilters | trim %}is-hidden{% endif %}">
                {% block orderFilters %}
                    {{ parent() }}
                {% endblock %}

                {{ activeFilters | raw }}
            </div>
        {% endif %}
    {% endblock %}

    {% block orderTable %}
        {{ parent() }}
    {% endblock %}

    {% block pagination %}
        {% include molecule('pagination') with {
            data: data.pagination,
        } only %}
    {% endblock %}

    {% if data.orderSearchForm %}
        {% block endForm %}
            {{ form_end(data.orderSearchForm) }}
        {% endblock %}
    {% endif %}
{% endblock %}
