{% extends model('component') %}

{% define config = {
    name: 'review-distribution-display',
    tag: 'table',
} %}

{% define data = {
    summary: required,
} %}

{% block body %}
    {% for rating, ratingReview in data.summary.ratingAggregation %}

        {% if data.summary.totalReview == 0  %}
            {% set ratingReviewPercent = 100 %}
        {% else %}
            {% set ratingReviewPercent =  100 - (ratingReview / data.summary.totalReview * 100) %}
        {% endif %}

        <tr>
            <td class="{{ config.name }}__summary-stars">
                {{ rating | executeFilterIfExists('formatInt', app.locale) }}

                {% set amount = rating > 1 ? 'multiple' : rating %}

                {{ amount | trans({
                    '1' : 'product_review.summary.star' | trans,
                    'multiple': 'product_review.summary.stars' | trans,
                }) }}
            </td>
            <td>
                <div class="{{ config.name }}__progress" max="{{ data.summary.totalReview }}" value="{{ ratingReview }}">
                    <div class="{{ config.name }}__progress-active" style="left: -{{ ratingReviewPercent }}%;"></div>
                </div>
            </td>
            <td class="{{ config.name }}__rating-review">
                {{ ratingReview | executeFilterIfExists('formatInt', app.locale) }}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
