{% extends molecule('business-unit-delete-message', '@SprykerShop:CompanyPage') %}

{% set businessUnitId = {'id': data.companyBusinessUnit.idCompanyBusinessUnit} %}

{% block body %}
    <div class="spacing-bottom spacing-bottom--big">
        {{ "company.business_unit.delete.message.text" | trans }}:
        <strong>{{ data.companyBusinessUnit.name }}</strong>
    </div>
    <div class="grid">
        <div class="col">
            <a href="{{ url('company/business-unit/update', businessUnitId) }}" class="button button--hollow">
                {{ "company.company_business_unit.delete.confirmation.back" | trans }}
            </a>
        </div>
        <div class="col spacing-left">
            {% if data.form %}
                {{ form_start(data.form, {'action': path('company/business-unit/delete', {'id': businessUnitId}) }) }}
                <button data-init-single-click class="button button--alert">{{ "company.account.business_unit.delete" | trans }}</button>
                {{ form_end(data.form) }}
            {% else %}
                <form id="companyBusinesUnitDeleteForm" name="companyBusinesUnitDeleteForm" method="POST"
                      action="{{ path('company/business-unit/delete', {'id': businessUnitId}) }}">
                    <input type="hidden" name="company_business_unit_delete_form[_token]" value="{{ csrf_token('company_business_unit_delete_form')}}">
                    <button data-init-single-click class="button button--alert">{{ "company.account.business_unit.delete" | trans }}</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
