{% extends molecule('product-card-item') %}

{% define config = {
    name: 'product-cart-item',
} %}

{% define data = {
    imageModifiers: ['cart'],
    hasAdditionalTitle: false,
} %}

{% block productDescription %}
    <div class="{{ config.name }}__col {{ config.name }}__col--description col">
        <div class="{{ config.name }}__inner grid grid--stretch grid--gap">
            <div class="{{ config.name }}__col {{ config.name }}__col--content col">
                {{ block('title') }}
                {{ block('info') }}
                {{ block('productConfiguration') }}
                {{ block('productInfo') }}

                {% if data.hasAdditionalTitle %}
                    <h6 class="{{ config.name }}__additional-title">{{ 'cart_note.form.comment' | trans }}:</h6>
                {% endif %}
            </div>

            <div class="{{ config.name }}__col {{ config.name }}__col--total col">
                <div class="{{ config.name }}__inner {{ config.name }}__inner--actions {{ config.name }}__inner--full-height grid grid--column grid--justify-column">
                    <div class="col col--sm-12">
                        <div class="{{ config.name }}__inner {{ config.name }}__inner--total grid grid--column">
                            {% block price %}
                                {% if can('SeePricePermissionPlugin') %}
                                    {% set subtotalPrice = data.listItem.unitPrice is defined ? data.listItem.unitPrice : data.listItem.price %}

                                    {% include molecule('money-price') with {
                                        modifiers: ['medium', 'block'],
                                        data: {
                                            amount: subtotalPrice,
                                            currencyIsoCode: data.list.currency.code,
                                        },
                                    } only %}
                                {% endif %}
                            {% endblock %}

                            {% block quantity %}
                                {% set isEmptyProductInfo = amountSalesUnit is empty and quantitySalesUnit is empty and data.quantity is empty %}

                                {% if isEmptyProductInfo %}
                                    <div class="{{ config.name }}__quantity-holder">
                                        {% include molecule('product-item-quantity') with {
                                            data: {
                                                productItem: data.listItem,
                                                isDisabled: not data.canEdit,
                                            },
                                        } only %}
                                    </div>
                                {% endif %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="{{ config.name }}__inner grid grid--stretch grid--gap">
            <div class="{{ config.name }}__col {{ config.name }}__col--content col">
                {% block note %}
                    {% widget 'CartItemNoteFormWidget' args [data.listItem, data.list] with {
                        data: {
                            isTitleVisible: false,
                        },
                    } only %}
                    {% endwidget %}
                {% endblock %}

                {% if data.listItem.productOptions is defined and data.listItem.productOptions %}
                    {% include molecule('product-item-options') with {
                        modifiers: modifiers,
                        data: {
                            productItem: data.listItem,
                        },
                    } only %}
                {% endif %}

                {% if data.options %}
                    {% include molecule('product-item-options') with {
                        data: {
                            options: data.options,
                        },
                    } only %}
                {% endif %}
            </div>

            <div class="{{ config.name }}__col {{ config.name }}__col--total col">
                <div class="{{ config.name }}__inner {{ config.name }}__inner--actions {{ config.name }}__inner--full-height grid grid--column grid--justify-column">
                    <div class="col col--sm-12">
                        <div class="{{ config.name }}__inner {{ config.name }}__inner--total grid grid--column">
                            {% block totalPrice %}
                                {% if can('SeePricePermissionPlugin') %}
                                    {% set totalPrice = data.listItem.unitPrice is defined ? data.listItem.sumSubtotalAggregation : data.listItem.price %}

                                    {% embed molecule('money-price') with {
                                        class: 'grid grid--wide',
                                        modifiers: ['secondary'],
                                        data: {
                                            amount: totalPrice,
                                            currencyIsoCode: data.list.currency.code,
                                        },
                                    } only %}
                                        {% block body %}
                                            <strong class="col col--sm-4 col--lg-5 text-left">{{ 'cart.item.item_total' | trans }}</strong>

                                            {% if data.amount is empty -%}
                                                {{ data.noPriceText }}
                                            {%- else -%}
                                                <span class="{{config.name}}__amount {{config.name}}__amount--secondary col col--sm-8 col--lg-7">
                                                    {{ data.amount | money(true, data.currencyIsoCode) }}
                                                </span>
                                            {%- endif -%}
                                        {% endblock %}
                                    {% endembed %}
                                {% endif %}
                            {% endblock %}
                        </div>
                    </div>

                    {% block deleteButton %}
                        {% if data.canRemove %}
                            {% widget 'RemoveFromCartFormWidget' args [data.listItem] with {
                                embed: {
                                    configName: config.name,
                                },
                            } only %}
                                {% block embeddedData %}
                                    <div class="col {{ embed.configName }}__delete-cart">
                                        <button class="link link--icon" title="{{ 'cart.delete.item' | trans }}" data-init-single-click>
                                            {% include atom('icon') with {
                                                modifiers: ['link'],
                                                data: {
                                                    name: 'delete',
                                                },
                                            } only %}
                                            <span class="is-hidden-sm-md">{{ 'cart.delete.item' | trans }}</span>
                                        </button>
                                    </div>
                                {% endblock %}
                            {% endwidget %}
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
