{% extends model('component') %}
{% import _self as component %}

{% define config = {
    name: 'display-address',
    tag: 'ul',
} %}

{% define data = {
    address: required,
    isAddressLabelVisible: true,
} %}

{% block class %}
    {{ parent() }} list
{% endblock %}

{% block body %}
    {% set addressSalutation = 'customer.salutation.' ~ data.address.salutation | lower %}
    {% set isAddressLabelExists = (data.address.isDefaultBilling or data.address.isDefaultShipping) and data.isAddressLabelVisible %}

    <li class="list__item">{{ addressSalutation | trans }} <strong class="{{ component.renderClass(config.name ~ '__name', modifiers) }}">{{ data.address.firstName }} {{ data.address.lastName }}</strong></li>

    {% if data.address.company is not empty %}
        <li class="list__item">{{ data.address.company }}</li>
    {% endif %}

    <li class="list__item">{{ data.address.address1 }} {{ data.address.address2 }}</li>

    {% if data.address.address3 is not empty %}
        <li class="{{ config.name }}__item">{{ data.address.address3 }}</li>
    {% endif %}

    <li class="list__item">{{ data.address.zipCode }} {{ data.address.city }}, {{ ('countries.iso.' ~ data.address.iso2code) | trans }}</li>

    {% if data.address.phone is not empty %}
        <li class="list__item">{{ data.address.phone }}</li>
    {% endif %}

    {% if isAddressLabelExists %}
        <li class="list__item {{ component.renderClass(config.name ~ '__bottom', modifiers) }}">
            {% if data.address.isDefaultBilling %}
                <span class="badge badge--summary badge--multi-cart spacing-right">{{'customer.order.billing_address' | trans}}</span>
            {% endif %}

            {% if data.address.isDefaultShipping %}
                <span class="badge badge--summary badge--multi-cart">{{'customer.order.shipping_address' | trans}}</span>
            {% endif %}
        </li>
    {% endif %}
{% endblock %}
