{% extends model('component') %}

{% define config = {
    name: 'order-table',
    tag: 'div'
} %}

{% define data = {
    orders: required
} %}

{% block body %}
    {% if data.orders is empty %}
        <p>{{ 'customer.account.no_order' | trans }}</p>
    {% else %}
        <table class="table table--expand table--responsive">
            <thead>
                <tr>
                    <th>{{ 'customer.order.order_id' | trans }}</th>
                    <th>{{ 'customer.order.date' | trans }}</th>
                    <th colspan="2">{{ 'customer.order.total' | trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for order in data.orders %}
                    <tr>
                        <td class="transform-cell spacing-top spacing-top--inner spacing-top--big" data-content={{ 'customer.order.order_id' | trans }}>
                            {{- order.orderReference -}}
                        </td>
                        <td class="transform-cell" data-content={{ 'customer.order.date' | trans }}>
                            {{- date(order.createdAt) | formatDateTime -}}
                        </td>
                        <td class="transform-cell spacing-bottom spacing-bottom--inner spacing-bottom--big" data-content={{ 'customer.order.total' | trans }}>
                            <strong>
                                {{- order.totals.grandTotal | default(0) | money(true, order.currencyIsoCode) -}}
                            </strong>
                        </td>

                        <td class="table__actions grid spacing spacing--inner spacing--reset">
                            {% embed molecule('table-action-list') with {
                                data: {
                                    items: [
                                        {
                                            url: path('customer/order/details', { id: order.idSalesOrder }),
                                            icon: 'eye',
                                            title: 'customer.order.view_order',
                                            iconModifier: 'big'
                                        }
                                    ]
                                },
                                embed: {
                                    order: order
                                }
                            } only %}
                                {% block body %}
                                    {{ parent() }}
                                    {% if widgetExists('CustomerReorderWidgetPlugin') %}
                                        <li class="{{ config.name }}__item">
                                            {{ widgetBlock('CustomerReorderWidgetPlugin', 'reorderAction', embed.order) }}
                                        </li>
                                    {% endif %}
                                {% endblock %}
                            {% endembed %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
