{% extends model('component') %}

{% define config = {
    name: 'order-table',
    tag: 'div'
} %}

{% define data = {
    orders: required
} %}

{% block body %}
    {% if data.orders is empty %}
        <p>{{ 'customer.account.no_order' | trans }}</p>
    {% else %}
        <table class="table table--expand">
            <thead>
                <tr>
                    <th>{{ 'customer.order.order_id' | trans }}</th>
                    <th>{{ 'customer.order.date' | trans }}</th>
                    <th colspan="2">{{ 'customer.order.total' | trans }}</th>
                </tr>
            </thead>

            <tbody>
                {% for order in data.orders %}
                    <tr>
                        <td>
                            {{- order.orderReference -}}
                        </td>
                        <td>
                            {{- date(order.createdAt) | formatDateTime -}}
                        </td>
                        <td>
                            <strong>
                                {{- order.totals.grandTotal | default(0) | money(true, order.currencyIsoCode) -}}
                            </strong>
                        </td>
                        <td class="table__actions">
                            <ul class="menu menu--inline">
                                <li class="menu__item">
                                    <a class="table__action"
                                       href="{{ path('customer/order/details', { id: order.idSalesOrder }) }}"
                                       title="{{ 'customer.order.view_order' | trans }}"
                                    >
                                        {% include atom('icon') with {
                                            data: {
                                                name: 'eye'
                                            }
                                        } only %}
                                    </a>
                                </li>
                                {% if widgetExists('CustomerReorderWidgetPlugin') %}
                                    <li class="menu__item">
                                        {{ widgetBlock('CustomerReorderWidgetPlugin', 'reorderAction', order) }}
                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
