{% extends molecule('order-table', '@SprykerShop:CustomerPage') %}

{% block extraClass %}{% endblock %}

{% block body %}
    {% set isSearchItemsVisible = data.isOrderSearchEnabled and data.isOrderSearchOrderItemsVisible %}

    {% if data.orders is empty %}
        <p>{{ 'customer.account.no_order' | trans }}</p>
    {% else %}
        <table class="table table--expand table--responsive table--medium-indent">
            <thead>
                <tr>
                    <th {{ _self.sortingAttributes('orderReference', data.orderSearchForm, data.jsPrefix, config.name ~ '__sorting-title') }}>
                        {{ 'customer.order.reference' | trans }}
                        {{ _self.sortingIcon('orderReference', data.orderSearchForm, config.name ~ '__sorting-icon') }}
                    </th>
                    <th {{ _self.sortingAttributes('date', data.orderSearchForm, data.jsPrefix, config.name ~ '__sorting-title') }}>
                        {{ 'customer.order.date' | trans }}
                        {{ _self.sortingIcon('date', data.orderSearchForm, config.name ~ '__sorting-icon') }}
                    </th>
                    {% if data.isOrderSearchEnabled and isCustomerDataColumnsVisible %}
                        <th {{ _self.sortingAttributes('customerName', data.orderSearchForm, data.jsPrefix, config.name ~ '__sorting-title') }}>
                            {{ 'customer.order.company_user' | trans }}
                            {{ _self.sortingIcon('customerName', data.orderSearchForm, config.name ~ '__sorting-icon') }}
                        </th>
                        <th {{ _self.sortingAttributes('customerEmail', data.orderSearchForm, data.jsPrefix, config.name ~ '__sorting-title') }}>
                            {{ 'customer.order.email' | trans }}
                            {{ _self.sortingIcon('customerEmail', data.orderSearchForm, config.name ~ '__sorting-icon') }}
                        </th>
                    {% endif %}
                    {% if isSearchItemsVisible %}
                        <th>{{ 'customer.order.number_of_items' | trans }}</th>
                    {% endif %}
                    <th>{{ 'customer.order.total' | trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% set searchItemsActiveRowClass = isSearchItemsVisible ? config.name ~ '__row-active' %}

                {% for order in data.orders %}
                    <tr class="{{ searchItemsActiveRowClass }}">
                        <td class="transform-cell spacing-top spacing-top--inner spacing-top--big" data-content="{{ 'customer.order.order_id' | trans }}">
                            {{- order.orderReference -}}
                        </td>
                        <td class="transform-cell" data-content="{{ 'customer.order.date' | trans }}">
                            {{- date(order.createdAt) | formatDateTime -}}
                        </td>
                        {% if data.isOrderSearchEnabled and isCustomerDataColumnsVisible %}
                            <td class="transform-cell" data-content="{{ 'customer.order.company_user' | trans }}">{{ order.firstName ~ ' ' ~ order.lastName }}</td>
                            <td class="transform-cell" data-content="{{ 'customer.order.email' | trans }}">{{ order.email }}</td>
                        {% endif %}
                        {% if isSearchItemsVisible %}
                            <td class="transform-cell" data-content="{{ 'customer.order.number_of_items' | trans }}">
                                <span class="badge badge--order">{{ order.items.count }}</span>
                            </td>
                        {% endif %}
                        <td class="transform-cell spacing-bottom spacing-bottom--inner spacing-bottom--big" data-content="{{ 'customer.order.total' | trans }}">
                            <strong>
                                {{- order.totals.grandTotal | default(0) | money(true, order.currencyIsoCode) -}}
                            </strong>
                        </td>

                        <td class="spacing-x spacing-x--inner spacing-x--reset">
                            {% include molecule('table-action-list') with {
                                data: {
                                    items: [
                                        {
                                            url: path('customer/order/details', { id: order.idSalesOrder }),
                                            icon: 'eye',
                                            title: 'customer.order.view_order',
                                            iconModifier: 'big',
                                        },
                                        {
                                            url: path('customer/order/reorder', { 'idSalesOrder': order.idSalesOrder }),
                                            icon: 'cart',
                                            title: 'customer.order.reorder',
                                            iconModifier: 'big',
                                        },
                                    ],
                                },
                            } only %}
                        </td>
                    </tr>
                    {% if isSearchItemsVisible %}
                        <tr>
                            <td colspan="100" class="{{ config.name }}__products">
                                {% include molecule('order-table-products', 'CustomerPage') with {
                                    data: {
                                        items: order.items,
                                        priceMode: order.priceMode,
                                    },
                                } only %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if data.orderSearchForm %}
        {{ form_row(data.orderSearchForm.orderBy, {
            attr: {
                class: data.jsPrefix ~ 'orderBy-target',
            }})
        }}

        {{ form_row(data.orderSearchForm.orderDirection, {
            attr: {
                class: data.jsPrefix ~ 'orderDirection-target',
            }})
        }}

        {% include molecule('form-sort-submitter', 'CustomerPage') with {
            attributes: {
                'form-class-name': data.jsPrefix ~ 'form',
                'trigger-class-name': data.jsPrefix ~ 'sort-trigger',
                'target-sort-by-class-name': data.jsPrefix ~ 'orderBy-target',
                'target-sort-direction-class-name': data.jsPrefix ~ 'orderDirection-target',
            },
        } only %}
    {% endif %}

    {%- macro sortingAttributes(orderByValue, orderSearchForm, jsPrefix, class='') -%}
        {% if orderSearchForm %}
            {% set orderDirection = orderSearchForm.orderDirection.vars.value %}

            class="{{ class }} {{ jsPrefix }}sort-trigger"
            sort-by="{{ orderByValue }}"
            sort-direction="{{ (orderDirection == 'ASC') ? 'DESC' : 'ASC' }}"
        {% endif %}
    {%- endmacro -%}

    {%- macro sortingIcon(orderByValue, orderSearchForm, class='') -%}
        {% if orderSearchForm %}
            {% set orderDirection = orderSearchForm.orderDirection.vars.value %}
            {% set orderBy = orderSearchForm.orderBy.vars.value %}
            {% set iconName = 'sort-none' %}

            {% if orderBy == orderByValue %}
                {% set iconName = (orderDirection == 'ASC') ? 'sort-asc' : 'sort-desc' %}
            {% endif %}

            {% include atom('icon') with {
                modifiers: ['small'],
                class: class,
                data: {
                    name: iconName,
                },
            } only %}
        {% endif %}
    {%- endmacro -%}
{% endblock %}
