{% extends model('component') %}

{% define config = {
    name: 'role-table',
    tag: 'div'
} %}

{% define data = {
    roles: required,
    actions: {
        view: true,
        update: false,
        delete: false
    }
} %}

{% set showActions = data.actions.view or data.actions.update or data.actions.delete %}

{% block body %}
    <table class="table table--expand table--responsive">
        <thead>
            <tr>
                <th>{{ 'company.account.company_role.name' | trans }}</th>
                <th>{{ 'company.account.company_role.is_default' | trans }}</th>
                {% if showActions %}
                    <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for role in data.roles %}
            <tr>
                <td class="transform-cell spacing-top spacing-top--inner spacing-top--big" data-content="{{ 'company.account.company_role.name' | trans }}">{{ role.name }}</td>
                <td class="transform-cell spacing-bottom spacing-bottom--inner spacing-bottom--big" data-content="{{ 'company.account.company_role.is_default' | trans }}">
                    {% include atom('icon') with {
                        class: 'table__icon',
                        data: {
                            name: role.isDefault ? 'check' : 'cross'
                        }
                    } only %}
                </td>
                {% if showActions %}
                    <td class="table__actions grid spacing spacing--inner spacing--reset">
                        {% include molecule('table-action-list') with {
                            data: {
                                items: [
                                    {
                                        url: path('company/company-role/details', {'id': role.idCompanyRole}),
                                        icon: 'edit',
                                        title: 'company.account.company_role.view',
                                        available: data.actions.view ? true : false
                                    },
                                    {
                                        url: url('company/company-role/update', {'id': role.idCompanyRole}),
                                        icon: 'edit',
                                        title: 'company.account.business_unit.edit',
                                        available: data.actions.update ? true : false
                                    },
                                    {
                                        url: url('company/company-role/confirm-delete', {'id': role.idCompanyRole }),
                                        icon: 'delete',
                                        title: 'company.account.business_unit.delete',
                                        available: data.actions.delete ? true : false
                                    }
                                ]
                            }
                        } only %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
