{% extends atom('node') %}

{% define config = {
    name: 'navigation-multilevel-node',
    tag: 'li'
} %}

{% block body %}
    {{ parent() }}

    <ul class="menu">
        {% for childNode in data.node.children %}
            {% set hasChildren = childNode.children | length > 0 %}

            {% include molecule('navigation-multilevel-node') with {
                class: 'menu__item' ~ (hasChildren ? ' menu__item--has-children-list' : ''),
                data: {
                    node: childNode
                }
            } only %}
        {% endfor %}
    </ul>
{% endblock %}

{% block url %}
    <a class="menu__link" href="{{ data.node.url }}">{{ data.node.title }}</a>
{% endblock %}

{% block link %}
    <a class="menu__link" href="{{ data.node.url }}">{{ data.node.title }}</a>
{% endblock %}

{% block externalUrl %}
    <a class="menu__link" href="{{ data.node.url }}" target="_blank">{{ data.node.title }}</a>
{% endblock %}

{% block other %}
    <span class="menu__text">{{ data.node.title }}</span>
{% endblock %}

