{% extends template('page-layout-main') %}

{% define data = {
    set: _view.productSet,
    views: _view.productViews,
    title: _view.productSet.name,
    metaTitle: _view.productSet.metaTitle,
    metaKeywords: _view.productSet.metaKeywords,
    metaDescription: _view.productSet.metaDescription
} %}

{% block pageInfo %}{% endblock %}

{% block content %}
    {% set images = [] %}

    {% if data.set.imageSets.count %}
        {% for image in data.set.imageSets.0.images %}
            {% set images = images | merge([image.externalUrlLarge | default(null)]) %}
        {% endfor %}
    {% endif %}

    {% embed organism('product-set-details', 'ProductSetWidget') ignore missing with {
        data: {
            title: data.set.name,
            products: data.views,
            name: data.set.name,
            description: data.set.description,
            images: data.set.imageSets.0.images | default([]),
        },
        embed: {
            title: data.title,
            images: images,
        },
    } only %}
        {% block banner %}
            {% embed molecule('slick-carousel') with {
                modifiers: ['jumbotron', 'non-fixed-height'],
                attributes: {
                    'slider-config': '{
                        "slidesToShow": 1,
                        "dots": true,
                        "autoplay": false,
                        "nextArrow": false,
                        "prevArrow": false
                    }'
                },
                embed: {
                    title: data.title,
                    images: embed.images,
                    configName: config.name,
                },
            } only %}
                {% block slides %}
                    {% for image in embed.images %}
                        {% embed molecule('banner') with {
                            class: embed.configName,
                            data: {
                                imageUrl: image,
                                title: embed.title,
                            },
                        } only %}
                            {% block content %}
                                <h1 class="title title--light title--product-set-details">{{ data.title }}</h1>
                                <p class="{{ config.name }}__text {{ config.name }}__text--subtitle">
                                    {{- 'product.set' | trans -}}
                                </p>
                            {% endblock %}

                            {% block body %}
                                {% set containerClass = config.name ~ '__container grid grid--column grid--middle grid--center' %}
                                {% set contentClass = contentClass ~ ' text-center' %}

                                {{ parent() }}
                            {% endblock %}
                        {% endembed %}
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}
