{% extends model('component') %}

{% define config = {
    name: 'action-card',
    tag: 'div'
} %}

{% define data = {
    title: '',
    actions: []
} %}

{% block body %}
    <div class="{{ config.name }}__header">
        <h4 class="{{ config.name }}__title">
            {{- data.title -}}
        </h4>

        <div class="{{ config.name }}__actions">
            {% block actions %}
                {% for action in data.actions %}
                    <a class="{{ config.name }}__action"
                    href="{{ action.url }}"
                    title="{{ action.title }}"
                    >
                        {% if action.icon | default(false) %}
                            {% include atom('icon') with {
                                class: config.name ~ '__icon',
                                data: {
                                    name: action.icon
                                }
                            } only %}
                        {% endif %}
                    </a>
                {% endfor %}
            {% endblock %}
        </div>
    </div>

    <div class="{{ config.name }}__content">
        {%- block content %}{% endblock -%}
    </div>
{% endblock %}
