{% extends model('component') %}
{% import _self as component %}

{% define config = {
    name: 'checkbox',
    tag: 'span'
} %}

{% define data = {
    label: '',
    isChecked: false,
    inputClass: '',
} %}

{% define attributes = {
    type: 'checkbox',
    required: false
} %}

{% if data.isChecked %}
    {% set attributes = attributes | merge({ 'checked': 'checked' }) %}
{% endif %}

{% block body %}
    {% set iconName = 'check' %}

    <label class="{{ component.renderClass(config.name ~ '__container', modifiers) }}" {{ qa('label') }}>
        <input class="{{ component.renderClass(config.name ~ '__input', modifiers) }} {% block inputClass %} {{- data.inputClass -}} {% endblock %}" {{ component.renderAttributes(attributes) }}>
        <span class="{{ component.renderClass(config.name ~ '__box', modifiers) }}">
            {% block icon %}
                {% include atom('icon') with {
                    class: component.renderClass(config.name ~ '__' ~ iconName, modifiers),
                    modifiers: ['small'],
                    data: {
                        name: iconName,
                    },
                } only %}
            {% endblock %}
        </span>
        {%- block labelContainer -%}
            <span class="{{ component.renderClass(config.name ~ '__label', modifiers) }} label {% if attributes.required %}label--required{% endif %}">
                {%- block label -%}{{data.label | raw}}{%- endblock -%}
            </span>
        {%- endblock -%}
    </label>
{% endblock %}
