{% extends organism('filter-section', '@SprykerShop:CatalogPage') %}

{% set isContentPresent = data.facets | length > 0 %}

{% block extraClass %}
    {{ config.jsName }}
{% endblock %}

{% block body %}
    {% set triggerButtonJsName = data.parentJsName ? data.parentJsName ~ '__trigger' %}

    {% if isContentPresent %}
        <h3 class="{{ config.name ~ '__title' }} is-hidden-lg-xxl">{{ 'catalog.filter.and.sorting.button' | trans }}</h3>
        <button class="{{ config.name ~ '__close' }} is-hidden-lg-xxl js-catalog-filters-trigger">
            {% include atom('icon') with {
                data: {
                    name: 'cross',
                },
            } only %}
        </button>

        <div class="{{ config.name ~ '__sorting ' ~ config.jsName ~ '__sorting' }} is-hidden-lg-xxl"></div>
        <div class="{{ config.name ~ '__holder ' ~ config.jsName ~ '__holder' }}">
            {% set facets = data.filteredFacets is not empty ? data.filteredFacets : data.facets %}
            {% for filter in facets %}
                {% set filterHasValues = filter.values is not defined or filter.values | length > 0 %}
                {% set togglerClass = '' %}

                {% if filterHasValues %}
                    {% block filters %}
                        {% set isFilterCategory = filter.name == 'category' %}
                        {% set itemClass = isFilterCategory ? config.name ~ '__item--hollow' %}
                        {% set itemTitleClass = isFilterCategory ? 'is-hidden-lg-xxl' %}

                        <div class="{{ config.name ~ '__item' }} {{ itemClass }}">
                            <h2 class="title title--h6 {{ config.name ~ '__item-title toggler-accordion__item ' ~ config.jsName ~ '__trigger' ~ '-' ~ filter.name }} {{ itemTitleClass }}"
                                data-toggle-target=".{{ config.jsName ~ '__' ~ filter.name }}">
                                {{ ('product.filter.' ~ filter.name | lower) | trans }}
                                {% include atom('icon') with {
                                    class: 'toggler-accordion__icon',
                                    modifiers: ['small'],
                                    data: {
                                        name: 'caret-down',
                                    },
                                } only %}
                            </h2>
                            {% set contentModifier = filter.name == 'category' ? config.name ~ '__item-content--hollow' : '' %}
                            {% set hiddenClassToToggleSections = filter.name == 'category' ? 'is-hidden-sm-md' : 'is-hidden' %}
                            {% set togglerClass = config.name ~ '__item-content ' ~ config.jsName ~ '__' ~ filter.name ~ ' ' ~ hiddenClassToToggleSections ~ ' ' ~ contentModifier %}

                            {% include [
                                molecule('filter-' ~ filter.config.name, 'CatalogPage'),
                                molecule('filter-' ~ filter.config.type, 'CatalogPage'),
                                ] ignore missing with {
                                data: {
                                    filterPath: data.filterPath,
                                    categories: data.categories,
                                    filter: filter,
                                    parameter: filter.config.parameterName | default,
                                    min: filter.min | default(0),
                                    max: filter.max | default(0),
                                    activeMin: filter.activeMin | default(0),
                                    activeMax: filter.activeMax | default(0),
                                    isEmptyCategoryFilterValueVisible: data.isEmptyCategoryFilterValueVisible,
                                    parentJsName: data.parentJsName,
                                    numberFormatConfig: data.numberFormatConfig,
                                },
                                class: togglerClass,
                            } only %}

                            {% include molecule('toggler-accordion') with {
                                attributes: {
                                    'wrap-class-name': config.jsName ~ '__holder',
                                    'trigger-class-name': config.jsName ~ '__trigger-' ~ filter.name,
                                    'class-to-toggle': hiddenClassToToggleSections,
                                },
                            } only %}
                        </div>
                    {% endblock %}
                {% endif %}
            {% endfor %}
        </div>

        <button type="button" class="button button--expand button--big {{ config.name }}__button {{ triggerButtonJsName }}">{{ 'catalog.filter.button' | trans }}</button>
    {% endif %}
{% endblock %}
