{% extends molecule('stats-overview','@SprykerFeature:SelfServicePortal') %}

{% block title %}
    {% include molecule('title-counter', 'SelfServicePortal') with {
        class: 'col--sm-12',
        data: {
            title: data.title,
        },
    } only %}
{% endblock %}

{% block stat %}
    <div class="{{ config.name }}__stat text-center" data-qa="stats-column">
        <strong class="{{ config.name }}__counter" data-qa="stats-column-counter">{{ stat.value | default('ssp_dashboard.overview.not_applicable' | trans) }}</strong>
        <div class="{{ config.name }}__title" data-qa="stats-column-title">{{ stat.title | trans }}</div>
    </div>
{% endblock %}


{% block statCol %}
    {% for stat in data.stats %}
        <div class="col col--with-gutter col--sm-12 col--md-6 col--xl-4">
            {{ block('stat') }}
        </div>
    {% endfor %}
{% endblock %}
