{% extends model('component') %}

{% define config = {
    name: 'agent-control-item'
} %}

{% define data = {
    status: required,
    buttonLink: required,
    buttonName: required,
    firstName: '',
    lastName: '',
} %}

{% block body %}
    <div class="col {{ config.name }}__info">
        {{ data.status }}
        <div class="{{ config.name }}__name">{{ data.firstName }} {{ data.lastName }}</div>
    </div>
    <div class="col {{ config.name }}__button-wrap">
        <a href="{{ data.buttonLink }}" class="button button--hollow button--big">{{ data.buttonName }}</a>
    </div>
{% endblock %}
