{% extends view('asset-info-for-item', '@SprykerFeature:SelfServicePortal') %}

{% block title %}
    <div class="title--h6"><strong>{{ 'self_service_portal.asset.assigned_asset' | trans }}:</strong></div>
{% endblock %}

{% block asset %}
    <ul class="list title--h6">
        <li class="list__item ">
            {{ 'self_service_portal.asset.name' | trans }}: <a href="{{ path('customer/ssp-asset/details', {'reference': data.asset.reference }) }}">{{ data.asset.name }}</a>
        </li>

        {% if data.asset.serialNumber %}
            <li class="list__item">
                {{ 'self_service_portal.asset.serial_number' | trans }}: {{ data.asset.serialNumber }}
            </li>
        {% endif %}

        {% if data.isCompatibilityVisible %}
            <li class="list__item">
                {% widget 'AssetCompatibilityLabelWidget' args [data.asset.reference, data.idProduct] %}{% endwidget %}
            </li>
        {% endif %}
    </ul>
{% endblock %}
