{% extends model('component') %}

{% define config = {
    name: 'cart-code-summary',
    tag: 'ul',
} %}

{% define data = {
    isQuoteEditable: false,
    voucherDiscounts: null,
    ruleDiscounts: null,
    discountTotal: null,
    currencyIsoCode: null,
} %}

{% set isDiscountsExists = data.discountTotal and (data.voucherDiscounts is not empty or data.ruleDiscounts is not empty) %}

{% block component %}
    {% if isDiscountsExists %}{{ parent() }}{% endif %}
{% endblock %}

{% block body %}
    {% if data.voucherDiscounts is not empty %}
        <li class="list__item">
            {% include molecule('cart-code-clear-link', 'CartCodeWidget') with {
                class: 'float-right text-small',
                data: {
                    isQuoteEditable: data.isQuoteEditable,
                },
            } only %}

            <strong>{{ 'cart.vouchers' | trans }}</strong>
            <ul>
                {% for voucherDiscount in data.voucherDiscounts %}
                    <li class="grid grid--justify">
                        <span class="col col--sm-7">
                            {{ voucherDiscount.displayName }}

                            {% include molecule('cart-code-remove-link', 'CartCodeWidget') with {
                                class: 'text-small',
                                data: {
                                    isQuoteEditable: data.isQuoteEditable,
                                    code: voucherDiscount.voucherCode,
                                },
                            } only %}
                        </span>
                        <span class="col col--expand text-right">- {{ voucherDiscount.amount | money(true, data.currencyIsoCode) }}</span>
                    </li>
                {% endfor %}
            </ul>
            <hr>
        </li>
    {% endif %}

    {% if data.ruleDiscounts is not empty %}
        <li class="list__item">
            <strong>{{ 'cart.discounts' | trans }}</strong>
            <ul>
                {% for ruleDiscount in data.ruleDiscounts %}
                    <li class="grid grid--justify">
                        <span class="col col--sm-8">{{ ruleDiscount.displayName }}</span>
                        <span class="col col--expand text-right">- {{ ruleDiscount.amount | money(true, data.currencyIsoCode) }}</span>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endblock %}
