{% extends model('component') %}

{% define config = {
    name: 'cart-code-summary',
    tag: 'ul',
} %}

{% define data = {
    isQuoteEditable: false,
    voucherDiscounts: null,
    ruleDiscounts: null,
    discountTotal: null,
    currencyIsoCode: null,
} %}

{% set isDiscountsExists = data.discountTotal and (data.voucherDiscounts is not empty or data.ruleDiscounts is not empty) %}

{% block component %}
    {% if isDiscountsExists %}{{ parent() }}{% endif %}
{% endblock %}

{% block body %}
    {% if data.voucherDiscounts is not empty %}
        <li class="{{ config.name }}__item">
            {% include molecule('single-button-form') with {
                class: 'float-right text-small',
                data: {
                    formAction: url('cart-code/code/clear'),
                    buttonText: 'cart.vouchers.clear-all' | trans,
                    buttonClass: 'link text-alt',
                    fieldName: 'cart_code_clear_form[_token]',
                    fieldValue: csrf_token('cart_code_clear_form'),
                    iconName: '',
                },
            } only %}

            <strong>{{ 'cart.vouchers' | trans }}</strong>
            <ul class="{{ config.name }}__content">
                {% for voucherDiscount in data.voucherDiscounts %}
                    <li class="grid grid--justify">
                        <span class="col col--sm-7 {{ config.name }}__text">{{ voucherDiscount.displayName }}</span>
                        <span class="col col--expand {{ config.name }}__price">- {{ voucherDiscount.amount | money(true, data.currencyIsoCode) }}</span>

                        {% include molecule('single-button-form') with {
                            class: 'col col--sm-12 text-small',
                            data: {
                                formAction: url('cart-code/code/remove', {'code': voucherDiscount.voucherCode}),
                                buttonText: 'cart.voucher.remove' | trans,
                                buttonClass: 'link text-alt',
                                fieldName: 'cart_code_remove_form[_token]',
                                fieldValue: csrf_token('cart_code_remove_form'),
                                iconName: '',
                            },
                        } only %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}

    {% if data.ruleDiscounts is not empty %}
        <li class="{{ config.name }}__item">
            <strong>{{ 'cart.discounts' | trans }}</strong>
            <ul class="{{ config.name }}__content">
                {% for ruleDiscount in data.ruleDiscounts %}
                    <li class="grid grid--justify">
                        <span class="col col--sm-8 {{ config.name }}__text">{{ ruleDiscount.displayName }}</span>
                        <span class="col col--expand {{ config.name }}__price">- {{ ruleDiscount.amount | money(true, data.currencyIsoCode) }}</span>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endblock %}
