{% extends model('component') %}

{% define config = {
    name: 'navigation-top1',
    tag: 'nav'
} %}

{% define data = {
    cartQuantity: 0,
    showUserMenu: true
} %}

{% block body %}
	<ul class="grid grid--middle grid--right">
		<li class="{{ config.name }}-navigation__item">
			<a href="{{ url('login') }}" class="{{ config.name }}__link">
				{% include atom('icon') with {
                                    modifiers: ['big'],
                                    data: {
                                        name: 'wishlist'
                                    }
                                } only %}
			</a>
		</li>
		<li class="{{ config.name }}-navigation__item">
			<a href="{{ url('login') }}" class="{{ config.name }}__link {{ config.jsName }}__trigger">
				{% include atom('icon') with {
                                    modifiers: ['big'],
                                    data: {
                                        name: 'user-account'
                                    }
                                } only %}
			</a>
		</li>
		<li class="{{ config.name }}-navigation__item">
			<a href="#">
				{% include atom('icon') with {
                            modifiers: ['big'],
                            data: {
                                name: 'cart'
                            }
                        } only %}
			</a>
		</li>

	</ul>
{% endblock %}
