{% extends molecule('rating-selector', '@SprykerShop:ProductReviewWidget') %}
{% import _self as component %}

{% define data = {
    reviewCount: '',
} %}

{% block body %}
    {{ parent() }}

    {% if data.reviewCount is not empty %}
        {% set reviewCountJsName = data.parentJsName ? data.parentJsName ~ '__review-count' %}

        <span class="{{ component.renderClass(config.name ~ '__count', modifiers) }} {{ config.jsName }}__review-count {{ reviewCountJsName }}">({{ data.reviewCount | default(0) | executeFilterIfExists('formatInt', app.locale) }})</span>
    {% endif %}
{% endblock %}
