{% extends molecule('configured-bundle', '@SprykerShop:ConfigurableBundleWidget') %}

{%- block extraClass %}{% endblock -%}

{% block bundleGeneralInformation %}
    <div class="{{ config.name }}__col col col--sm-12 col--md-8">
        {% block bundleName %}
            <h6 class="{{ config.name }}__title spacing-right spacing-right--big">
                {%- block bundleNameText -%}
                    {{ parent() }}
                {%- endblock -%}
            </h6>
        {% endblock %}
    </div>
{% endblock %}

{% block bundleQuantity %}
    <div class="{{ config.name }}__col col col--sm-12 col--md-2">
        {% block bundleQuantityInner %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block bundlePriceInformation %}
    <div class="{{ config.name }}__col col col--sm-12 col--md-2">
        {% block bundleTotal %}
            {{ parent() }}

            {%- block bundleTotalTitle -%}{%- endblock %}
        {% endblock %}
    </div>
{% endblock %}
