{% extends molecule('configured-bundle', '@SprykerShop:ConfigurableBundleWidget') %}

{% define data = {
    isQuantityVisible: true,
} %}

{%- block extraClass %}{% endblock -%}

{% block body %}
    {% block bundle %}
        {{ parent() }}
    {% endblock %}

    {% block bundleProductList %}
        {{ parent() }}
    {% endblock %}

    {% set bundleActionClassName = 'float-right spacing-y' %}
    <div class="{{ config.name }}__actions">
        <div class="col col--sm-12 col--xl-5">
            {% block configurableBundleNote %}
                {{ parent() }}
            {% endblock %}
        </div>
        <div class="col col--bottom col--sm-12 col--xl-2 spacing-y">
            {% block bundleActions %}
                {{ parent() }}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block notEditableConfigurableBundleNote %}
    {% include molecule('cart-configured-bundle-item-note', 'ConfigurableBundleNoteWidget') ignore missing with {
        data: {
            canWrite: false,
            note: data.bundle.note,
        },
    } only %}
{% endblock %}

{% block bundleInner %}
    {% block bundleGeneralInformation %}
        <div class="grid col col--sm-12 col--md-7">
            {% block bundleName %}
                <h6 class="{{ config.name }}__title spacing-right spacing-right--big">
                    {%- block bundleNameText -%}
                        {{ parent() }}
                    {%- endblock -%}
                </h6>
            {% endblock %}
        </div>
    {% endblock %}

    <div class="{{ config.name }}__info grid grid--middle col col--sm-12 col--md-5">
        {% block bundleQuantity %}
            {% if data.isQuantityVisible %}
                <div class="{{ config.name }}__col {{ config.name }}__col--displaced col col--middle col--md-6">
                    {% block bundleQuantityInner %}
                        {{ parent() }}
                    {% endblock %}
                </div>
            {% endif %}
        {% endblock %}

        {% block bundlePriceInformation %}
            <div class="{{ config.name }}__col col col--middle col--sm-12 col--md-3">
                {% block bundleTotal %}
                    {{ parent() }}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

{%- block bundleTotalInner -%}
    {% block bundleTotalValue -%}
        {{ parent() }}
    {%- endblock -%}
{%- endblock -%}

{% block bundleActionsInner %}
    {% set bundleActionClassName = 'link link--icon float-right spacing-left spacing-left--big' %}

    {{ parent() }}
{% endblock %}

{% block removeLinkInner %}
    {% include atom('icon') with {
        modifiers: ['link'],
        data: {
            name: 'delete',
        },
    } only %}
    <span class="is-hidden-sm-md">{{ 'configured_bundle.remove' | trans }}</span>
{% endblock %}
