{% extends molecule('configured-bundle', '@SprykerShop:ConfigurableBundleWidget') %}

{% define data = {
    isQuantityVisible: true,
} %}

{%- block extraClass %}{% endblock -%}

{% block bundleInner %}
    {% block bundleGeneralInformation %}
        <div class="grid col col--sm-12 col--md-7">
            {% block bundleName %}
                <h6 class="{{ config.name }}__title spacing-right spacing-right--big">
                    {%- block bundleNameText -%}
                        {{ parent() }}
                    {%- endblock -%}
                </h6>
            {% endblock %}
        </div>
    {% endblock %}

    <div class="grid grid--right grid--middle col col--sm-12 col--md-5">
        {% block bundleQuantity %}
            {% if data.isQuantityVisible %}
                <div class="{{ config.name }}__col col col--middle col--sm-12 col--md-5">
                    {% block bundleQuantityInner %}
                        {% include molecule('configured-bundle-quantity', 'ConfigurableBundleWidget') with {
                            class: 'col col--sm-12 spacing-x spacing-x--inner',
                            data: {
                                configuredBundle: data.bundle,
                                readOnly: not (data.isEditable and data.isQuantityChangeable),
                            },
                        } only %}
                    {% endblock %}
                </div>
            {% endif %}
        {% endblock %}

        {% block bundlePriceInformation %}
            <div class="{{ config.name }}__col col col--middle col--sm-12 col--md-3">
                {% block bundleTotal %}
                    {{ parent() }}
                {% endblock %}

                {% block bundleTotalTitle %}{% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block bundleActionsInner %}
    {% set bundleActionClassName = 'link link--icon float-right spacing-x spacing-x--big' %}

    {{ parent() }}
{% endblock %}

{% block removeLinkInner %}
    {% include atom('icon') with {
        modifiers: ['link'],
        data: {
            name: 'delete',
        },
    } only %}
    <span class="is-hidden-sm-md">{{ 'cart.delete.item' | trans }}</span>
{% endblock %}
