{% extends molecule('order-table-products', '@SprykerShop:CustomerPage') %}

{% block body %}
    {% for item in data.items %}
        {% embed molecule('product-item-list') with {
            modifiers: ['order'],
            data: {
                product: item,
                image: item.metadata.image,
            },
            embed: {
                priceMode: data.priceMode,
            },
        } only %}
            {% block extraClass %}{% endblock %}

            {% block image %}
                <div class="{{ config.name }}__image col col--sm-3 col--md-2">
                    {{ block('productThumbnail') }}
                </div>
            {% endblock %}

            {% block productThumbnail %}
                {% set modifiers = ['small', 'spaceless'] %}

                {{ parent() }}
            {% endblock %}

            {% block content %}
                {% set priceModeGross = 'GROSS_MODE' %}

                <div class="col col--sm-9 col--md-10 grid grid--middle">
                    <div class="col col--sm-12 col--lg-6">
                        {{ block('name') }}
                        {% if data.sku %}
                            <span class="{{ config.name }}__sku">
                                {{ 'customer.order.item_sku' | trans }}: {{ data.sku }}
                            </span>
                        {% endif %}
                    </div>
                    <div class="{{ config.name }}__price col col--sm-12 col--md-4 col--lg-2">
                        {% set price = (embed.priceMode == priceModeGross) ?
                            data.product.unitGrossPrice :
                            data.product.unitNetPrice %}
                        {{ price | money }}
                    </div>
                    <div class="{{ config.name }}__quantity col col--sm-12 col--md-4 col--lg-2">
                        x {{ data.product.quantity | executeFilterIfExists('formatInt', app.locale) }}
                    </div>
                    <div class="{{ config.name }}__sum-price col col--sm-12 col--md-4 col--lg-2">
                        {% set sum = (embed.priceMode == priceModeGross) ?
                            data.product.sumGrossPrice :
                            data.product.sumNetPrice %}
                        {{ sum | money }}
                    </div>
                </div>
            {% endblock %}

            {% block actionsContainer %}{% endblock -%}
        {% endembed %}
    {% endfor %}
{% endblock %}
