{% extends model('component') %}

{% define config = {
    name: 'tag-list',
    tag: 'ul',
} %}

{% define data = {
    tagNames: [],
    uuid: '',
    returnUrl: '',
    idCustomer: null,
    ajaxTriggerAttribute: null,
} %}

{% set disableClassName = data.idCustomer is null ? config.name ~ '__item-link--disabled' %}

{% block body %}
    {% for tagName in data.tagNames %}
        {% set linkClass = config.name ~ '__item-link' %}

        {% if data.ajaxTriggerAttribute %}
            <button {{ data.ajaxTriggerAttribute }} class="{{ linkClass }} {{ disableClassName }}" formaction="{{ path('comment/tag/async/remove', {'uuid': data.uuid, 'name': tagName }) }}">
                {{ tagName }}
            </button>
        {% else %}
            <li class="{{ config.name }}__item">
                <a class="{{ linkClass }} {{ disableClassName }}" href="{{ path('comment/tag/remove', {'uuid': data.uuid, 'name': tagName, 'returnUrl': data.returnUrl }) }}">
                    {{ tagName }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endblock %}
