{% extends model('component') %}

{% define config = {
    name: 'tag-list',
    tag: 'ul',
} %}

{% define data = {
    tagNames: [],
    uuid: '',
    returnUrl: '',
    idCustomer: null,
} %}

{% set disableClassName = data.idCustomer is null ? config.name ~ '__item-link--disabled' %}

{% block body %}
    {% for tagName in data.tagNames %}
        <li class="{{ config.name }}__item">
            <a class="{{ config.name }}__item-link {{ disableClassName }}" href="{{ path('comment/tag/remove', {'uuid': data.uuid, 'name': tagName, 'returnUrl': data.returnUrl }) }}">
                {{ tagName }}
            </a>
        </li>
    {% endfor %}
{% endblock %}
