{% extends model('component') %}

{% define config = {
    name: 'shopping-list-action-navigation',
    tag: 'div'
} %}

{% define data = {
    idShoppingList: required,
    hasWritePermission: required,
    shoppingList: required
} %}

{% block body %}
    {% if data.hasWritePermission %}
        <a class="{{ config.name }}__item col link link--alt link--action" href="{{ url('shopping-list/update', { idShoppingList: data.idShoppingList }) }}">
            {% include atom('icon') with {
                data: {
                    name: 'edit'
                }
            } only %}
            <span class="{{ config.name }}__text">{{ 'general.edit.button' | trans }}</span>
        </a>
        <a class="{{ config.name }}__item col link link--alt link--action" href="{{ url('shopping-list/share', { idShoppingList: data.idShoppingList }) }}">
            {% include atom('icon') with {
                modifiers: ['share'],
                data: {
                    name: 'share'
                }
            } only %}
            <span class="{{ config.name }}__text">{{ 'customer.account.shopping_list.overview.share' | trans }}</span>
        </a>
    {% endif %}

    <a class="{{ config.name }}__item col link link--alt link--action" href="{{ url('shopping-list/print', { idShoppingList: data.idShoppingList }) }}" target="_blank">
        {% include atom('icon') with {
            data: {
                name: 'print'
            }
        } only %}
        <span class="{{ config.name }}__text">{{ 'customer.account.shopping_list.overview.print' | trans }}</span>
    </a>

    {{ widget('ShoppingListDismissWidgetPlugin', data.shoppingList) }}

    {% if data.hasWritePermission %}
        <a class="{{ config.name }}__item col link link--alt link--action" href="{{ url('shopping-list/delete', { idShoppingList: data.idShoppingList }) }}">
            {% include atom('icon') with {
                data: {
                    name: 'delete'
                }
            } only %}
            <span class="{{ config.name }}__text">{{ 'customer.account.shopping_list.overview.delete' | trans }}</span>
        </a>
    {% endif %}
{% endblock %}
