{% extends model('component') %}

{% define config = {
    name: 'shopping-list-action-navigation',
    tag: 'div'
} %}

{% define data = {
    idShoppingList: required,
    hasWritePermission: required,
    shoppingList: required
} %}

{% block body %}
    {% if data.hasWritePermission %}
        <span class="{{ config.name }}__item">
            {% include molecule('table-action') with {
                class: 'link link--alt link--action',
                data: {
                    url: url('shopping-list/update', { idShoppingList: data.idShoppingList }),
                    icon: 'edit',
                    title: 'general.edit.button'
                }
            } only %}
        </span>
        <span class="{{ config.name }}__item">
            {% include molecule('table-action') with {
                class: 'link link--alt link--action',
                data: {
                    url: url('shopping-list/share', { idShoppingList: data.idShoppingList }),
                    icon: 'share',
                    title: 'customer.account.shopping_list.overview.share',
                    iconModifier: 'share'
                }
            } only %}
        </span>
    {% endif %}

    <span class="{{ config.name }}__item">
        {% include molecule('table-action') with {
            class: 'link link--alt link--action',
            data: {
                url: url('shopping-list/print', { idShoppingList: data.idShoppingList }),
                icon: 'print',
                title: 'customer.account.shopping_list.overview.print'
            },
            attributes: {
                target: '_blank'
            }
        } only %}
    </span>

    {{ widget('ShoppingListDismissWidgetPlugin', data.shoppingList) }}

    {% if data.hasWritePermission %}
        <span class="{{ config.name }}__item">
            {% include molecule('table-action') with {
                class: 'link link--alt link--action',
                data: {
                    url: url('shopping-list/delete', { idShoppingList: data.idShoppingList }),
                    icon: 'delete',
                    title: 'customer.account.shopping_list.overview.delete'
                }
            } only %}
        </span>
    {% endif %}
{% endblock %}
