{% extends molecule('label-group', '@SprykerShop:ProductLabelWidget') %}

{% block body %}
    {% for label in data.labels %}
        <span class="{{ config.jsName }}__label-flag" data-config-name="{{ config.name }}__text">
            <span class="{{ component.renderClass(config.name ~ '__text', modifiers) }} {{ config.name }}__text--{{ label.type }} {{ config.jsName }}__label-flag-text">
                {{ label.text }}
            </span>
        </span>
    {% endfor %}
{% endblock %}
