{% extends model('component') %}

{% define config = {
    name: 'label-group'
} %}

{% define data = {
    labels: []
}  %}

{% block component %}
    {% if data.labels is not empty %}{{parent()}}{% endif %}
{% endblock %}

{% block body %}

    {% for label in data.labels %}
        {% set labelType = label.type %}
        {% if 'Alternatives' in label.text %}
            {% set labelType = 'alternative' %}
        {% elseif 'Discontinued' in label.text  %}
            {% set labelType = 'discontinued' %}
        {% endif %}
        <span class="{{ component.renderClass(config.name ~ '__text', modifiers) }} {{ config.name }}__text--{{ labelType }}">{{ label.text }}</span>
    {% endfor %}

{% endblock %}
