{% extends model('component') %}

{% define config = {
    name: 'product-quick-add-form',
} %}

{% define data = {
    title: '',
    form: required,
    options: required,
    submitButtonTitle: '',
    verticalLayout: false,
} %}

{% block body %}
    {% if data.title is not empty %}
        <h5 class="{{ config.name }}__title col col--sm-12 {{ data.verticalLayout ? '' : 'col--md-2 ' ~ config.name ~ '__title--row' }}">
            {{ data.title | trans }}
        </h5>
    {% endif %}

    <div class="col col--sm-12 {{ data.verticalLayout ? '' : 'col--md-10' }}">
        {{ form_start(data.form, data.options) }}
            <div class="grid grid--middle">
                {% block fields %}
                    {% set fieldsAlignment = data.verticalLayout ? '' : 'col--md-10' %}

                    {% include molecule('product-quick-add-fields', 'ProductSearchWidget') with {
                        class: 'grid col col--sm-12 ' ~ fieldsAlignment,
                        data: {
                            form: data.form,
                            verticalLayout: data.verticalLayout,
                        },
                        attributes: {
                            'autocomplete-form-selector': '.js-product-search-autocomplete-form',
                        },
                    } only %}
                {% endblock %}

                <div class="col col--sm-12 {{ data.verticalLayout ? '' : 'col--md-2' }}">
                    <button type="submit" class="button button--expand button--success">
                        {{ data.submitButtonTitle | trans }}
                    </button>
                </div>
            </div>
        {{ form_end(data.form) }}
    </div>
{% endblock %}
