{% extends model('component') %}

{% define config = {
    name: 'quote-request-item-summary',
    tag: 'ul',
} %}

{% define data = {
    priceMode: required,
    unitPrice: required,
    subtotalPrice: required,
    cartItem: required,
    currency: required,
} %}

{% set priceModeGross = 'GROSS_MODE' %}
{% set originUnitPrice = (data.priceMode == priceModeGross) ? data.cartItem.originUnitGrossPrice : data.cartItem.originUnitNetPrice %}

{% block class %}{{ parent() }} list{% endblock %}

{% block body %}
    <li class="list__item spacing-y">
        <strong>{{ 'cart.item.item_price' | trans }}:</strong>
        {% if data.cartItem.sourceUnitGrossPrice is not null or data.cartItem.sourceUnitNetPrice is not null %}
            <span class="text-secondary spacing-x spacing-x--inner spacing-x--small"><s>{{ originUnitPrice | money(true, data.currency.code) }}</s> {{ data.unitPrice }}</span>
        {% else %}
            <span class="text-secondary spacing-x spacing-x--inner spacing-x--small">{{ data.unitPrice }}</span>
        {% endif %}
    </li>

    {% if data.cartItem.productOptions | length > 0 %}
        <li class="list__item text-small">
            {% include molecule('product-options', 'ProductOptionWidget') ignore missing with {
                modifiers: ['no-border'],
                class: 'spacing-y spacing-y--inner text-secondary',
                data: {
                    options: data.cartItem.productOptions,
                },
            } only %}
        </li>
    {% endif %}

{% endblock %}
