{% extends model('component') %}

{% define config = {
    name: 'filter-category',
    tag: 'filter-category',
    requestUrl: app.request.attributes.get('categoryNode').url | replace({"'": "\\'", '"':'\\"'})
} %}

{% define data = {
    filter: null,
    filterPath: null,
    categories: [],
    levelMenu: 1
} %}

{% define attributes = {
    'wrap-selector': config.name ~ '__menu--lvl-1',
    'parent-selector': config.name ~ '__menu-item--lvl-1',
    'list-selector': '.js-' ~ config.name ~ '__menu-item',
    'category-selector': '.' ~ config.name ~ '__menu-item',
    'change-class': 'is-hidden'
} %}

{% block component %}
    {% if data.categories is not empty %}
        {{parent()}}
    {% endif %}
{% endblock %}

{% block body %}
    <ul class="{{ config.name }}__menu {{ config.name }}__menu--lvl-{{ data.levelMenu }}">
        {% for categoryNode in data.categories %}
            {% set quantity = 0 %}
            {% set hasChildren = categoryNode.children is defined and categoryNode.children is not empty %}

            {% for filterValue in data.filter.values if (filterValue.value == categoryNode.nodeId) %}
                {% set quantity = filterValue.docCount %}
            {% endfor %}

            {% if data.filterPath is not empty %}
                {% set categoryUrl = url(data.filterPath, {categoryPath: (categoryNode.url)}) %}
            {% else %}
                {% set categoryUrl = categoryNode.url | replace({"'": "\\'", '"':'\\"'}) %}
            {% endif %}

            {% set isActive = (config.requestUrl == categoryUrl) %}

            {% set isHidden = (data.levelMenu != 1) %}

            <li class="{{ config.name }}__menu-item {{ config.name }}__menu-item--lvl-{{ data.levelMenu }} {% if isActive %} {{ config.name }}__menu-item--active js-{{ config.name }}__menu-item{% endif %} {% if isHidden and not isActive %}is-hidden{% endif %}">
                <button class="link {{ config.name }}__menu-link {{ config.name }}__menu-link--lvl-{{ data.levelMenu }} {% if isActive %} {{ config.name }}__menu-link--active{% endif %}" onclick="this.form.action='{{ categoryUrl }}'" {% if quantity == 0 %}disabled="disabled"{% endif %}>
                    <span class="{{ config.name }}__menu-link-text {% if isActive %}{{ config.name }}__menu-link-text--active{% endif %}">{{ categoryNode.name }}</span> <span>{{ quantity }}</span>
                </button>

                {% if hasChildren %}
                    {% include molecule('filter-category', 'CatalogPage') with {
                        data: {
                            filter: data.filter,
                            filterPath: data.filterPath,
                            categories: categoryNode.children,
                            levelMenu: data.levelMenu + 1
                        }
                    } only %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
