{% extends model('component') %}

{% define config = {
    name: 'search-form'
} %}

{% define data = {
    searchUrl: path('search'),
    suggestionUrl: path('search/suggestion'),
    searchValue: app.request.get('q')
} %}

{% block body %}
    <form action="{{data.searchUrl}}">
        <button type="submit" class="{{config.name}}__submit">
            {% include atom('icon') with {
                modifiers: ['search'],
                data: {
                    name: 'search'
                }
            } only %}
        </button>
        <input name="q" type="text" class="input {{config.name}}__input input--expand" placeholder="{{ 'global.search' | trans }}" value="{{data.searchValue}}" autocomplete="off">
    </form>
{% endblock %}

