{% extends model('component') %}

{% define config = {
    name: 'error-block',
    tag: 'section'
} %}

{% define data = {
    error: data.error
} %}

{% block body %}
    <div class="{{ config.name }}__code grid grid--center grid--middle">4
        <div class="{{ config.name }}__code-decor">
            <div class="{{ config.name }}__code-decor-inner"></div>
        </div> 4</div>
    <div class="title title--error-page">{{ 'error_page.title' | trans }}</div>
    <p class="{{ config.name }}__text">{{ data.error ? data.error | trans : 'error_page.text' | trans }}</p>
    <a href="{{ url('home') }}" class="link link--error-block">{{ 'error_page.home_link' | trans }}</a>
{% endblock %}
