{% extends template('widget') %}

{% define data = {
    companyName: _widget.companyName,
    isVisible: _widget.isVisible
} %}

{% block template %}
    {% if data.isVisible %}
        {% if can('SeeCompanyMenuPermissionPlugin') %}
            <a href="{{ path('company/overview') }}" class="col navigation-top__company" title="{{ data.companyName }}">
                {{ data.companyName }}
                {% include atom('icon') with {
                    class: 'navigation-top__company-icon',
                    data: {
                        name: 'caret-down'
                    }
                } only %}
            </a>

            {% include molecule('navigation-list') with {
                modifiers: ['company-user'],
                data: {
                    nodes: [
                        {
                            url: url('company/overview'),
                            title: 'company.account.overview' | trans
                        },
                        {
                            url: url('company/user'),
                            title: 'company.account.company_role.users' | trans
                        },
                        {
                            url: url('company/business-unit'),
                            title: 'company.account.business_unit' | trans
                        },
                        {
                            url: url('company/company-role'),
                            title: 'company.account.company_user.role' | trans
                        },
                        {
                            url: url('company/merchant-relation'),
                            title: 'company.account.merchant_relations' | trans
                        },
                        {
                            url: url('company/merchant-relation-request'),
                            title: 'merchant_relation_request_page.merchant_relation_request' | trans
                        }
                    ]
                }
            } only %}
        {% else %}
            <span class="col navigation-top__company navigation-top__company--no-menu">{{ data.companyName }}</span>
        {% endif %}
    {% else %}
        <a href="{{ path('company/user/select') }}" class="col navigation-top__company" title="{{ data.companyName }}">{{ 'company.account.no-company-title' | trans }}</a>
    {% endif %}
{% endblock %}
