{% extends template('widget') %}

{% define data = {
    companyName: _widget.companyName,
    isVisible: _widget.isVisible
} %}

{% block template %}
    {% if data.isVisible %}
        <a href="{{ path('company/overview') }}" class="col navigation-top__company" title="{{ data.companyName }}">
            {{ data.companyName }}
            {% if can('SeeCompanyMenuPermissionPlugin') %}
                {% include atom('icon') with {
                    class: 'navigation-top__company-icon',
                    data: {
                        name: 'caret-down'
                    }
                } only %}
            {% endif %}
        </a>
    {% else %}
        <a href="{{ path('company/overview') }}" class="col navigation-top__company" title="{{ data.companyName }}">{{ 'company.account.page-title' | trans }}</a>
    {% endif %}
{% endblock %}
