{% extends model('component') %}

{% define config = {
    name: 'order-detail-product-packaging-unit',
    tag: 'tr'
} %}

{% define data = {
    concreteItem: required,
    currencyIsoCode: required
} %}

{% block body %}
    {% if data.concreteItem.amount is not null and data.concreteItem.quantity is not null %}
        {% set salesUnitName = data.concreteItem.quantitySalesUnit.productMeasurementUnit.name | default('') %}
        {% set salesUnitSummary = '' %}
        {% if salesUnitName %}
            {% set salesUnitSummary = data.concreteItem.quantity / data.concreteItem.quantitySalesUnit.conversion ~ ' ' ~ salesUnitName | trans %}
        {% endif %}

        {% set amountSalesUnitName = data.concreteItem.amountSalesUnit.productMeasurementUnit.name | default('') %}
    {% endif %}
    <td class="order-detail-table__cell">
        {{ data.concreteItem.sku }}
    </td>
    <td class="order-detail-table__cell">
        {{ data.concreteItem.name }}<br>
        {% if data.concreteItem.amount and data.concreteItem.quantity %}
            <span class="text-secondary">&times;</span> {{ data.concreteItem.amount }} {{ 'packaging_units.cart.item' | trans }} (= {{ data.concreteItem.amount / data.concreteItem.amountSalesUnit.conversion }}{{ amountSalesUnitName | trans }}) = {{ data.concreteItem.quantity * data.concreteItem.amount }} {{ 'packaging_units.cart.item' | trans }}
        {% endif %}
    </td>
    <td class="order-detail-table__cell">
        {{ data.concreteItem.unitPrice | money(true, data.currencyIsoCode) }}
    </td>
    <td class="order-detail-table__cell">
        {{ data.concreteItem.quantity }} {% if salesUnitSummary is defined and salesUnitSummary is not empty %}(={{ salesUnitSummary }}){% endif %}
    </td>
    <td class="order-detail-table__cell">
        {{ data.concreteItem.unitPriceToPayAggregation | money(true, data.currencyIsoCode) }}
    </td>
{% endblock body %}
