{% extends template('page-layout-customer', 'CustomerPage') %}

{% define data = {
    cart: _view.cart | default([]),
    cartName: _view.cart.name | default,
    cartIdQuote: _view.cart.idQuote | default,
    cartShareDetails: _view.cart.shareDetails | default
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'customer.profile' | trans,
                url: url('customer/overview'),
            },{
                label: 'multi_cart_page.cart_delete_confirmation.breadcrumbs.shopping_carts' | trans
                url: url('multi-cart'),
            },{
                label: 'multi_cart_page.cart_delete_confirmation.warning' | trans
            }]
        }
    } only %}
{% endblock %}

{% block content %}
    <div class="grid cart-update">
        <div class="col col--md-6">
            <h2 class="cart-update__title">{{ "multi_cart_page.cart_delete_confirmation.warning" | trans }}</h2>

            <p>{{ "multi_cart_page.cart_delete_confirmation.trying_to_delete" | trans }}: <strong>{{ data.cartName }}</strong></p>

            {{ widget('CartDeleteCompanyUsersListWidgetPlugin', data.cart) }}

            <div class="form__actions">
                <a href="{{ data.backUrl }}" class="button button--hollow spacing-right spacing-right--big">
                    {{ "general.back.button" | trans }}
                </a>
                <a href="{{ url('multi-cart/delete', { 'idQuote' : data.cartIdQuote }) }}" class="button button--alert">
                    {{ "multi_cart_page.cart_delete_confirmation.delete" | trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
