{% extends template('page-layout-checkout', 'CheckoutPage') %}

{% define data = {
    forms: {
        address: _view.addressesForm,
        shipping: _view.addressesForm.shippingAddress,
        billing: _view.addressesForm.billingAddress,
    },

    title: 'checkout.step.address.title' | trans,
    stepNumder: 1,
} %}

{% block content %}
    <h5 class="title title--second">{{ 'page.checkout.address.shipping-address' | trans }}</h5>
    {% embed molecule('form') with {
        class: 'checkout-wrap checkout-form',
        data: {
            form: data.forms.address,
            submit: {
                enable: true,
                text: 'checkout.step.shipment' | trans,
                class: 'button button--big button--checkout',
            },
        },
        embed: {
            forms: {
                shipping: data.forms.shipping,
                billing: data.forms.billing,
            },
        }
    } only %}
        {% block title %}{% endblock %}

        {% block fields %}
            {% set existingShippingAddresses = data.form.shippingAddress.id_customer_address is defined %}
            {% set hasShippingAddresses = data.form.shippingAddress.id_customer_address is defined %}
            {% set hideShippingAddressForm = data.form.shippingAddress.id_customer_address is defined %}
            {% set companyBusinessUnitAddressWidget = findWidget('CompanyBusinessUnitAddressWidget', ['shippingAddress', embed.forms.shipping.vars.data]) %}

            {% if companyBusinessUnitAddressWidget and companyBusinessUnitAddressWidget.isApplicable %}
                {% set hasShippingAddresses = true %}
                {% set hideShippingAddressForm = false %}
            {% endif %}

            <div class="grid grid--bottom col col--sm-12 js-form-handler__shippingAddress js-form-clear__shippingAddress-form">
                {% if hasShippingAddresses %}
                    <div class="checkout-wrap__container checkout-wrap__container--top">
                        {% if companyBusinessUnitAddressWidget and companyBusinessUnitAddressWidget.isApplicable %}
                            {% widget companyBusinessUnitAddressWidget %}{% endwidget %}
                            {% if existingShippingAddresses %}
                                {% do data.form.shippingAddress.id_customer_address.setRendered %}
                            {% endif %}
                        {% else %}
                            <ul class="list spacing-y">
                                <li class="list__item spacing-y">
                                    {{
                                        form_row(embed.forms.shipping.id_customer_address, {
                                            component: molecule('select')
                                        })
                                    }}
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                {% endif %}

                {% embed molecule('form') with {
                    class: 'js-address__shipping',
                    data: {
                        form: embed.forms.shipping,
                        enableStart: false,
                        enableEnd: false,
                        layout: {
                            salutation: 'col col--sm-12 col--lg-2',
                            first_name: 'col col--sm-12 col--lg-5',
                            last_name: 'col col--sm-12 col--lg-5',
                            company: 'col col--sm-12 col--lg-7',
                            address1: 'col col--sm-8 col--lg-7',
                            address2: 'col col--sm-4 col--lg-5',
                            zip_code: 'col col--sm-6 col--lg-2',
                            city: 'col col--sm-6 col--lg-6',
                            iso2_code: 'col col--sm-12 col--lg-4',
                            phone: 'col col--sm-12 col--lg-7',
                        },
                    }
                } only %}
                    {% block field %}
                        {{ form_row(field, {
                        attr: {
                                'data-key': field.vars.name
                            },
                        rowAttr: {
                                class: config.name ~ '__field ' ~ fieldLayoutClass
                            }
                        }) }}
                    {% endblock %}
                {% endembed %}
            </div>

            <div class="form__field col col--sm-12">
                {{
                    form_row(data.form.billingSameAsShipping, {
                        component: molecule('toggler-checkbox'),
                        label: 'customer.billingSameAsShipping' | trans,
                        attributes: {
                            'target-selector': '.js-address__billing-same-as-shipping',
                            'class-to-toggle': 'is-hidden',
                            'add-class-when-checked': true
                        }
                    })
                }}
            </div>

            <div class="col col--sm-12 js-form-handler__billingAddress js-form-clear__billingAddress-form">
                {% embed molecule('form') with {
                    class: 'spacing-top spacing-top--big js-address__billing-same-as-shipping checkout-form--hidden-actions',
                    data: {
                        form: embed.forms.billing,
                        enableStart: false,
                        enableEnd: false,
                        layout: {
                            salutation: 'col col--sm-12 col--lg-2',
                            first_name: 'col col--sm-12 col--lg-5',
                            last_name: 'col col--sm-12 col--lg-5',
                            company: 'col col--sm-12 col--lg-7',
                            address1: 'col col--sm-8 col--lg-7',
                            address2: 'col col--sm-4 col--lg-5',
                            zip_code: 'col col--sm-6 col--lg-2',
                            city: 'col col--sm-6 col--lg-6',
                            iso2_code: 'col col--sm-12 col--lg-4',
                            phone: 'col col--sm-12 col--lg-7',
                        },
                    }
                } only %}
                    {% block title %}
                        <h5 class="title title--second">{{ 'page.checkout.address.billing-address' | trans }}</h5>
                    {% endblock %}
                    {% block field %}
                        {{ form_row(field, {
                        attr: {
                                'data-key': field.vars.name
                            },
                        rowAttr: {
                                class: config.name ~ '__field ' ~ fieldLayoutClass
                            }
                        }) }}
                    {% endblock %}
                    {% block fields %}
                        {% set existingBillingAddresses = data.form.id_customer_address is defined %}
                        {% set hasBillingAddresses = data.form.id_customer_address is defined %}
                        {% set companyBusinessUnitAddressWidget = findWidget('CompanyBusinessUnitAddressWidget', ['billingAddress', data.form.vars.data]) %}
                        {% if companyBusinessUnitAddressWidget and companyBusinessUnitAddressWidget.isApplicable %}
                            {% set hasBillingAddresses = true %}
                        {% endif %}

                        {% if hasBillingAddresses %}
                            <div class="checkout-wrap__container checkout-wrap__container--top">
                                {% if companyBusinessUnitAddressWidget and companyBusinessUnitAddressWidget.isApplicable %}
                                    {% widget companyBusinessUnitAddressWidget %}{% endwidget %}
                                    {% if existingBillingAddresses %}
                                        {% do data.form.id_customer_address.setRendered %}
                                    {% endif %}
                                {% else %}
                                    <ul class="list spacing-y">
                                        <li class="list__item spacing-y">
                                            {{
                                                form_row(data.form.id_customer_address, {
                                                    component: molecule('select')
                                                })
                                            }}
                                        </li>
                                    </ul>
                                {% endif %}
                            </div>
                        {% endif %}

                        <div class="js-address__billing grid grid--bottom grid--wide">
                            {{parent()}}
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>
        {% endblock %}

        {% block actions %}
            <div class="grid grid--middle grid--justify grid--expand">
                <div class="col col--sm-12 spacing-bottom spacing-bottom--biggest">
                    {% if data.form.isAddressSavingSkipped is defined %}
                        {% set companyBusinessUnitAddressWidget = findWidget('CompanyBusinessUnitAddressWidget', ['shippingAddress', embed.forms.shipping.vars.data]) %}
                        {% set hasCompanyBusinessUnitAddress =  companyBusinessUnitAddressWidget and companyBusinessUnitAddressWidget.isApplicable %}

                        {% if not hasCompanyBusinessUnitAddress %}
                            {% set existingShippingAddressSelectSelector = embed.forms.shipping.id_customer_address is defined ? '[name="' ~ embed.forms.shipping.id_customer_address.vars.full_name ~ '"]' : '' %}
                            {% set existingBillingAddressSelectSelector = embed.forms.shipping.id_customer_address is defined ? '[name="' ~ embed.forms.billing.id_customer_address.vars.full_name ~ '"]' : '' %}
                        {% else %}
                            {% set existingShippingAddressSelectSelector = '.js-from-select-address__shippingAddress' %}
                            {% set existingBillingAddressSelectSelector = '.js-from-select-address__billingAddress' %}
                        {% endif %}

                        {% include molecule('address-form-toggler', 'CustomerPage') ignore missing with {
                            attributes: {
                                'trigger-selector': existingShippingAddressSelectSelector | default(''),
                                'target-selector': '.js-address__shipping',
                                'class-to-toggle': 'is-hidden',
                                'has-company-business-unit-address': hasCompanyBusinessUnitAddress ? 'true' : 'false',
                            },
                        } only %}

                        {% include molecule('address-form-toggler', 'CustomerPage') ignore missing with {
                            attributes: {
                                'trigger-selector': existingBillingAddressSelectSelector | default(''),
                                'target-selector': '.js-address__billing',
                                'class-to-toggle': 'is-hidden',
                                'has-company-business-unit-address': hasCompanyBusinessUnitAddress ? 'true' : 'false',
                            },
                        } only %}

                        {% include molecule('save-new-address', 'CustomerPage') ignore missing with {
                            class: 'is-hidden text-left',
                            data: {
                                form: data.form,
                            },
                            attributes: {
                                'shipping-address-toggler-selector': embed.forms.shipping.id_customer_address is defined ? '[name="' ~ embed.forms.shipping.id_customer_address.vars.full_name ~ '"]' : '',
                                'billing-address-toggler-selector': embed.forms.billing.id_customer_address is defined ? '[name="' ~ embed.forms.billing.id_customer_address.vars.full_name ~ '"]' : '',
                                'billing-same-as-shipping-toggler-selector': 'input[name="' ~ data.form.billingSameAsShipping.vars.full_name ~ '"]',
                                'save-address-toggler-selector': 'input[name="' ~ data.form.isAddressSavingSkipped.vars.full_name ~ '"]',
                                'add-new-shipping-address-selector': '.js-from-add-new-address__shippingAddress' | default (''),
                                'add-new-billing-address-selector': '.js-from-add-new-address__billingAddress' | default (''),
                            },
                        } only %}
                    {% endif %}
                </div>
                <div class="col col--sm-12 text-left">
                    {{ parent() }}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
