{% extends model('component') %}
{% import _self as component %}

{% define config = {
    name: 'variant',
    tag: 'div'
} %}

{% define data = {
    name: required,
    formName: required,
    values: required,
    selectedValue: null,
    label: '',
    isAvailable: true,
    selectModifiers: ['margin-bottom'],
    selectTheme: 'default',
    selectPlaceholder: 'product.attribute._none',
} %}

{% set selectModifiers = data.selectModifiers | merge(['full-width']) %}

{% block body %}
    <div class="{{ config.jsName }}__title {{ component.renderClass(config.name ~ '__title', modifiers) }}">{{data.label}}</div>
    {% if data.selectedValue is null %}
        {% if data.isAvailable %}
            {% embed molecule('custom-select') with {
                modifiers: selectModifiers,
                class: 'name',
                attributes: {
                    name: data.formName,
                    'config-width': '100%',
                    'config-theme': data.selectTheme,
                },
                embed: {
                    values: data.values,
                    selectPlaceholder: data.selectPlaceholder,
                    jsName: config.jsName,
                    formName: data.formName,
                },
            } only %}
                {% block selectClass %}
                    {{ parent() }} {{ embed.jsName ~ '__select--' ~ embed.formName }}
                {% endblock %}

                {% block options %}
                    <option value="">{{ embed.selectPlaceholder | trans }}</option>
                    {% for value in embed.values %}
                        <option value="{{value}}">{{value}}</option>
                    {% endfor %}
                {% endblock %}
            {% endembed %}

            {% include molecule('form-handler') with {
                attributes: {
                    'trigger-class-name': config.jsName ~ '__select--' ~ data.formName,
                },
            } only %}
        {% else %}
            {{ 'product.attribute.not_available' | trans }}
        {% endif %}
    {% else %}
        <div class="{{ config.name }}__selected-value">
            {{data.selectedValue}} <a href="?">{{ 'Reset' | trans }}</a>
            <input type="hidden" name="{{data.formName}}" value="{{data.selectedValue}}" />
        </div>
    {% endif %}
{% endblock %}
