{% extends molecule('variant', '@SprykerShop:ProductDetailPage') %}

{% define data = {
    selectModifiers: ['margin-bottom'],
    selectTheme: 'default',
    selectPlaceholder: 'product.attribute._none',
} %}

{% set selectModifiers = data.selectModifiers | merge(['full-width']) %}

{% block body %}
    <div class="{{ _self.renderClass(config.name ~ '__title', modifiers) }}">{{ data.label }}</div>
    {% if data.selectedValue is null %}
        {% if data.isAvailable %}
            {% set options = [{
                label: data.selectPlaceholder | trans,
                value: '',
            }] %}

            {% for value in data.values %}
                {% set options = options | merge([{
                    label: value,
                    value: value,
                }]) %}
            {% endfor %}

            {% include molecule('custom-select') with {
                modifiers: selectModifiers,
                data: {
                    options: options,
                },
                attributes: {
                    name: data.formName,
                    'data-form-submitter': true,
                    'config-width': '100%',
                    'config-theme': data.selectTheme,
                },
            } only %}
        {% else %}
            {{ 'product.attribute.not_available' | trans }}
        {% endif %}
    {% else %}
        <div class="{{ config.name }}__selected-value">
            {{ data.selectedValue }} <a href="?{{ data.optionResetUrl }}">{{ 'Reset' | trans }}</a>
            <input type="hidden" name="{{ data.formName }}" value="{{ data.selectedValue }}" />
        </div>
    {% endif %}
{% endblock %}
