{% extends model('component') %}

{% define config = {
    name: 'jumbotron',
    tag: 'section'
} %}

{% define data = {
    imageUrl: '',
    link: '',
    cmsBlockName: '',
    btnTitle: '',
    bgColor: '',
    textColor: '',
    headline: '',
    subHeadline: ''
} %}

{% set backgroundImage = data.imageUrl is empty ?: 'background-image: url(' ~ data.imageUrl ~ '); ' %}

{% block body %}
    {% if data.cmsBlockName is not empty %}
        <div class="{{ component.renderClass(config.name ~ '__container', modifiers) }} grid grid--left grid--middle" style="{{backgroundImage}}">
            <div class="col col--sm-12">
                {{ spyCmsBlock({name: data.cmsBlockName}) }}
                {% if data.btnTitle is not empty %}
                    <a href="{{ data.link | trans }}" class="button button--big button--red">{{ data.btnTitle | trans }}</a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="{{ component.renderClass(config.name ~ '__container', modifiers) }} grid grid--center grid--middle" style="{{backgroundImage}}">
            <div class="col col--sm-12">
                <h1 class="{{config.name}}__title">{{data.headline}}</h1>
                <h4 class="{{config.name}}__text">{{data.subHeadline}}</h4>
            </div>
        </div>
    {% endif %}
{% endblock %}
