{% extends template('page-layout-customer', '@SprykerShop:CustomerPage') %}

{% block title %}{% endblock %}

{% block content %}
    {% set customerNavigation %}
        {% block customerNavigation %}
            {{ parent() }}
        {% endblock %}
    {% endset %}
    {% set customerContent %}
        {% block customerContent %}{% endblock %}
    {% endset %}

    {% embed organism('section') with {
        modifiers: ['last']
    } %}
        {% block body %}
            <div class="{{ config.name }}__inner {{ data.innerClass }}">
                {% block inner %}
                    <div class="grid grid--gap">
                        <div class="is-hidden-sm-lg col col--xl-3">
                            {{ customerNavigation }}
                        </div>

                        <div class="col col--sm-12 col--xl-9">
                            {{ customerContent }}
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block footer %}
    {% include organism('footer') only %}
{% endblock %}
