{% extends model('component') %}

{% define config = {
    name: 'quantity-counter',
    tag: 'quantity-counter'
} %}

{% define data = {
    isDisabled: false,
    isReadOnly: false,
    autoUpdate: false
} %}

{% define attributes = {
    value: 1,
    type: "number",
    name: "quantity",
    onkeypress: "return false;",
    min: 1,
    step: 1,
} %}

{% block attributes %}{% endblock %}

{% block body %}
    <button class="{{ config.name }}__button
                   {% if data.isDisabled or data.isReadOnly %}
                        {{ config.name }}__button--disabled
                   {% else %}
                        {{ config.jsName }}__button-decrement
                   {% endif %}
                   {{ config.name }}__button--decrement">-</button>

    {% block quantityField %}
        <input
            class="{{ config.name }}__input {{ config.jsName }}__input {% block inputClass %}{% endblock %}"
            {% block quantityCounterAttributes %}{{component.renderAttributes(attributes)}}{% endblock %}
            {% if data.autoUpdate %}data-auto-update="true"{% endif %}
            {% if data.isDisabled %}disabled{% endif %}
            {% if data.isReadOnly %}readonly{% endif %}
            {{qa('quantity-input')}}>
    {% endblock %}

    <button class="{{ config.name }}__button
                   {% if data.isDisabled or data.isReadOnly %}
                       {{ config.name }}__button--disabled
                   {% else %}
                       {{ config.jsName }}__button-increment
                   {% endif %}
                   {{ config.name }}__button--increment">+</button>
{% endblock %}

