{% extends model('component') %}

{% define config = {
    name: 'quantity-counter',
    tag: 'quantity-counter'
} %}

{% define data = {
    maxQuantity: null,
    minQuantity: 1,
    value: 1,
    readOnly: false,
    attributes: {

    }
} %}

{% set maxQuantity = data.maxQuantity < 0 or data.maxQuantity < data.minQuantity ? null : data.maxQuantity %}

{% block body %}
    <div class="{{ config.name }}__button {{ config.name }}__button--decrement js-quantity-decrement"></div>

    <input
        class="{{ config.name }}__input"
        data-max-quantity="{{ maxQuantity }}"
        type="number"
        value="{{data.value}}"
        name="quantity"
        min="{{data.minQuantity}}"
        {{qa('quantity-input')}}
        {% if maxQuantity is not empty %}max="{{maxQuantity}}"{% endif %}
        {% if data.readOnly %}disabled{% endif %} />

    <div class="{{ config.name }}__button {{ config.name }}__button--increment js-quantity-increment"></div>
{% endblock %}

