{% extends view('return-list', '@SprykerShop:SalesReturnPage') %}

{% block salesReturnContentTitle %}
    {% include molecule('action-bar') with {
        modifiers: ['first'],
        data: {
            title: 'return_page.list.title' | trans,
            actions: [],
        },
    } only %}
{% endblock %}

{% block salesReturnContent %}
    {% set contentWrapperClass = '' %}

    {{ parent() }}
{% endblock %}

{% block salesReturnTableUnderline %}{% endblock %}

{% block salesReturnTable %}
    {% set salesReturnTableClass = salesReturnTableClass ~ ' table--responsive' %}

    {{ parent() }}
{% endblock %}

{% block salesReturnTableHeaderCells %}
    <th>{{ 'return_page.return.return_ref' | trans }}</th>
    <th>{{ 'return_page.return.order_ref' | trans }}</th>
    <th>{{ 'return_page.return.number_of_items' | trans }}</th>
    <th>{{ 'return_page.return.date' | trans }}</th>
    <th>{{ 'return_page.return.items_state' | trans }}</th>
    <th></th>
{% endblock %}

{% block salesReturnTableBodyCells %}
    <td class="transform-cell spacing-top spacing-top--inner spacing-top--big" data-content="{{ 'return_page.return.return_ref' | trans }}">
        {{ return.returnReference }}
    </td>
    <td class="transform-cell" data-content="{{ 'return_page.return.order_ref' | trans }}">
        <div>
            {% for orderReference in orderReferences %}
                {{- (not loop.first ? ', ') ~ orderReference -}}
            {% endfor %}
        </div>
    </td>
    <td class="transform-cell" data-content="{{ 'return_page.return.number_of_items' | trans }}">
        {{ return.returnItems | length | executeFilterIfExists('formatInt', app.locale) }}
    </td>
    <td class="transform-cell" data-content="{{ 'return_page.return.date' | trans }}">
        {{ date(return.createdAt) | formatDateTime }}
    </td>
    <td class="transform-cell spacing-bottom spacing-bottom--inner spacing-bottom--big" data-content="{{ 'return_page.return.items_state' | trans }}">
        <div>
            {% for state in itemStates %}
                {% set stateName = state.status | replace({' ': '-'}) | lower %}

                {{ block('state') }}
            {% endfor %}
        </div>
    </td>
    <td class="table__actions">
        {{ block('returnActionsMenu') }}
    </td>
{% endblock %}

{% block returnActionsMenu %}
    {% include molecule('table-action-list') with {
        data: {
            items: [
                {
                    url: path('return/view', { returnReference: (return.returnReference)}),
                    icon: 'eye',
                    title: 'return_page.return.view_return',
                    iconModifier: 'big',
                },
                {
                    url: path('return/slip-print', { returnReference: (return.returnReference)}),
                    icon: 'print',
                    title: 'return_page.return.print_return',
                    iconModifier: 'big',
                    target: '_blank',
                },
            ],
        },
    } only %}
{% endblock %}
