{% extends molecule('collapsible-list', '@SprykerShop:ShopUi') %}

{% macro listItem(label, value, configName) %}
    <div class="{{ configName }}__item col col--sm-12">
        <strong class="{{ configName }}__name">{{ label }}: </strong>
        <span class="{{ configName }}__value">{{ value }}</span>
    </div>
{% endmacro %}

{% block shownListItems %}
    {{ _self.listItem(key, value, config.name) }}
{% endblock %}

{% block hiddenListItems %}
    {{ _self.listItem(key, value, config.name) }}
{% endblock %}
