{% extends model('component') %}

{% define config = {
    name: 'flash-message',
    tag: 'flash-message',
} %}

{% define data = {
    action: '',
    title: '',
    text: '',
    icon: null,
} %}

{% set modifiers = [data.action] | merge(modifiers | default([])) %}

{% block body %}
    <div class="{{config.name}}__message container grid">

        <div class="col {{config.name}}__content">
            {% if data.title is not empty %}
                <h6>{{data.title | trans}}</h6>
            {% endif %}
            <div class="{{config.name}}__text">
                {{data.text | trans}}
            </div>
            <span class="{{config.name}}__static-link">{{ 'message.submit_link' | trans }}</span>
        </div>

    </div>
{% endblock %}
