{% extends model('component') %}

{% define config = {
    name: 'review-summary',
    tag: 'section',
} %}

{% define data = {
    reviews: required,
    summary: required,
    ratingMaxValue: required,
    hasCustomer: required,
    idProductAbstract: required,
    reviewForm: required,
    action: required,
    pagination: {
        parameters: required,
        currentPage: required,
        paginationPath: required,
        maxPage: required,
        showAlwaysFirstAndLast: true,
        anchor: 'product-reviews',
    },
} %}

{% block body %}
    <h2 class="title title--mobile-toggler-section js-pdp-section__trigger" data-toggle-target='.js-pdp-section__target-reviews'>{{ 'product_review.summary.title' | trans }} <span class="is-hidden-lg-xxl">({{ data.summary.totalReview | executeFilterIfExists('formatInt', app.locale) }})</span></h2>

    <div class="grid grid--justify grid--gap js-pdp-section__target-reviews is-hidden-sm-md">
        <div class="col col--sm-12 col--lg-6 col--xl-5">
            <h3 class="{{ config.name }}__sub-title is-hidden-sm-md">{{ 'product_review.product_ratings' | trans }}</h3>

            <div class="{{ config.name }}__rating-box text-center">
                <div class="grid grid--justify">
                    <div class="col col-sm-12 col--md-auto">
                        {% include molecule('review-average-display', 'ProductReviewWidget') with {
                            data: {
                                summary: data.summary,
                                ratingMaxValue: data.ratingMaxValue,
                            },
                        } only %}
                    </div>

                    <div class="col col--sm-12 col--md-auto">
                        {% include molecule('review-distribution-display', 'ProductReviewWidget') with {
                            data: {
                                summary: data.summary,
                            },
                        } only %}
                    </div>
                </div>
                {% if is_granted('ROLE_USER') %}
                    <button class="button button--hollow button--expand-sm-only spacing-top spacing-top--big {{ config.jsName }}__new-review-form-open">
                        {{ 'product_review.submit.add_a_review' | trans }}
                    </button>
                {% else %}
                    <a class="button button--hollow button--expand-sm-only spacing-top spacing-top--big" href="{{ path('login') }}">
                        {{ 'product_review.submit.add_a_review' | trans }}
                    </a>
                {% endif %}
            </div>

            {% set togglerClickData = [
                {
                    triggerClass: config.jsName ~ '__new-review-form-open',
                    targetClass: config.jsName ~ '__new-review-form',
                    triggerClassToToggle: 'is-hidden',
                },
                {
                    triggerClass: config.jsName ~ '__new-review-form-close',
                    targetClass: config.jsName ~ '__new-review-form',
                },
                {
                    triggerClass: config.jsName ~ '__new-review-form-close',
                    targetClass: config.jsName ~ '__new-review-form-open',
                },
            ] %}

            {% for componentData in togglerClickData %}
                {% include molecule('toggler-click') with {
                    attributes: {
                        'trigger-class-name': componentData.triggerClass,
                        'target-class-name': componentData.targetClass,
                        'trigger-class-to-toggle': componentData.triggerClassToToggle ?? '',
                    },
                } only %}
            {% endfor %}

            {% include molecule('toggler-hash') with {
                attributes: {
                    'trigger-hash': '#review',
                    'target-class-name': config.jsName ~ '__new-review-form',
                    'add-class-when-hash-in-url': false,
                },
            } only %}

            {% if is_granted('ROLE_USER') %}
                <a id="review"></a>

                <div class="{{ config.name }}__new-review-form {{ config.jsName }}__new-review-form">
                    {% include molecule('new-review-form', 'ProductReviewWidget') with {
                        data: {
                            form: data.reviewForm,
                            action: url(data.action, {idProductAbstract: data.idProductAbstract}),
                        },
                    } only %}
                </div>
            {% endif %}

        </div>

        <div class="col col--sm-12 col--lg-6">
            <h3 class="title title--review-subtitle">{{ 'product_review.product_reviews' | trans }} <span class="is-hidden-lg-xxl">({{ data.summary.totalReview | executeFilterIfExists('formatInt', app.locale) }})</span></h3>

            {% if data.reviews is empty %}
                <div class="{{ config.name }}__no-review">{{ 'product_review.no_reviews' | trans }}</div>
            {% else %}
                {% if data.summary.totalReview > 0 %}
                    {% for review in data.reviews %}
                        {% include molecule('review', 'ProductReviewWidget') with {
                            data: {
                                summary: review.summary,
                                ratingValue: review.rating,
                                ratingMaxValue: data.ratingMaxValue,
                                nickname: review.nickname,
                                createdAt: review.createdAt | formatDateTime,
                                description: review.description,
                            },
                        } only %}
                    {% endfor %}

                    {% include molecule('pagination') with {
                        data: data.pagination,
                    } only %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
