{% extends template('page-layout-main') %}

{% define data = {
    cart: _view.cart,
    isQuoteEditable: _view.isQuoteEditable,
    isQuoteLocked: _view.isQuoteLocked,
    cartItems: _view.cartItems,
    isQuoteValid: _view.isQuoteValid,
    attributes: _view.attributes,
    request: app.request,
    products: _view.products,

    title: 'cart.cart' | trans
} %}

{% block breadcrumbs %}
    {% set steps = [{
        label: 'multi_cart_widget.cart.carts' | trans,
        url: url('multi-cart'),
        isActive: false
    }, {
        label: data.cart.name ? data.cart.name : 'cart.cart' | trans,
        isActive: true
    }]%}

    {% embed molecule('breadcrumb') with {
        data: {
            steps: steps
        }
    } only %}
        {% block breadcrumbs %}
            {% for step in data.steps %}
                {% set modifiers = step.isActive ? ['active'] : [] %}

                {% include molecule('breadcrumb-step') with {
                    modifiers: modifiers,
                    data: {
                        label: step.label,
                        url: step.isActive ? '' : step.url,
                        withChevron: not loop.last
                    }
                } only %}
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block title %}
{% endblock %}

{% block contentClass %}page-layout-main page-layout-main--cart-page{% endblock %}

{% block content %}
    {% set isQuoteEnadled = data.cart.idQuote and data.isQuoteEditable %}
    {% set isCartNoteEnabled = (not is_granted('ROLE_USER') or can('WriteSharedCartPermissionPlugin', data.cart.idQuote)) %}
    {% if data.cart.items is empty %}
        <div class="grid">
            <div class="col col--xl-9">
                <div class="text-center">
                    {% include atom('icon') with {
                        modifiers: ['biggest'],
                        class: 'text-alt',
                        data: {
                            name: 'shopping-cart'
                        }
                    } only %}
                    <h6>{{ 'cart.empty' | trans }}</h6>
                </div>
            </div>
            <div class="col col--xl-3">
                <div>
                    {% widget 'ProductConcreteAddWidget' args [
                        '',
                        'cart.quick_add_to_cart.submit' | trans,
                        'cart/quick-add',
                        true
                    ] only %}
                        {% block body %}
                            <div class="order-sidebar__item">
                                <h5 class="order-sidebar__title toggler-accordion__item js-order-sidebar__trigger" data-toggle-target='.js-order-sidebar__content-quick-add-widget'>
                                    {{ 'cart.quick_add_to_cart' | trans}}
                                    <span class="icon icon--toggler-cross toggler-accordion__icon"></span>
                                </h5>
                                <div class="order-sidebar__content js-order-sidebar__content-quick-add-widget">
                                    {{ parent() }}
                                </div>
                            </div>
                        {% endblock %}
                    {% endwidget %}
                </div>
            </div>
        </div>
    {% else %}

        <div class="grid grid--gap">
            <div class="col col--sm-12 col--xl-9">
                <div class="cart-title">
                    <h3 class="grid grid--nowrap grid--middle cart-title__text">
                        {{ data.cart.name }}
                        {% if isQuoteEnadled and can('ChangeCartItemPermissionPlugin', data.cart.idQuote) %}
                            <a href="{{ path('multi-cart/update', {idQuote: data.cart.idQuote}) }}" class="col button button--hollow-icon button--edit cart-title__link">
                                {% include molecule('icon-tooltip') with {
                                    modifiers: ['sm-lg-regular'],
                                    data: {
                                        icon: 'edit',
                                        text: 'multi_cart_widget.cart.action.change_name' | trans
                                    }
                                } only %}
                                <span class="is-hidden-lg-xxl">{{ 'general.edit.button' | trans }}</span>
                            </a>
                        {% endif %}
                    </h3>
                    <div class="grid grid--justify grid--middle">
                        <div class="col col--sm-8">
                            {% if data.cart.priceMode is not empty %}
                                {% include molecule('price-mode') with {
                                    modifiers: ['sm-lg-regular'],
                                    data: {
                                        priceMode: data.cart.priceMode
                                    }
                                } only %}
                            {% endif %}
                        </div>
                        <div class="col col--sm-2 text-right cart-title__quantity">{{ cartQuantity }} {{ 'checkout.step.summary.items' | trans }}</div>
                    </div>
                </div>
            </div>
            <div class="col col--sm-12 col--xl-9">
                {% if data.isQuoteLocked %}
                    {% include molecule('cart-locking', 'CartPage') with {
                        data: {
                            quoteApprovals: data.cart.quoteApprovals,
                            quoteRequestVersionReference: data.cart.quoteRequestVersionReference,
                        },
                    } %}
                {% endif %}

                {% for cartItem in data.cartItems %}
                    {% embed molecule('product-item') with {
                        data: {
                            list: data.cart,
                            listItem: cartItem,
                            attributes: data.attributes[cartItem.sku] | default([]),
                            canEdit: data.isQuoteEditable and can('ChangeCartItemPermissionPlugin', data.cart.idQuote),
                            canRemove: data.isQuoteEditable and can('RemoveCartItemPermissionPlugin'),
                            imageModifiers: ['cart']
                        },
                        embed: {
                            product: data.products[cartItem.sku]
                        }
                    } only %}
                        {% block price %}
                            {% if can('SeePricePermissionPlugin') %}
                                {% set subtotalPrice = data.listItem.unitSubtotalAggregation is defined ? data.listItem.unitSubtotalAggregation : data.listItem.price %}
                                {% include molecule('price') with {
                                    modifiers: ['cart'],
                                    data: {
                                        amount: subtotalPrice | money,
                                    },
                                } only %}
                            {% endif %}
                        {% endblock %}
                        {% block totalPrice %}
                            {% if can('SeePricePermissionPlugin') %}
                                {% set totalPrice = data.listItem.unitPrice is defined ? data.listItem.sumSubtotalAggregation : data.listItem.price %}
                                {% embed molecule('price') with {
                                    class: 'box spacing spacing--inner spacing-y spacing-y--big',
                                    modifiers: ['cart'],
                                    data: {
                                        amount: totalPrice | money,
                                    },
                                } only %}
                                    {% block body %}
                                        <strong class="float-left">{{ 'cart.item.item_total' | trans }}</strong>
                                        {{ parent() }}
                                    {% endblock %}
                                {% endembed %}
                            {% endif %}
                        {% endblock %}

                        {% block info %}
                            {{ parent() }}

                            {% if embed.product.attributes.farbe is defined %}
                                <br/>
                                <span class="{{ config.name }}__color-preview">{{ 'cart.item.color' | trans }}:  <span class="{{ config.name }}__color-preview-decoration" style="background: {{ embed.product.colorCode  }}" title="{{ embed.product.attributes.farbe  }}"></span></span>
                            {% endif %}
                        {% endblock %}
                    {% endembed %}
                {% endfor %}

                {% if isQuoteEnadled and can('RemoveCartItemPermissionPlugin') %}
                    <div class="grid grid--right cart-bottom">
                        <a href="{{ path('multi-cart/clear', {idQuote: data.cart.idQuote}) }}" class="link link--icon cart-bottom__button">
                            {% include atom('icon') with {
                                modifiers: ['link'],
                                data: {
                                    name: 'delete'
                                }
                            } only %}
                            {{ "multi_cart_page.delete_all" | trans }}
                        </a>
                    </div>
                {% endif %}

                {% if data.isQuoteEditable %}
                    {% widget 'CartDiscountPromotionProductListWidget' args [
                        data.cart,
                        data.request
                    ] only %}
                    {% endwidget %}
                {% endif %}
            </div>

            <div class="col col--sm-12 col--xl-3 order-sidebar js-order-sidebar">
                {% if isCartNoteEnabled %}
                    {% widget 'CartNoteFormWidget' args [data.cart] only %}
                        {% block body %}
                            <div class="order-sidebar__item order-sidebar__item--note">
                                <h5 class="order-sidebar__title toggler-accordion__item js-order-sidebar__trigger" data-toggle-target='.js-order-sidebar__content-note'>
                                    {{ 'cart_note.quote_form.enter_note' | trans }}
                                    <span class="icon icon--toggler-cross toggler-accordion__icon"></span>
                                </h5>
                                <div class="order-sidebar__content js-order-sidebar__content-note is-hidden">
                                    {{ parent() }}
                                </div>
                            </div>
                        {% endblock %}
                    {% endwidget %}
                {% endif %}

                {% if data.isQuoteEditable and can('ChangeCartItemPermissionPlugin') %}
                    {% if data.cart.idQuote is not empty and data.cart.items is not empty %}
                        {% widget 'CreateShoppingListFromCartWidget' args [data.cart.idQuote] only %}
                            {% block body %}
                                <div class="order-sidebar__item">
                                    <h5 class="order-sidebar__title toggler-accordion__item js-order-sidebar__trigger" data-toggle-target='.js-order-sidebar__content-shopping-list'>
                                        {{ 'cart.add-to-shopping-list' | trans }}
                                        <span class="icon icon--toggler-cross toggler-accordion__icon"></span>
                                    </h5>
                                    <div class="order-sidebar__content js-order-sidebar__content-shopping-list is-hidden">
                                        {{ parent() }}
                                    </div>
                                </div>
                            {% endblock %}
                        {% endwidget %}
                    {% endif %}
                {% endif %}

                {% if data.isQuoteEditable %}
                    {% widget 'ProductConcreteAddWidget' args [
                        '',
                        'cart.quick_add_to_cart.submit' | trans,
                        'cart/quick-add',
                        true
                    ] only %}
                        {% block body %}
                            <div class="order-sidebar__item">
                                <h5 class="order-sidebar__title toggler-accordion__item js-order-sidebar__trigger" data-toggle-target='.js-order-sidebar__content-quick-add-widget'>
                                    {{ 'cart.quick_add_to_cart' | trans}}
                                    <span class="icon icon--toggler-cross toggler-accordion__icon"></span>
                                </h5>
                                <div class="order-sidebar__content js-order-sidebar__content-quick-add-widget is-hidden">
                                    {{ parent() }}
                                </div>
                            </div>
                        {% endblock %}
                    {% endwidget %}
                {% endif %}

                <div class="order-sidebar__item order-sidebar__item--summary">
                    <div class="order-sidebar__item order-sidebar__item--start">
                        <div class=" grid grid--justify grid--middle order-sidebar__order">
                            <h6 class="col order-sidebar__title">{{ 'cart.your-order' | trans }}</h6>
                            <div class="col order-sidebar__quantity">{{ cartQuantity }} {{ 'checkout.step.summary.items' | trans }}</div>
                        </div>

                        {% if data.isQuoteEditable and can('ChangeCartItemPermissionPlugin') and can('SeePricePermissionPlugin') %}
                            {% widget 'DiscountVoucherFormWidget' only %}{% endwidget %}
                        {% endif %}
                    </div>

                    {% if can('SeePricePermissionPlugin') %}
                        {% include molecule('cart-summary', 'CartPage') with {
                            data: {
                                cart: data.cart,
                                isQuoteValid: data.isQuoteValid,
                                isQuoteEditable: data.isQuoteEditable
                            }
                        } only %}
                    {% endif %}
                </div>

                {% widget 'QuoteRequestAgentOverviewWidget' only %}
                    {% block body %}
                        {% block activeRequest %}
                            {% if data.quoteRequestOverviewCollection.currentQuoteRequest %}
                                <div class="order-sidebar__item--summary">
                                    {{ block('activeRequestActions') }}
                                </div>
                            {% endif %}
                        {% endblock %}
                    {% endblock %}
                {% endwidget %}

                {% include molecule('toggler-accordion') with {
                    attributes: {
                        'wrap-selector': '.js-order-sidebar',
                        'trigger-selector': '.js-order-sidebar__trigger',
                        'class-to-toggle': 'is-hidden'
                    }
                } only %}
            </div>
        </div>

        {% if data.isQuoteEditable %}
            {% widget 'UpSellingProductsWidget' args [data.cart] only %}{% endwidget %}
        {% endif %}
    {% endif %}
{% endblock %}
