{% extends model('component') %}

{% define config = {
    name: 'summary-sidebar-item',
} %}

{% define data = {
    title: required,
    method: required,
    address: required,
    iconName: null,
    iconModifiers: null
} %}

{% block body %}
    <div class="grid grid--justify">
        <h6 class="col {{ config.name }}__title">{{ data.title }}</h6>
        <div class="col text-right">
            <div class="{{ config.name }}__method">{{ 'checkout.step.summary.with_method' | trans }} {{ data.method | capitalize }}</div>
            {% if data.iconName %}
                {% include atom('icon') with {
                    modifiers: [data.iconModifiers],
                    data: {
                        name: data.iconName
                    }
                } only %}
            {% endif %}
        </div>
    </div>

    {% include molecule('display-address') with {
        modifiers: ['summary'],
        class: config.name ~ '__list',
        data: {
            address: data.address
        }
    } only %}
{% endblock %}
