{% extends model('component') %}

{% define config = {
    name: 'order-info',
} %}

{% define data = {
    id: required,
    date: required,
} %}

{% block body %}
    <div class="{{ config.name }}__item">
        <div class="{{ config.name }}__name">{{ 'customer.order.order_id' | trans }}:</div>
        <span>{{ data.id }}</span>
    </div>
    <div class="{{ config.name }}__item">
        <div class="{{ config.name }}__name">{{ 'customer.order.date' | trans }}:</div>
        <span>{{ data.date }}</span>
    </div>
{% endblock %}
