{% extends model('component') %}

{% define config = {
    name: 'order-info',
} %}

{% define data = {
    id: required,
    date: required,
    order: {},
} %}

{% block body %}
    <div class="{{ config.name }}__item">
        <span class="{{ config.name }}__name">{{ 'customer.order.order_id' | trans }}:</span>
        <span>{{ data.id }}</span>
    </div>
    <div class="{{ config.name }}__item">
        <span class="{{ config.name }}__name">{{ 'customer.order.date' | trans }}:</span>
        <span>{{ data.date }}</span>
    </div>

    {% embed molecule('order-custom-reference', 'OrderCustomReferenceWidget') ignore missing with {
        class: config.name ~ '__item',
        data: {
            orderCustomReference: data.order.orderCustomReference,
        },
        embed: {
            parentClassName: config.name,
        },
    } only %}
        {% block title %}
            <span class="{{ embed.parentClassName }}__name">{{ data.title }}:</span>
        {% endblock %}

        {% block textWrapper %}
            <span>
                {{ block('text') }}
            </span>
        {% endblock %}
    {% endembed %}
{% endblock %}
