{% extends organism('side-drawer', '@SprykerShop:ShopUi') %}

{% define attributes = {
    'locked-body-class-name': 'is-locked-tablet',
    'overlay-class-name': 'main-overlay',
    'should-close-by-overlay-click': true,
    'overlay-breakpoint': 1024,
} %}

{% block body %}
    <aside class="{{ config.name }}__drawer">
        {% block close %}
            <button class="{{ config.name }}__close {{ attributes['trigger-selector'] }}">
                {% include atom('icon') with {
                    data: {
                        name: 'cross',
                    },
                } only %}
            </button>
        {% endblock %}

        {% block topBlock %}
            <div class="grid grid--gap-smaller {{ config.name }}__navigation-top">
                {% if is_granted('ROLE_USER') %}
                    <div class="col {{ config.name }}__navigation-top-actions">
                        {% widget 'PriceModeSwitcherWidget' only %}{% endwidget %}
                    </div>
                    <div class="col {{ config.name }}__navigation-top-actions">
                        {% widget 'CurrencyWidget' only %}{% endwidget %}
                    </div>
                    <div class="col {{ config.name }}__navigation-top-actions">
                        {% widget 'LanguageSwitcherWidget' args [app.request.pathInfo, app.request.queryString, app.request.requestUri] only %}{% endwidget %}
                    </div>

                    {% widget 'StoreSwitcher' with {
                        embed: {
                            configName: config.name,
                        },
                    } only %}
                        {% block body %}
                            <div class="col {{ embed.configName }}__navigation-top-actions">
                                {{ parent() }}
                            </div>
                        {% endblock %}
                    {% endwidget %}
                {% else %}
                    <div class="col col--sm-4 {{ config.name }}__navigation-top-actions">
                        {% widget 'LanguageSwitcherWidget' args [app.request.pathInfo, app.request.queryString, app.request.requestUri] only %}{% endwidget %}
                    </div>

                    {% widget 'StoreSwitcher' with {
                        embed: {
                            configName: config.name,
                        },
                    } only %}
                        {% block body %}
                            <div class="col col--sm-4 {{ embed.configName }}__navigation-top-actions">
                                {{ parent() }}
                            </div>
                        {% endblock %}
                    {% endwidget %}
                {% endif %}
            </div>
        {% endblock %}

        <div class="{{ config.name }}__holder">
            <div class="{{ config.name }}__navigation">
                {% block navigation %}
                    {% widget 'NavigationWidget' args ['MAIN_NAVIGATION', 'navigation-main'] only %}{% endwidget %}
                {% endblock %}
            </div>

            <div class="{{ config.name }}__info">
                <a href="tel:{{ 'global.phone.number' | trans | replace({' ': ''}) }}" class="{{ config.name }}__contact">
                    <span class="{{ config.name }}__contact-icon">
                        {% include atom('icon') with {
                            modifiers: ['bigger'],
                            data: {
                                name: 'cell-phone',
                            },
                        } only %}
                    </span>
                    <span class="{{ config.name }}__contact-text {{ config.name }}__contact-text--weight">{{ 'global.contact_us' | trans }}:</span>
                    <span class="{{ config.name }}__contact-text">{{ 'global.phone.number' | trans}}</span>
                </a>
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ url('logout') }}" class="spacing-top spacing-top--big button button--hollow button--expand">{{ 'customer.logout' | trans }}</a>
                {% endif %}
            </div>
        </div>
    </aside>
{% endblock %}
