{% extends model('component') %}

{% define config = {
    name: 'side-drawer',
    tag: 'side-drawer'
} %}

{% define attributes = {
    'trigger-selector': required,
    'container-selector': '',
} %}

{% block body %}
    <div class="{{config.name}}__overlay {{attributes['trigger-selector']}}"></div>

    <aside class="{{config.name}}__drawer">
        {% block close %}
            <div class="{{config.name}}__close">
                <a href="#" class="link link--alt {{attributes['trigger-selector']}}">
                    {{'global.close' | trans}}
                    {% include atom('icon') with {
                        data: {
                            name: 'times'
                        }
                    } only %}
                </a>
            </div>
        {% endblock %}

        <div class="{{config.name}}__navigation-top">

        </div>

        <div class="grid {{config.name}}__actions">
            <div class="col col--sm-4">
                {% widget 'PriceModeSwitcherWidget' only %}{% endwidget %}
            </div>
            <div class="col col--sm-4">
                {% widget 'CurrencyWidget' only %}{% endwidget %}
            </div>
            <div class="col col--sm-4">
                {% widget 'LanguageSwitcherWidget' args [app.request.pathInfo, app.request.queryString, app.request.requestUri] only %}{% endwidget %}
            </div>
        </div>

        <div class="{{config.name}}__navigation">
            {% widget 'NavigationWidget' args ['MAIN_NAVIGATION', 'navigation-main'] only %}{% endwidget %}
        </div>
    </aside>
{% endblock %}
