{% extends molecule('packaging-unit-cart', '@SprykerShop:ProductPackagingUnitWidget') %}

{% define data = {
    hasSubQuantity: false,
    hasAmountPerQuantity: false,
    countOfDecimalsInAmount: 10,
} %}

{% block body %}
    {% set amountPerQuantity = data.amount.divide(data.quantity, data.countOfDecimalsInAmount).trim %}

    {% if data.quantity is not empty %}
        <li class="spacing-top">
            {{ 'packaging_units.cart.quantity' | trans }}: {{ data.quantity }}

            {% if data.hasSubQuantity %}
                {% set salesUnitName = data.quantitySalesUnit.productMeasurementUnit.name | default %}

                {% if salesUnitName is not empty and data.amount is empty %}
                    {% include atom('quantity-option') with {
                        class: 'spacing-left',
                        data: {
                            value: data.quantity,
                            precision: data.quantitySalesUnit.conversion,
                            optionName: salesUnitName | trans,
                        },
                    } only %}
                {% endif %}

                {% if data.amount is not empty %}
                    {% set amountSalesUnitName = data.amountSalesUnit.productMeasurementUnit.name | default %}

                    {% embed atom('quantity-option') with {
                        class: 'spacing-left',
                        data: {
                            value: data.amount,
                            precision: data.quantity,
                            optionName: amountSalesUnitName | trans,
                        },
                        embed: {
                            countOfDecimalsInAmount: data.countOfDecimalsInAmount,
                        },
                    } only %}
                        {% block body %}
                            {{ data.value.divide(data.precision, embed.countOfDecimalsInAmount).trim }} {{ data.optionName }}
                        {% endblock %}
                    {% endembed %}
                {% endif %}
            {% endif %}
        </li>
    {% endif %}

    {% if data.amount is not empty %}
        <li class="spacing-top">
            {{ 'packaging_units.cart.amount' | trans }}: {{ data.hasAmountPerQuantity ? amountPerQuantity : data.amount }}
        </li>
    {% endif %}
{% endblock %}
