{% extends molecule('money-price') %}

{% define config = {
    name: 'volume-price',
    tag: 'volume-price',
} %}

{% block body %}
    {% set amountClassName = data.originalAmount is not empty ? 'text-alt' %}

    <span class="{{ config.name }}__amount {{ amountClassName }}">
        <span itemprop="price" content="{{ data.amount | moneyRaw }}" class="{{ config.jsName }}__price {{ config.name }}__price">
            <meta itemprop="priceCurrency" content="{{ currencyIsoCode() }}">
            {{ data.amount | money }}
        </span>
    </span>

    {% if data.originalAmount is not empty and data.originalAmount > data.amount -%}
        <span class="{{ config.name }}__amount {{ config.name }}__amount--original">
            {{ data.originalAmount | money }}
        </span>
    {%- endif -%}

    {% if data.amount is not empty %}
        {% block priceMode %}
            {{ parent() }}
        {% endblock %}
    {% endif %}
{% endblock %}
