{% extends molecule('money-price') %}

{% define config = {
    name: 'volume-price',
    tag: 'volume-price'
} %}

{% define data = {
    amount: required,
    originalAmount: null,
    priceMode: app.priceMode
} %}

{% block class %}
    {{ parent() }} price--pdp
{% endblock %}

{% block body %}

    <span class="price__amount price__amount--pdp {{ config.name }}__amount {% if data.originalAmount is not empty -%} price__amount--alt {%- endif -%}">
        <span class="{{ config.jsName }}__price {{ config.name }}__price">
            {{ data.amount | money }}
        </span>
    </span>

    {% if data.originalAmount is not empty and data.originalAmount > data.amount -%}
        <span class="price__amount price__amount--pdp {{config.name}}__amount {{config.name}}__amount--original">{{ data.originalAmount | money }}</span>
    {%- endif -%}

    <span class="price__mode price__mode--pdp">

        {% if data.priceMode == 'GROSS_MODE' %}
            {{ 'price.mode.incl_vat' | trans }}
        {% endif %}

        {% if data.priceMode == 'NET_MODE' %}
            {{ 'price.mode.excl_vat' | trans }}
        {% endif %}

    </span>

{% endblock %}
