{% extends view('comment-thread', '@SprykerShop:CommentWidget') %}

{% block contentInner %}
    <div {% if data.ajaxTriggerAttribute %}class="is-position-relative {{ ajaxContentClass }}"{% endif %}>
        {% if data.taggedComments is not empty %}
            {% block selectCommentThread %}
                {% embed molecule('custom-select') with {
                    modifiers: ['full-width'],
                    class: 'spacing-bottom',
                    attributes: {
                        'config-width': '100%',
                    },
                    embed: {
                        commentListOptions: commentListOptions,
                        commentThreadSelectClass: commentThreadSelectClass,
                    },
                } only %}
                    {% block selectClass %}{{ config.jsName }} {{ embed.commentThreadSelectClass }}{% endblock %}
                    {% block options %}
                        {% for commentOption in embed.commentListOptions %}
                            <option value="{{ commentOption.value }}">
                                {{ ('comment_widget.tags.' ~ commentOption.value) | trans ~ ' (' ~ commentOption.count ~ ')' }}
                            </option>
                        {% endfor %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}

            {{ block('commentThreadList') }}
        {% endif %}

        {% block newCommentForm %}
            {% if data.customer %}
                {% include molecule('add-comment-form', 'CommentWidget') with {
                    data: {
                        returnUrl: data.returnUrl,
                        ownerId: data.ownerId,
                        ownerType: data.ownerType,
                        ajaxTriggerAttribute: ajaxTriggerAttribute,
                    },
                } only %}
            {% endif %}
        {% endblock %}

        {% if data.ajaxTriggerAttribute %}
            {{ block('ajaxLoader') }}
        {% endif %}
    </div>
{% endblock %}
