{% extends model('component') %}

{% define config = {
    name: 'shipment-sidebar',
} %}

{% define data = {
    shipment: required,
} %}

{% block body %}
    {% set shippingAddress = data.shipment.vars.data.shippingAddress %}
    {% set shipmentSelection = data.shipment.shipmentSelection %}
    {% set requestedDeliveryDate = data.shipment.requestedDeliveryDate %}

    <div class="{{ config.name }}__item">
        <h4 class="{{ config.name }}__title">{{ 'page.checkout.shipment.shipping_address.title' | trans }}</h4>

        {% include molecule('display-address') with {
            data: {
                address: shippingAddress,
                isAddressLabelVisible: false,
            },
        } only %}
    </div>

    <div class="{{ config.name }}__item">
        {{ form_errors(shipmentSelection) }}

        <h4 class="{{ config.name }}__title">{{ 'page.checkout.shipment.shipping_method_heading' | trans }}</h4>

        {% for name, choices in shipmentSelection.vars.choices %}
            <h4 class="{{ config.name }}__title grid grid--justify grid--middle">
                <span class="col">{{ name }}</span>

                {% include atom('icon') with {
                    class: 'col',
                    modifiers: [name | lower ~ '-logo'],
                    data: {
                        name: name | lower ~ '-logo',
                    },
                } only %}
            </h4>

            {% include molecule('checkout-list', 'CheckoutPage') with {
                data: {
                    form: shipmentSelection,
                    choices: choices,
                    checkedValue: shipmentSelection.vars.value,
                },
            } only %}
        {% endfor %}
    </div>

    <div class="{{ config.name }}__item">
        <h4 class="{{ config.name }}__title">{{ 'page.checkout.shipment.requested_delivery_date.title' | trans }}</h4>

        {% widget 'LanguageSwitcherWidget' args [app.request.pathInfo, app.request.queryString, app.request.requestUri] with {
            data: {
                field: requestedDeliveryDate,
            },
        } only %}
            {% block body %}
                {% include molecule('date-time-picker') with {
                    modifiers: ['with-icon'],
                    data: {
                        field: data.field,
                        hasIcon: true,
                    },
                    attributes: {
                        language: data.currentLanguage,
                        config: '{
                            "format": "Y-m-d",
                            "timepicker": false,
                            "minDate": 0,
                            "scrollInput": false,
                            "scrollMonth": false
                        }',
                    },
                } only %}
            {% endblock %}
        {% endwidget %}
    </div>
{% endblock %}
