{% extends model('component') %}

{% define config = {
    name: 'asset-selector',
} %}

{% define data = {
    id: random(),
    formFieldName: required,
    isDisabled: false,
    placeholder: '',
    hasSubtitle: true,
    label: 'self_service_portal.asset.selector.button',
    placeholder: 'self_service_portal.asset.selector.search_placeholder' | trans,
    selected: null,
    subtitle: 'self_service_portal.asset.selector.label',
    clearable: false,
    product: null,
} %}

{% define attributes = {
    'trigger-class-name': 'js-asset-finder__trigger-' ~ data.id,
} %}

{% block class %}{{ parent() }} {{ data.selected ? 'is-selected' }}{% endblock %}

{% block body %}
    <div class="{{ config.name }}__container {{ config.name }}__container--select {{ _self.renderClass(config.name ~ '__container', modifiers) }}">
        <strong class="{{ config.name }}__subtitle {{ _self.renderClass(config.name ~ '__subtitle', modifiers) }}">{{ data.subtitle | trans }}</strong>

        <button type="button" class="link link--additional {{ attributes['trigger-class-name'] }}">
            {{ data.label | trans }}
        </button>
    </div>

    <input type="hidden" name="{{ data.formFieldName }}" class="{{ config.jsName }}__value">

    <div class="{{ config.name }}__container {{ config.name }}__container--selected {{ _self.renderClass(config.name ~ '__container', modifiers) }}">
        <div class="{{ config.name }}__data {{ config.name }}__data--actions {{ _self.renderClass(config.name ~ '__data', modifiers) }}">
            {% if data.hasSubtitle %}
                <div class="{{ config.name }}__content">
                    <strong class="{{ config.name }}__subtitle">{{ 'self_service_portal.asset.assigned_asset' | trans }}</strong>
                </div>
            {% endif %}

            <button type="button" class="link link--additional {{ attributes['trigger-class-name'] }}">
                {{ 'self_service_portal.asset.selector.change' | trans }}
            </button>

            {% if data.clearable %}
                <button type="button" class="link link--additional  {{ config.jsName }}__clear">
                    {{ 'self_service_portal.asset_filter.clear' | trans }}
                </button>
            {% endif %}
        </div>

        <div class="{{ config.name }}__content">
            <strong class="{{ config.name }}__subtitle {{ config.jsName }}__asset-name">
                {{ data.selected is not empty ? data.selected.name }}
            </strong>

            <span class="{{ config.name }}__data">
                <span class="{{ config.name }}__information">
                    <span>{{ 'self_service_portal.asset.item.serial' | trans }}:</span>
                    <span class="{{ config.jsName }}__asset-text {{ config.name }}__asset-text">
                        {{- data.selected is not empty ? data.selected.serial_number -}}
                    </span>
                </span>

                <span class="{{ config.name }}__status {{ config.jsName }}__status"></span>
            </span>
        </div>
    </div>

    {% include molecule('main-popup') with {
        modifiers: ['auto'],
        class: config.jsName ~ '__popup',
        data: {
            title: 'self_service_portal.asset.modal.header' | trans,
            content: block('finder'),
        },
        attributes: {
            'content-id': config.jsName ~ '__popup-content-' ~ data.id,
            'trigger-class-name': attributes['trigger-class-name'],
            'has-content-mount': true,
        },
    } only %}
{% endblock %}

{% block finder %}
    {% include molecule('asset-finder', 'SelfServicePortal') with {
        data: {
            formFieldName: data.formFieldName,
            isDisabled: data.isDisabled,
            placeholder: data.placeholder,
            product: data.product,
        },
        attributes: {
            'input-class-name': "#{config.jsName}__value",
            'selected-asset-class-name': "#{config.jsName}__asset-text",
            'selected-name-class-name': "#{config.jsName}__asset-name",
            'selected-status-class-name': "#{config.jsName}__status",
            'clear-class-name': "#{config.jsName}__clear",
            'container-class-name': config.name,
            'popup-class-name': "#{config.jsName}__popup",
        },
    } only %}
{% endblock %}
