{% extends model('component') %}

{% define config = {
    name: 'product-item-attributes',
    tag: 'ul'
} %}

{% define data = {
    listItem: required
} %}

{%- block class -%}
    list {{ parent() }}
{%- endblock -%}

{% block body %}
    {% for attribute in data.listItem.superAttributesDefinition %}
        {% if data.listItem.attributes[attribute] is defined %}
            <li class="list__item list__item--inline spacing-right spacing-right--biggest">
                <strong>{{- ('product.attribute.' ~ attribute) | trans -}}: </strong>
                {% if ('product.attribute.' ~ attribute) | trans == 'Color' %}
                    <span class="{{ config.name}}__color text-secondary" style="background-color: {{ data.listItem.attributes[attribute] }}">
                        {{ data.listItem.attributes[attribute] }}
                    </span>
                {% else %}
                    <span class="text-secondary">
                        {{ data.listItem.attributes[attribute] }}
                    </span>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
{% endblock %}
