{% extends view('shipment', '@SprykerShop:CheckoutPage') %}

{% define data = {
    stepNumder: 2,
} %}

{% block content %}
    {% embed molecule('form') with {
        class: 'checkout-form',
        data: {
            form: data.forms.shipment,
            cart: data.forms.shipment.vars.data,
            attributes: [],
            options: {
                attr: {
                    id: 'payment-form',
                },
            },
            submit: {
                enable: true,
                text: 'checkout.step.payment' | trans,
                class: 'form__action--expand-sm-md button button--big',
            },
            cancel: {
                enable: true,
                url: data.backUrl,
                text: 'general.back.button' | trans,
                icon: '',
                class: 'form__action--expand-sm-md button button--big button--hollow-icon button--back',
            },
        },
    } only %}
        {% block fields %}
            {% set shipmentGroupCollectionForm = data.form.shipmentGroups | default %}

            {% for shipmentGroupForm in shipmentGroupCollectionForm %}
                {% if shipmentGroupForm.hash is defined %}
                    {% do shipmentGroupForm.hash.setRendered %}
                {% endif %}

                <article class="col col--sm-12 grid spacing spacing--inner">
                    <div class="col col--sm-12 col--lg-8">
                        {% for item in shipmentGroupForm.vars.data.items %}
                            {% set item = item.bundleProduct ?? item %}

                            {% include molecule('summary-item', 'CheckoutPage') with {
                                data: {
                                    name: item.name,
                                    quantity: item.quantity,
                                    price: item.sumPrice | money,
                                    options: item.productOptions | default({}),
                                    bundleItems: item.bundleItems | default([]),
                                    quantitySalesUnit: item.quantitySalesUnit,
                                    amountSalesUnit: item.amountSalesUnit,
                                    amount: item.amount,
                                    groupKey: item.groupKey,
                                    images: item.images,
                                    sku: item.sku,
                                },
                            } only %}
                        {% endfor %}
                    </div>

                    <div class="col col--sm-12 col--lg-4">
                        <div class="{{ config.name }}__sidebar-item">
                            <h5>{{ 'page.checkout.shipment.shipping_address.title' | trans }}</h5>
                            <div>{{ shipmentGroupForm.shipment.vars.label }}</div>
                        </div>

                        {{ form_errors(shipmentGroupForm.shipment.shipmentSelection) }}
                        {% for name, choices in shipmentGroupForm.shipment.shipmentSelection.vars.choices %}
                            <div class="{{ config.name }}__sidebar-item form__field form__field--shipment col col--sm-12">
                                <h5 class="grid grid--justify grid--middle title title--second">
                                    <span class="col">{{ name }}</span>

                                    {% include atom('icon') with {
                                        class: 'col',
                                        modifiers: ['shipment', name | lower ~ '-logo'],
                                        data: {
                                            name: name | lower ~ '-logo',
                                        },
                                    } only %}
                                </h5>

                                {% include molecule('checkout-list', 'CheckoutPage') with {
                                    data: {
                                        form: shipmentGroupForm.shipment.shipmentSelection,
                                        choices: choices,
                                    },
                                } only %}
                            </div>
                        {% endfor %}

                        <div class="{{ config.name }}__sidebar-item">
                            <h3>{{ 'page.checkout.shipment.requested_delivery_date.title' | trans }}</h3>
                            {{ form_row(shipmentGroupForm.shipment.requestedDeliveryDate, {
                                attr: {
                                    'placeholder': 'YYYY-MM-DD',
                                }
                            }) }}
                        </div>
                    </div>
                </article>
                <div class="col col--sm-12 spacing spacing--inner"><hr></div>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
