{% extends view('shipment', '@SprykerShop:CheckoutPage') %}

{% define data = {
    stepNumder: 2,
    products: _view.products,
    currentLanguage: _view.currentLanguage,
} %}

{% block containerClass %}container--large{% endblock %}

{% block content %}
    {% embed molecule('form') with {
        class: 'checkout-form',
        data: {
            form: data.forms.shipment,
            cart: data.forms.shipment.vars.data,
            attributes: [],
            options: {
                attr: {
                    id: 'payment-form',
                },
            },
            submit: {
                enable: true,
                text: 'checkout.step.payment' | trans,
                class: 'form__action--expand-sm-md button button--big',
            },
            cancel: {
                enable: true,
                url: data.backUrl,
                text: 'general.back.button' | trans,
                icon: '',
                class: 'form__action--expand-sm-md button button--big button--hollow-icon button--back',
            },
        },
        embed: {
            currentLanguage: data.currentLanguage,
        },
    } only %}
        {% block fieldset %}
            {% set shipmentGroupCollectionForm = data.form.shipmentGroups | default %}

            <div class="grid">
                {% for shipmentGroupForm in shipmentGroupCollectionForm %}
                    {% if shipmentGroupForm.hash is defined %}
                        {% do shipmentGroupForm.hash.setRendered %}
                    {% endif %}

                    <article class="shipment-wrapper col col--sm-12 grid grid--gap">
                        <h3 class="shipment-wrapper__group-heading col col--sm-12">
                            {{ 'page.checkout.shipment.shipment_group_heading' | trans({
                                '%current%': loop.index,
                                '%total%': loop.length
                            }) }}
                        </h3>

                        <div class="col col--sm-12 col--lg-8">
                            {% for item in shipmentGroupForm.vars.data.items %}
                                {% set item = item.bundleProduct ?? item %}

                                {% embed molecule('product-item') with {
                                    modifiers: ['checkout'],
                                    data: {
                                        listItem: item,
                                        quantity: item.quantity,
                                        priceModifiers: ['medium', 'margin-bottom-from-tablet'],
                                    },
                                } only %}
                                    {% block image %}
                                        {% include molecule('product-item-image') with {
                                            modifiers: ['small'],
                                            data: {
                                                name: data.listItem.name | default,
                                                image: data.listItem.images is not empty ? (data.listItem.images | first) : null,
                                            },
                                        } only %}
                                    {% endblock %}

                                    {% block title %}
                                        <h6 class="{{ config.name }}__title">{{ data.listItem.name }}</h6>
                                    {% endblock %}

                                    {% block salesInfo %}{% endblock %}
                                    {% block bundle %}{% endblock %}
                                    {% block note %}{% endblock %}
                                    {% block quantity %}{% endblock %}
                                {% endembed %}
                            {% endfor %}
                        </div>

                        <div class="col col--sm-12 col--lg-4">
                            <div class="shipment-wrapper__sidebar-item">
                                <h4 class="shipment-wrapper__sidebar-title">{{ 'page.checkout.shipment.shipping_address.title' | trans }}</h4>
                                <div class="shipment-wrapper__sidebar-content">{{ shipmentGroupForm.shipment.vars.label }}</div>
                            </div>

                            <div class="shipment-wrapper__sidebar-item">
                                {{ form_errors(shipmentGroupForm.shipment.shipmentSelection) }}

                                <h4 class="shipment-wrapper__sidebar-title">{{ 'page.checkout.shipment.shipping_method_heading' | trans }}</h4>

                                {% for name, choices in shipmentGroupForm.shipment.shipmentSelection.vars.choices %}
                                    <h4 class="shipment-wrapper__sidebar-title grid grid--justify grid--middle">
                                        <span class="col">{{ name }}</span>

                                        {% include atom('icon') with {
                                            class: 'col',
                                            modifiers: ['shipment', name | lower ~ '-logo'],
                                            data: {
                                                name: name | lower ~ '-logo',
                                            },
                                        } only %}
                                    </h4>

                                    {% include molecule('checkout-list', 'CheckoutPage') with {
                                        data: {
                                            form: shipmentGroupForm.shipment.shipmentSelection,
                                            choices: choices,
                                        },
                                    } only %}
                                {% endfor %}
                            </div>

                            <div class="shipment-wrapper__sidebar-item">
                                <h4 class="shipment-wrapper__sidebar-title">{{ 'page.checkout.shipment.requested_delivery_date.title' | trans }}</h4>

                                {% include molecule('date-time-picker') with {
                                    modifiers: ['with-icon'],
                                    data: {
                                        field: shipmentGroupForm.shipment.requestedDeliveryDate,
                                        hasIcon: true,
                                    },
                                    attributes: {
                                        'language': embed.currentLanguage,
                                        'config': '{
                                            "format": "Y-m-d",
                                            "timepicker": false
                                        }',
                                    },
                                } only %}
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
