{% extends model('component') %}

{% define config = {
    name: 'bundle-items',
} %}

{% define data = {
    items: required,
    title: 'cart.item.bundle.description' | trans,
} %}

{% block component %}
    {% if data.items %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    {% block title %}
        <h5 class="{{config.name}}__title">{{ data.title }}</h5>
    {% endblock %}
    {% block itemsList %}
        <ul class="{{config.name}}__list">
            {% block items %}
                {% for item in data.items %}
                    {% block item %}
                        <li class="{{ config.name }}__item">
                            <div class="grid grid--middle grid--justify grid--gap">
                                <div class="col col--sm-12 col--md-7">
                                    <p>{{ item.name }}</p>
                                    <span class="{{ config.name }}__quantity col col--sm-12">x {{ item.quantity }}</span>
                                </div>
                                <div class="col col--sm-12 col--md-5">
                                    {% block state %}
                                        {% set isStateExist = item.state is defined and item.state is not empty %}

                                        {% if isStateExist %}
                                            {% set stateName = item.state.name %}
                                            {% set state = stateName | replace({' ': '-'}) | lower %}

                                            {% include molecule('status') with {
                                                class: 'spacing-y',
                                                data: {
                                                    label: stateName | capitalize,
                                                    status: state,
                                                },
                                            } only %}
                                        {% endif %}
                                    {% endblock %}
                                </div>
                            </div>
                        </li>
                    {% endblock %}

                    {#{% block item %}#}
                        {#<li class="{{ config.name }}__item">#}
                            {#{{ item.name }}#}

                            {#<div class="grid grid--middle grid--justify spacing-y">#}
                                {#<span class="{{ config.name }}__quantity col">x {{ item.quantity }}</span>#}

                                {#{% block state %}#}
                                    {#{% if item.state is not empty %}#}
                                        {#{% set state = item.state.name | replace({' ': '-'}) | lower %}#}

                                        {#{% include molecule('status') with {#}
                                            {#class: config.name ~ '__state col',#}
                                            {#data: {#}
                                                {#label: item.state.name | capitalize,#}
                                                {#status: state,#}
                                            {#},#}
                                        {#} only %}#}
                                    {#{% endif %}#}
                                {#{% endblock %}#}
                            {#</div>#}
                        {#</li>#}
                    {#{% endblock %}#}
                {% endfor %}
            {% endblock %}
        </ul>
    {% endblock %}
{% endblock %}
