{% extends molecule('review', '@SprykerShop:ProductReviewWidget') %}

{% block body %}
    <div class="{{ config.name }}__summary">
        <span itemprop="name">{{ data.summary | e('html') }}</span>

        {% include molecule('rating-selector', 'ProductReviewWidget') with {
            class: config.name ~ '__stars',
            data: {
                value: data.ratingValue,
                maxValue: data.ratingMaxValue,
                useHalfSteps: true,
            },
            attributes: {
                readonly: true,
            },
        } only %}
    </div>
    <div class="{{ config.name }}__author">
        <span itemprop="author">{{ data.nickname | e('html')}}</span> -
        <span itemprop="datePublished">{{ data.createdAt }}</span>
    </div>
    <div itemprop="reviewBody" class="{{ config.name }}__description">
        {{ data.description | e('html')}}
    </div>
{% endblock %}
