{% extends template('widget') %}

{% define data = {
    title: _widget.title,
    form: _widget.form,
    options: {
        action: path('product-quick-add')
    },
    submitButtonTitle: _widget.submitButtonTitle,
    verticalLayout: _widget.verticalLayout
} %}

{% block body %}
    {% set formModifiers = data.verticalLayout ? [] : ["row"] %}
    {% embed molecule('product-quick-add-form', 'ProductSearchWidget') with {
        class: "grid grid--middle",
        modifiers: formModifiers,
        data: {
            title: data.title,
            form: data.form,
            options: data.options,
            submitButtonTitle: data.submitButtonTitle,
            verticalLayout: data.verticalLayout
        }
    } only %}
        {% block body %}
            {% if data.title is not empty %}
                <div class="col col--sm-12">
                    <h5 class="{{ config.name }}__title spacing-bottom spacing-bottom--big {{ data.verticalLayout ? '' : config.name ~ '__title--row' }}">
                        {{ data.title }}
                    </h5>
                </div>
            {% endif %}
            <div class="col col--sm-12">
                {{ form_start(data.form, data.options) }}
                <div class="grid">

                    {% block fields %}
                        {{ parent() }}
                    {% endblock %}

                    <div class="col col--sm-12 {{ data.verticalLayout ? '' : 'col--md-2' }}">
                        <button type="submit" class="{{ config.name }}__button button button--expand button--success">
                            {{ data.submitButtonTitle }}
                        </button>
                    </div>
                </div>
                {{ form_end(data.form) }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
