{% extends model('component') %}
{% import _self as component %}

{% define config = {
    name: 'content-collapser',
} %}

{%- block class -%}
    {{parent()}}
    {{config.jsName}}
{%- endblock -%}

{% block body %}
    <div class="{{ component.renderClass(config.name ~ '__container', modifiers) }}">
        {% block content %}{% endblock %}
    </div>

    {% include molecule('toggler-click') with {
        attributes: {
            'target-class-name': config.jsName,
            'trigger-class-name': config.jsName ~ '__trigger',
            'class-to-toggle': config.name ~ '--full-visible',
        },
    } only %}

    <div class="{{ component.renderClass(config.name ~ '__trigger-holder', modifiers) }}">
        <button class="button button--hollow button--tight {{config.jsName}}__trigger">
            {{ 'global.show_more' | trans }}
        </button>
    </div>
{% endblock %}
