{% extends view('dismiss-confirm', '@SprykerShop:SharedCartPage') %}

{% block customerContent %}
    <h3 class="spacing-bottom spacing-bottom--big">{{ "shared_cart_page.dismiss_confirmation.warning" | trans }}</h3>
    <div class="box">
        <h5>{{ data.quoteName }}</h5>
        <p>
            {{ "shared_cart_page.dismiss_confirmation.trying_to_dismiss" | trans }}
        </p>
        <div class="spacing-top spacing-top--bigger">
            <a href="{{ data.backUrl }}" class="button button--hollow spacing-right">
                {{ "general.back.button" | trans }}
            </a>
            <a href="{{ url('shared-cart/dismiss', { 'idQuote' : data.idQuote }) }}" class="button button--alert">
                {{ "shared_cart_page.cart.dismiss" | trans }}
            </a>
        </div>
    </div>
{% endblock %}
