{% extends model('component') %}

{% define config = {
    name: 'shopping-list-note-toggler',
    tag: 'shopping-list-note-toggler',
} %}

{% define data = {
    shoppingListItemNoteForm: required
} %}

{% set shoppingListItemNoteClass = '' %}

{% block body %}
    <h6 class="{{ config.name }}__title {% if not data.shoppingListItemNoteForm.vars.data.note %} {{ config.jsName }}__title is-hidden {% endif %}">{{ 'shopping_list.item_note' | trans }}</h6>
    <div class="{{ config.name }}__container">
        {% if not data.shoppingListItemNoteForm.vars.data.note %}
            {% set shoppingListItemNoteClass = 'is-hidden' %}
            <h6 class="grid grid--justify grid--middle {{ config.name }}__label {{ config.jsName }}__label">
                <span class="col">{{ 'shopping_list.item_note.add' | trans }}</span>
                <span class="col icon icon--toggler-cross icon--toggler-cross-link"></span>
            </h6>
        {% endif %}
        <div class="{{ config.name }}__content {{ config.jsName }}__wrapper {{ shoppingListItemNoteClass }}">
            {{ form_row(data.shoppingListItemNoteForm.note, {
                label: ' ',
                attr : {
                    class : config.jsName ~ '__note-textarea',
                    placeholder: 'shopping_list.item_note.enter_note' | trans
                }})
            }}
            <div class="form__actions">
                <button class="form__action button" type="submit">{{ 'cart_note.form.save' | trans }}</button>
            </div>
        </div>
    </div>
{% endblock %}
