{% extends molecule('shopping-list-message', '@SprykerShop:ShoppingListPage') %}

{% block title %}
    <h3 class="title title--warning grid grid--left">
        <div class="{{ config.name }}__icon-box grid grid--center grid--middle spacing-right spacing-right--bigger">
            {% include atom('icon') with {
                modifiers: ['big'],
                data: {
                    name: 'alert-white',
                },
            } only %}
        </div>
        {{ 'customer.account.shopping_list.delete.warning' | trans }}
    </h3>
{% endblock %}

{% block message %}
    <p class="{{ config.name }}__text spacing-y spacing-y--big">
        {{ 'customer.account.shopping_list.delete.you_are_trying_to_delete_shopping_list' | trans }}
        <div class="box">
            <a href="{{ url('shopping-list/details', {'idShoppingList': data.idShoppingList}) }}" class="grid grid--middle" title="{{ data.title }}">
                {% include atom('icon') with {
                    class: 'spacing-right',
                    modifiers: ['big'],
                    data: {
                        name: 'shopping-list',
                    },
                } only %}
                {{ data.title }}
            </a>
        </div>
    </p>
{% endblock %}

{% block sharedInformationTitle %}
    {% set sharedInformationTitleClasses = config.name ~ '__text spacing-y spacing-y--big' %}

    {{ parent() }}
{% endblock %}

{% block businessUnitsTitle %}
    <h4 class="grid grid--middle spacing-bottom spacing-bottom--big">
        {{ 'company.account.business_unit' | trans }}:
        {% include atom('icon') with {
            class: 'col col--right',
            modifiers: ['title'],
            data: {
                name: 'building',
            },
        } only %}
    </h4>
{% endblock %}

{% block businessUnitsList %}
    <ul class="{{ config.name }}__list">
        {% for sharedCompanyBusinessUnit in data.sharedCompanyBusinessUnits %}
            <li class="{{ config.name }}__list-item spacing-bottom spacing-bottom--small">
                <strong>{{ sharedCompanyBusinessUnit.name }}</strong>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block companyUsersTitle %}
    <br>
    <h4 class="grid grid--middle spacing-bottom spacing-bottom--big">
        {{ 'company.account.company_user' | trans }}:
        {% include atom('icon') with {
            class: 'col col--right',
            modifiers: ['title'],
            data: {
                name: 'users',
            },
        } only %}
    </h4>
{% endblock %}

{% block companyUsersList %}
    <ul class="{{ config.name }}__list">
        {% for sharedCompanyUser in data.sharedCompanyUsers %}
            <li class="{{ config.name }}__list-item spacing-bottom spacing-bottom--small">
                {{ sharedCompanyUser.customer.firstName ~ ' ' ~  sharedCompanyUser.customer.lastName }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block sharedMessageInner %}
    {% set sharedMessageClasses = config.name ~ '__text text-alt' %}

    {{ parent() }}
{% endblock %}

{% block buttons %}
    <div class="spacing-y spacing-y--big">
        {% set backButtonClasses = 'button button--hollow button--expand-sm-only spacing-bottom' %}
        {% set deleteButtonClasses = 'button button--alert button--expand-sm-only spacing-bottom' %}

        {% block backButton %}
            {{ parent() }}
        {% endblock %}

        {% block deleteButton %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
