{% extends model('component') %}

{% define config = {
    name: 'autocomplete-form',
    tag: 'autocomplete-form',
} %}

{% define data = {
    value: '',
    id: '',
} %}

{% define attributes = {
    'suggestion-url': required,
    'debounce-delay': 500,
    'min-letters': 3,
    'query-param-name': 'query',
    'selected-value-key': '',
    'value-data-attribute': 'data-value',
    'item-class-name': '',
    'show-clean-button': false,
    'body-overlay-class-name': 'body-has-overlay',
} %}

{% block body %}

    {% include molecule('ajax-provider') with {
        class: config.jsName ~ '__provider ' ~ config.jsName ~ '__provider-' ~ data.id,
        attributes: {
            method: 'GET',
            url: attributes['suggestion-url']
        }
    } only %}

    {% include molecule('ajax-loader') with {
        attributes: {
            'provider-class-name': config.jsName ~ '__provider-' ~ data.id,
        },
    } only %}

    {% block input %}
        <div class="{{ config.name }}__field">
            <input name="query"
                   type="text"
                   class="input input--expand {{ config.name }}__input {{ config.jsName }}__input"
                   placeholder="{{ 'autocomplete.placeholder' | trans }}"
                   value="{{ data.value }}"
                   autocomplete="off">

            <input type="hidden" name="{{ attributes['selected-value-key'] }}" class="{{ config.jsName }}__input-hidden"/>
            {% if attributes['show-clean-button'] %}
                {% block cleanButton %}
                    <button type="button" class="button button--hollow-icon {{ config.name }}__clean-button {{ config.jsName }}__clean-button">
                        {% include atom('icon') with {
                            class: config.name ~ '__icon',
                            data: {
                                name: 'cross'
                            }
                        } only %}
                    </button>
                {% endblock %}
            {% endif %}
        </div>
    {% endblock %}

    {% block suggestion %}
        <div class="is-hidden {{ config.name }}__suggestion {{ config.jsName }}__container">
            {% include molecule('ajax-renderer') with {
                attributes: {
                    'provider-class-name': config.jsName ~ '__provider-' ~ data.id,
                    'target-class-name': config.jsName ~ '__suggestions-' ~ data.id,
                    'render-if-response-is-empty': true,
                },
            } only %}
        </div>
    {% endblock %}

{% endblock %}
