{% extends model('component') %}

{% define config = {
    name: 'breadcrumb-step',
    tag: 'li'
} %}

{% define data = {
    url: null,
    label: null,
    itemProp: null,
    withChevron: true
} %}

{% set isLink = data.url is not empty %}

{% block body %}
    {%- if isLink -%}<a class="{{ config.name ~ '__link' }}" href="{{data.url}}">{%- endif -%}
    {%- if data.itemProp -%}<span itemprop="{{-data.itemProp-}}">{%- endif -%}
    {{-data.label-}}
    {%- if data.itemProp -%}</span>{%- endif -%}
    {%- if isLink -%}</a>{%- endif -%}
    
    {% if data.withChevron %}<span class="{{ config.name ~ '__separator' }}">/</span>{% endif %}
{% endblock %}
