{% extends molecule('variant', '@SprykerShop:DiscountPromotionWidget') %}

{% block body %}
    {% set submitterKey = data.ajaxTriggerAttribute ?: 'data-form-submitter' %}
    {% set submitterValue = data.ajaxTriggerAttribute ? 'change' : true %}

    <div class="{{ config.name }}__title">{{ data.label }}</div>
    {% if data.selectedValue is null %}
        {% if data.isAvailable %}
            {% set options = [{
                label: 'product.attribute._none' | trans,
                value: '',
            }] %}

            {% for value in data.values %}
                {% set options = options | merge([{
                    label: value,
                    value: value,
                }]) %}
            {% endfor %}

            {% include molecule('custom-select') with {
                modifiers: ['full-width', 'margin-bottom'],
                data: {
                    options: options,
                },
                attributes: {
                    name: data.formName,
                    (submitterKey): submitterValue,
                    'config-width': '100%',
                },
            } only %}
        {% else %}
            {{ 'product.attribute.not_available' | trans }}
        {% endif %}
    {% else %}
        <div class="{{ config.name }}__selected-value">
            {{ data.selectedValue }}

            {% if data.ajaxTriggerAttribute %}
                <button class="link spacing-left" data-form-data-url-builder-skip-field="{{ data.formName }}" {{ data.ajaxTriggerAttribute }}>{{ 'Reset' | trans }}</button>
            {% else %}
                <a class="spacing-left" href="?">{{ 'Reset' | trans }}</a>
            {% endif %}

            <input type="hidden" name="{{ data.formName }}" value="{{ data.selectedValue }}" />
        </div>
    {% endif %}
{% endblock %}
