{% extends view('list-asset', '@SprykerFeature:SelfServicePortal') %}

{% block filtersToggler %}
    <button class="button button--hollow button--hollow-active js-filter-button" data-qa="component filters-button">
        {% include atom('icon') with {
            modifiers: ['filter'],
            class: 'spacing-right',
            data: {
                name: 'filter',
            },
        } only %}
        {{ 'customer.account.button.search_filters' | trans }}
    </button>

    {% include molecule('toggler-click') with {
        attributes: {
            'trigger-class-name': 'js-filter-button',
            'target-class-name': 'js-filter-section',
            'trigger-class-to-toggle': 'button--hollow-active',
        },
    } only %}
{% endblock %}

{% block customerContent %}
    {% include molecule('action-bar') with {
        modifiers: ['first'],
        data: {
            title: 'customer.account.ssp_assets' | trans,
            actions: [
                {
                    block: block('filtersToggler',)
                },
                {
                    block: block('actions'),
                },
            ],
        },
    } only %}

    {{ block('list') }}
{% endblock %}

{% block table %}
    {% set rows = rows | map(row => row | merge({
        actions: row.actions | map(action => action | merge({
            iconModifier: 'big',
            icon: 'eye',
            title: action.label,
        })),
    })) %}

    {{ parent() }}
{% endblock %}

{% block filters %}
    {% include molecule('filters', 'SelfServicePortal') with {
        class: 'is-hidden box box--small js-filter-section spacing-bottom--bigger',
        data: {
            filters: filters | map(_filter => _filter | merge({
                attr: {
                    class: "#{jsPrefix}#{ _filter.row.vars.name}-target",
                }
            })),
        },
    } only %}
{% endblock %}

{% block actions %}
    {% if can('CreateSspAssetPermissionPlugin') %}
        <a class="button action-bar__action" data-qa="create-ssp-asset"
            href="{{ url('customer/ssp-asset/create') }}">
            {{ 'customer.ssp_asset.create.button' | trans }}
        </a>
    {% endif %}
{% endblock %}
