{% extends template('widget') %}

{% define data = {
    completion: completion | default([]),
    suggestionByType: suggestionByType | default,
    category: suggestionByType.category | default([]),
    cms_page: suggestionByType.cms_page | default([]),
    product_abstract: suggestionByType.product_abstract | default([]),
    suggestionsLength: 6,
    categoriesLength: 6,
    pagesLength: 3,
    productsLength: 6
} %}

{% set leftVisible = data.completion is not empty
    or data.category is not empty
    or data.cms_page is not empty %}

{% set rightVisible = data.product_abstract is not empty %}

{% block body %}
    {% set colClasses = is_granted('ROLE_USER') ? 'col col--sm-12 col--md-6 col--xl-6' : 'col col--sm-12 col--md-6 col--lg-12 col--xl-6' %}

    <div class="grid grid--gap">
        {% if leftVisible %}
            <div class="{{ colClasses }}">
                {% include molecule('suggestion-links-list', 'CatalogPage') with {
                    data: {
                        name: 'global.search.suggestions' | trans,
                        items: data.completion,
                        length: data.suggestionsLength,
                        isTitleHiddenOnTablet: false,
                        isSuggestion: true
                    }
                } only %}
                {% include molecule('suggestion-links-list', 'CatalogPage') with {
                    data: {
                        name: 'global.search.suggestion.in_categories' | trans,
                        items: data.category,
                        isTitleHiddenOnTablet: false,
                        length: data.categoriesLength
                    }
                } only %}
                {% include molecule('suggestion-links-list', 'CatalogPage') with {
                    data: {
                        name: 'global.search.suggestion.in_cms' | trans,
                        items: data.cms_page,
                        isTitleHiddenOnTablet: false,
                        length: data.pagesLength
                    }
                } only %}
            </div>
        {% endif %}


        {% if rightVisible %}
            <div class="{{ colClasses }}">
                <div class="suggest-search__box">
                    <h6 class="suggestion-links-list__title suggestion-links-list__title--bottom-indent">{{ 'global.search.suggestion.in_products' | trans }}</h6>
                    {% for product in data.product_abstract | slice(0, data.productsLength)  %}
                        {% include molecule('suggestion-product', 'CatalogPage') with {
                            class: 'suggest-search__product',
                            data: {
                                product: product,
                                url: product.url | default,
                                image: product.images | first | default,
                                alt: product.abstract_name | default,
                                title: product.abstract_name | default,
                                price: product.price,
                                originalPrice: product.prices.ORIGINAL | default
                            }
                        } only %}
                    {% endfor %}

                    <div class="suggest-search__product-action">
                        <button type="submit" class="button button--hollow">{{ 'global.search.suggestion.see_all_products' | trans }}</button>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if not leftVisible and not rightVisible %}
            <div class="col text-center">
                {{ 'global.search.suggestion.no_result' | trans }}
            </div>
        {% endif %}
    </div>
{% endblock %}
