{% extends model('component') %}

{% define config = {
    name: 'homepage-content',
} %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1 class="{{ config.name }}__title">{{ 'adventure-title' | trans }}</h1>
            <ul class="grid grid--center grid--gap {{ config.name }}__nav">
                <li class="col"><a class="{{ config.name }}__link" href="#">{{ 'find-auto' | trans }}</a></li>
                <li class="col"><a class="{{ config.name }}__link" href="#">{{ 'find-service' | trans }}</a></li>
                <li class="col"><a class="{{ config.name }}__link" href="#">{{ 'find-repair-shop' | trans }}</a></li>
            </ul>
        </div>
    </div>
    <div class="{{ config.name }}__content">
        <img class="{{ config.name }}__image" src="{{ publicPath('images/image-2.webp') }}" />
        <div class="{{ config.name }}__blocks container">
            <div class="{{ config.name }}__block">
                <h3 class="{{ config.name }}__block-title">{{ 'block-title-1' | trans }}</h3>
                <p>{{ 'block-description-1' | trans | raw }}</p>
            </div>
            <div class="{{ config.name }}__block">
                <h3 class="{{ config.name }}__block-title">{{ 'block-title-2' | trans }}</h3>
                <p>{{ 'block-description-2' | trans | raw }}</p>
            </div>
            <div class="{{ config.name }}__block">
                <h3 class="{{ config.name }}__block-title">{{ 'block-title-3' | trans }}</h3>
                <p>{{ 'block-description-3' | trans | raw }}</p>
            </div>
        </div>
    </div>
{% endblock %}
