{% extends model('component') %}
{% import _self as component %}

{% define config = {
    name: 'navigation-icon-list',
    tag: 'nav'
} %}

{% define data = {
    nodes: []
} %}

{% block body %}
    <ul class="{{ component.renderClass('menu', modifiers) }}">
        {% for node in data.nodes %}
            {% embed atom('node') with {
                class: component.renderClass('menu__item', modifiers),
                config: {
                    tag: 'li'
                },
                data: {
                    node: node
                },
                embed: {
                    name: config.name,
                    modifiers: modifiers | merge(['big']),
                }
            } only %}
                {% block url %}
                    <a class="link link--secondary" href="{{ data.node.url }}" title="{{ data.node.title }}">
                        {% include atom('icon') with {
                            modifiers: ['big'],
                            data: {
                                name: data.node.cssClass
                            }
                        } only %}
                    </a>
                {% endblock %}

                {% block externalUrl %}
                    <a class="link link--secondary" href="{{ data.node.url }}" target="_blank" title="{{ data.node.title }}">
                        {% include atom('icon') with {
                            modifiers: ['big'],
                            data: {
                                name: data.node.cssClass
                            }
                        } only %}
                    </a>
                {% endblock %}

                {% block other %}
                    {% include atom('icon') with {
                        modifiers: embed.modifiers,
                        class: embed.name ~ '__icon icon--' ~ data.node.cssClass ~ '-footer',
                        data: {
                            name: data.node.cssClass
                        }
                    } only %}
                {% endblock %}
            {% endembed %}
        {% endfor %}
    </ul>
{% endblock %}
