{% extends template('widget') %}

{% define data = {
    cart: _widget.cart,
    accessType: _widget.accessType,
    isQuoteDeletable: _widget.isQuoteDeletable,
    isSharingAllowed: _widget.isSharingAllowed,
} %}

{% block template %}
    {% if data.isSharingAllowed %}
        {{parent()}}
    {% endif %}
{% endblock %}

{% block body %}
    <span class="cart-permission">
    {% if data.accessType == 'OWNER_ACCESS' %}
        <span class="cart-permission__owner text-alert">
            {{ 'widget.shared_cart.multi_cart.permissions.OWNER_ACCESS' | trans }}
        </span>
    {%  elseif data.accessType == 'FULL_ACCESS' %}
        <span class="cart-permission__full text-success">
            {{ 'widget.shared_cart.multi_cart.permissions.FULL_ACCESS' | trans }}
        </span>
    {% elseif data.accessType == 'READ_ONLY' %}
        <span class="cart-permission__read">
            {{ 'widget.shared_cart.multi_cart.permissions.READ_ONLY' | trans }}
        </span>
    {% endif %}
    </span>
{% endblock %}

{% block actions %}
    {% if _widget.isSharingAllowed and _widget.accessType == 'OWNER_ACCESS' %}
        <li class="col menu__item">
            <a class="link link--alt link--action" href="{{ url('shared-cart/share', {idQuote: _widget.cart.idQuote}) }}" title="{{ 'shared_cart_widget.cart.share' | trans }}">
                {% include atom('icon') with {
                    modifiers: ['share'],
                    data: {
                        name: 'share'
                    },
                    attributes: {
                        title: 'shared_cart_widget.cart.share' | trans
                    }
                } only %}
            </a>
        </li>
    {% endif %}
    {% if _widget.accessType != 'OWNER_ACCESS' %}
        <li class="col menu__item">
            <a class="link link--alt link--action" href="{{ url('shared-cart/dismiss-confirm', {idQuote: _widget.cart.idQuote}) }}">
                {% include atom('icon') with {
                    data: {
                        name: 'dismiss'
                    },
                    attributes: {
                        title: 'shared_cart_widget.cart.dismiss' | trans
                    }
                } only %}
            </a>
        </li>
    {% endif %}
    {% if _widget.isQuoteDeletable and can('WriteSharedCartPermissionPlugin', _widget.cart.idQuote) %}
        <li class="col menu__item">
            <a class="link link--alt link--action" href="{{ url('multi-cart/confirm-delete', {idQuote: _widget.cart.idQuote}) }}">
                {% include atom('icon') with {
                    data: {
                        name: 'delete'
                    },
                    attributes: {
                        title: 'page.multi_cart.shopping_cart.list.link.delete' | trans
                    }
                } only %}
            </a>
        </li>
    {% endif %}
{% endblock %}

{%- block isSharingAllowed -%}
    {{- _widget.isSharingAllowed -}}
{%- endblock -%}
