{% extends molecule('summary-overview', '@SprykerShop:CheckoutPage') %}

{% define config = {
    tag: 'div',
} %}

{% macro itemDiscounts(discounts, title, configName) %}
    {% if discounts | length %}
        <li class="{{ configName }}__item">
            <span class="{{ configName }}__text {{ configName }}__text--bigger">{{ title | trans }}</span>

            {% for discount in discounts %}
                <div class="{{ configName }}__text-wrap grid grid--justify grid--middle">
                    <span class="{{ configName }}__text col col--sm-8 col--lg-10 text-secondary">{{ discount.displayName }}</span>
                    <span class="{{ configName }}__text {{ configName }}__text--bigger col col--expand text-right text-alt">- {{ discount.amount | money }}</span>
                </div>
            {% endfor %}
        </li>
    {% endif %}
{% endmacro %}

{% block body %}
    <div class="{{ config.name }}__top grid grid--justify grid--middle">
        <div class="col col--sm-8">
            <h6 class="{{ config.name }}__title">{{ 'page.checkout.summary.complete_checkout' | trans }}</h6>
        </div>
        <div class="col col--expand text-right">
            <span class="{{ config.name }}__label">{{ cartQuantity | executeFilterIfExists('formatInt', app.locale) }} {{ 'checkout.step.summary.items' | trans }}</span>
        </div>
    </div>

    <ul class="{{ config.name }}__list">
        <li class="{{ config.name }}__item is-hidden-sm-md">
            <span class="{{ config.name }}__text {{ config.name }}__text--bigger float-right">{{ data.prices.subTotal | money }}</span>
            <span class="{{ config.name }}__text {{ config.name }}__text--bigger">{{ 'checkout.step.summary.sub_total' | trans }}</span>
        </li>

        <li class="{{ config.name }}__item">
            <span class="float-right">{{ data.totalCosts | money }}</span>
            <span class="{{ config.name }}__text {{ config.name }}__text--bigger">{{ 'checkout.step.summary.shipment_costs_total' | trans }}</span>

            {% for expense in data.expenses %}
                {% if expense.type == shipmentExpenseType %}
                    <div class="{{ config.name }}__text-wrap grid grid--justify grid--middle">
                        <span class="{{ config.name }}__text col col--sm-8 col--lg-10 text-secondary">
                            {{ expense.shipment.method.carrierName }} - {{ expense.shipment.method.name }}
                        </span>
                        <span class="{{ config.name }}__text {{ config.name }}__text--bigger col col--expand text-secondary text-right">{{ expense.sumPrice | money }}</span>
                    </div>
                {% endif %}
            {% endfor %}
        </li>

        {% if data.prices.discountTotal %}
            {{ _self.itemDiscounts(data.voucherDiscounts, 'cart.vouchers', config.name) }}
            {{ _self.itemDiscounts(data.cartRuleDiscounts, 'cart.discounts', config.name) }}
        {% endif %}

        {% widget 'SalesOrderThresholdWidget' args [data.expenses] only %}
        {% elsewidget 'SalesOrderThresholdWidgetPlugin' args [data.expenses] only %} {# @deprecated Use SalesOrderThresholdWidget instead. #}
        {% endwidget %}

        <li class="{{ config.name }}__item is-hidden-sm-md">
            <span class="float-right">{{ data.prices.tax | money }}</span>
            <span class="{{ config.name }}__text {{ config.name }}__text--bigger">{{ 'checkout.step.summary.tax' | trans }}</span>
        </li>

        <li class="{{ config.name }}__item {{ config.name }}__item--total">
            <div class="is-hidden-lg-xxl">
                <strong class="{{ config.name }}__title {{ config.name }}__title--total float-right">{{ data.prices.subTotal | money }}</strong>
                <h6 class="{{ config.name }}__title {{ config.name }}__title--total">{{ 'checkout.step.summary.sub_total' | trans }}</h6>
            </div>
            <div class="is-hidden-lg-xxl">
                <strong class="{{ config.name }}__title {{ config.name }}__title--total float-right">{{ data.prices.tax | money }}</strong>
                <h6 class="{{ config.name }}__title {{ config.name }}__title--total">{{ 'checkout.step.summary.tax' | trans }}</h6>
            </div>
            <strong class="{{ config.name }}__title {{ config.name }}__title--total {{ config.name }}__title--color-gray float-right">{{ data.prices.grandTotal | money }}</strong>
            <h6 class="{{ config.name }}__title {{ config.name }}__title--total {{ config.name }}__title--color-gray">{{ 'checkout.step.summary.grand_total' | trans }}</h6>
        </li>
    </ul>
{% endblock %}
