{% extends template('page-layout-main') %}

{% block pageInfo %}{% endblock %}

{% block contentTop %}
    {% embed molecule('slick-carousel') with {
        class: 'spacing-bottom spacing-bottom--big',
        modifiers: ['jumbotron'],
        data: {
            slides: [{
                imageUrl: '/assets/images/section-slider-item-image-10@2x.jpg',
                link: 'main_slider_1.url',
                cmsBlockName: 'Main slide-1',
                btnTitle: 'main_slider.btn.title'
            },{
                imageUrl: '/assets/images/section-slider-item-image-6@2x.jpg',
                link: 'main_slider_2.url',
                cmsBlockName: 'Main slide-2',
                btnTitle: 'main_slider.btn.title'
            },{
                imageUrl: '/assets/images/section-slider-item-image-7@2x.jpg',
                link: 'main_slider_3.url',
                cmsBlockName: 'Main slide-3',
                btnTitle: 'main_slider.btn.title'
            }]
        },
        attributes: {
            'slider-config': '{
                "slidesToShow": 1,
                "dots": true,
                "autoplay": true,
                "nextArrow": false,
                "prevArrow": false,
                "autoplaySpeed": 4000,
                "centerMode": true,
                "centerPadding": "240px",
                "responsive": [{
                     "breakpoint": 1600,
                     "settings": {
                         "centerPadding": "130px"
                     }
                },
                {
                    "breakpoint": 1200,
                    "settings": {
                        "centerPadding": "40px"
                    }
                },
                {
                    "breakpoint": 770,
                    "settings": {
                        "centerPadding": "12px",
                        "autoplay": false
                    }
                },
                {
                    "breakpoint": 375,
                    "settings": {
                        "centerMode": false,
                        "autoplay": false
                    }
                }]
            }'
        }
    } only %}
        {% block slides %}
            {% for slide in data.slides %}
                {% include molecule('jumbotron') with {
                    data: {
                        imageUrl: slide.imageUrl,
                        link: slide.link,
                        cmsBlockName: slide.cmsBlockName,
                        btnTitle: slide.btnTitle
                    }
                } only %}
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}

    <section class="common-section common-section--no-mobile-bottom-indent spacing-top spacing-top--inner spacing-top--big ">
        {{ spyCmsBlock({
            name: 'Featured Products'
        }) }}
    </section>

    <section class="common-section common-section--full-width spacing-top spacing-top--inner spacing-top--big">
        {{ spyCmsBlock({
            name: 'Featured Categories'
        }) }}
    </section>

{% endblock %}

{% block contentBottom %}
    <section class="common-section common-section--bg-dark">
        <div class="container">
            {{ spyCmsBlock({
                name: 'Top Sellers'
            }) }}
        </div>
    </section>

    <section class="common-section common-section--mobile-partly-hidden js-common-section-mobile-partly-hidden">
        <div class="container">
            {{ spyCmsBlock({
                name: 'Teaser for home page'
            }) }}
        </div>

        {% include molecule('toggler-click') with {
            attributes: {
                'target-selector': '.js-common-section-mobile-partly-hidden',
                'trigger-selector': '.js-common-section-mobile-partly-hidden__trigger',
                'class-to-toggle': 'is-full-visible-common-section'
            }
        } only %}

        <div class="common-section__trigger">
            <a href="#" class="button button--hollow button--tight js-common-section-mobile-partly-hidden__trigger">
                {{ 'global.show_more' | trans }}
            </a>
        </div>
    </section>

{% endblock %}
