{% extends view('home', '@SprykerShop:HomePage') %}

{% block contentTop %}
    {% embed molecule('amag-banner', 'HomePage') with {
        data: {
            imageUrl: publicPath('images/homepage-image-1.webp'),
            title: 'banner-title-1' | trans,
            subtitle: 'banner-title-2' | trans,
            buttonText: 'banner-button-text-1' | trans,
            buttonUrl: '#',
        }
    } only %}
        {% block button %}
            <div class="grid grid--gap-smaller grid--middle">
                <div class="col">
                    <a href="{{ data.buttonUrl }}" class="button button--big">{{ data.buttonText }}</a>
                </div>
                <div class="col">
                    <img src="{{ publicPath('images/ai-button.svg') }}">
                </div>
                <div class="col {{ config.name }}__button-subtext">
                    {{ 'banner-button-subtext' | trans }}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block contentWrap %}
    {% include molecule('homepage-content', 'HomePage') only %}
{% endblock %}

{% block contentBottom %}{% endblock %}


