{% extends view('dashboard','@SprykerFeature:SelfServicePortal') %}

{% block customerContent %}
    <div class="ssp-content">
        <h3 class="spacing-bottom">{{ 'amag.smart_hub' | trans }}</h3>

        {{ block('userInfo') }}

        {% block userCompany %}{% endblock %}

        {{ block('information') }}

        <div class="box box--amag text-center spacing-bottom--big">
            <h4>{{ 'new.used.offer' | trans }}</h4>
            <p>{{ 'dream.car.from.amag' | trans }}</p>
            <a href="{{ path('search', {}) }}" class="button button--big">{{ 'find.vehicle' | trans }}</a>
        </div>

        {% if canAccessAssets %}
            {{ block('assets') }}
        {% endif %}

        {{ block('tables') }}
    </div>
{% endblock %}

{% block userTitle %}
    <div data-qa="user-info">
        <strong>
            {{ 'ssp_dashboard.general.welcome' | trans({
                '%name%': data.customer.firstName ~ ' ' ~ data.customer.lastName,
            }) }}
        </strong>
    </div>
{% endblock %}
