{% extends template('page-layout-main') %}

{% define data = {
    message: required,
} %}

{% block contentClass %}page-layout-main page-layout-main--success{% endblock %}

{% block pageInfo %}{% endblock %}

{% block contentWrap %}
    <div class="container container--checkout-success container--expand spacing-x spacing-x--inner spacing-x--reset">
        {% block content %}
            {% embed molecule('banner') with {
                modifiers: ['color-second', 'success'],
                data: {
                    imageUrl: publicPath('images/img-success.jpg'),
                    title: data.title,
                },
                embed: {
                    message: data.message,
                },
            } only %}
                {% import _self as component %}
                {% block content %}
                    {% set title = data.title %}
                    {% set message = embed.message %}

                    <div class="col col--md-10 col--lg-8">
                        {% include atom('icon') with {
                            modifiers: ['success'],
                            data: {
                                name: 'success',
                            },
                        } only %}

                        {% if title %}
                            <h1 class="{{ config.name }}__success-title">{{ title }}</h1>
                        {% endif %}

                        {% if message %}
                            <p class="{{ config.name }}__success-text">{{ message }}</p>
                        {% endif %}
                    </div>
                {% endblock %}

                {% block body %}
                    {% set containerClass = component.renderClass(config.name ~ '__container', modifiers) ~ ' grid grid--middle grid--center' %}
                    {% set contentClass = 'grid grid--center text-center' %}

                    {{ parent() }}
                {% endblock %}
            {% endembed %}
        {% endblock %}

        {% block actions %}
            <div class="container container--checkout">
                <div class="grid grid--gap grid--center">
                    <div class="col col--sm-12 col--lg-auto spacing-bottom">
                        <a href="{{ 'checkout.success.to_orders.url' | trans }}" class="button button--expand button--big">{{ 'checkout.success.to_orders.title' | trans }}</a>
                    </div>
                    <div class="col col--sm-12 col--lg-auto spacing-bottom">
                        <a href="{{ path('home') }}" class="button button--expand button--medium button--hollow">{{ 'checkout.success.back_to_home.title' | trans }}</a>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
