{% extends molecule('card') %}

{% define config = {
    name: 'product-card',
    tag: 'product-card'
} %}

{% define data = {
    name: required,
    abstractId: required,
    url: required,
    imageUrl: required,
    price: required,
    originalPrice: null
} %}

{% block image %}

    {% include atom('thumbnail') with {
        modifiers: ['big'],
        class: 'js-product-color-group__image-' ~ data.abstractId,
        attributes: {
            alt: data.name,
            src: data.imageUrl,
            title: data.name
        }
    } only %}
    <a class="{{config.name}}__overlay" href="{{data.url}}"></a>
{% endblock %}

{% block content %}
    {% block labels %}
        {{ widget('ProductAbstractLabelWidgetPlugin', data.abstractId) }}
    {% endblock %}

    {% block groups %}
        {{ widget('ProductGroupWidgetPlugin', data.abstractId) }}
    {% endblock %}

    {% block name %}
        <strong class="{{config.name}}__title">{{data.name}}</strong>
        <span class="{{config.name}}__category">Office Furniture</span>
    {% endblock %}

    {% block rating %}
        {{ widget('ProductAbstractReviewWidgetPlugin', data.abstractId) }}
    {% endblock %}

    {% block price %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>
                {% include molecule('price') with {
                    data: {
                        amount: data.price | money,
                        originalAmount: data.originalPrice is empty ? null : (data.originalPrice | money)
                    }
                } only %}
            </p>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block actionsContainer %}{% endblock %}
