{% extends molecule('card') %}

{% define config = {
    name: 'product-card',
    tag: 'product-card'
} %}

{% define data = {
    name: required,
    abstractId: required,
    url: required,
    imageUrl: required,
    price: required,
    originalPrice: null,
    hideCategory: null

} %}

{% block image %}
    <div class="{{ component.renderClass(config.name ~ '__image-wrap', modifiers) }}">
        {% include atom('thumbnail') with {
            class: 'js-product-color-group__image-' ~ data.abstractId,
            modifiers: ['catalog'],
            attributes: {
                alt: data.name,
                src: data.imageUrl,
                title: data.name
            }
        } only %}
    </div>
{% endblock %}

{% block content %}
    {% block labels %}
        {{ widget('ProductAbstractLabelWidgetPlugin', data.abstractId) }}
    {% endblock %}

    {% block groups %}
        {{ widget('ProductGroupWidgetPlugin', data.abstractId) }}
    {% endblock %}

    {% block name %}
        <a class="{{ component.renderClass(config.name ~ '__overlay', modifiers) }}" href="{{data.url}}">{{data.name}}</a>

        {% if data.hideCategory is null %}
            <span class="{{ component.renderClass(config.name ~ '__category', modifiers) }}">Office Furniture</span>
        {% endif %}
    {% endblock %}

    {% block rating %}
        {{ widget('ProductAbstractReviewWidgetPlugin', data.abstractId) }}
    {% endblock %}

    {% block price %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="{{ component.renderClass(config.name ~ '__price', modifiers) }}">
                {% include molecule('price') with {
                    modifiers: ['catalog'],
                    data: {
                        amount: data.price | money,
                        originalAmount: data.originalPrice is empty ? null : (data.originalPrice | money)
                    }
                } only %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block actionsContainer %}{% endblock %}
