{% extends model('component') %}

{% define config = {
    name: 'cart-bundle-items',
} %}

{% define data = {
    items: [],
} %}

{% block body %}
    {% if data.items %}
        {% block content %}
            {% block title %}
                <h5 class="{{config.name}}__title">{{ 'cart.item.bundle.description' | trans }}</h5>
            {% endblock %}

            {% block itemsList %}
                <ul class="{{config.name}}__list">
                    {% for item in data.items %}
                        {% block item %}
                            <li class="{{config.name}}__item">
                                {{ item.name }}
                                <span class="{{config.name}}__quantity">x {{ item.quantity }}</span>
                            </li>
                        {% endblock %}
                    {% endfor %}
                </ul>
            {% endblock %}
        {% endblock %}
    {% endif %}
{% endblock %}
