{% extends model('component') %}

{% define config = {
    name: 'footer',
    tag: 'footer'
} %}

{% block body %}

    {% block subscribe %}
        <div class="container {{ config.name }}__subscribe">
            {{ render(path('newsletter/subscribe')) }}
        </div>
    {% endblock %}

    {% block logos %}
        <div class="{{ config.name }}__logos">
            {% block logosInner %}
                {% set categoryPaymentProviders = 'PAYMENT_PROVIDERS' %}

                {% include molecule('navigation-footer-item') with {
                    modifiers: ['footer-logo'],
                    class: 'container',
                    data: {
                        title: 'global.payment_shipping' | trans,
                        category: categoryPaymentProviders,
                        template: 'navigation-providers-payment',
                        toggleClass: config.jsName ~ '-' ~ categoryPaymentProviders,
                    },
                } only %}

                {% include molecule('toggler-accordion') with {
                    attributes: {
                        'wrap-class-name': config.jsName ~ '-' ~ categoryPaymentProviders,
                        'trigger-class-name': config.jsName ~ '-' ~ categoryPaymentProviders ~ '__trigger',
                        'class-to-toggle': 'is-hidden-sm-only',
                    },
                } only %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block navigation %}
        <div class="container">
            <div class="grid grid--gap {{ config.name }}__navigation">
                <div class="col col--sm-12 col--lg-9">
                    {% block navigationInner %}
                        {% include molecule('navigation-footer') with {
                            class: 'grid grid--gap',
                            data: {
                                items: [
                                    {
                                        category: 'FOOTER_NAVIGATION_TOP_CATEGORIES',
                                        title: 'global.top_categories' | trans,
                                    },
                                    {
                                        category: 'FOOTER_NAVIGATION_POPULAR_BRANDS',
                                        title: 'global.popular_brands' | trans,
                                    },
                                    {
                                        category: 'FOOTER_NAVIGATION',
                                        title: 'global.about' | trans,
                                    },
                                ],
                            },
                        } only %}
                    {% endblock %}
                </div>

                <div class="col col--sm-12 col--lg-3 {{ config.name }}__contact-info">
                    <h5 class="title title--footer">{{ 'global.contact_us' | trans }}</h5>

                    {% set phoneNumberTranslation = 'global.phone.number' | trans %}

                    <a class="{{ config.name }}__contact-info-item {{ config.name }}__phone" href="tel:{{ phoneNumberTranslation }}">
                        {% include atom('icon') with {
                            modifiers: ['contact'],
                            data: {
                                name: 'cell-phone',
                            },
                        } only %}
                        {{ phoneNumberTranslation }}
                    </a>

                    {% set emailTranslation = 'global.email.text' | trans %}

                    <a class="{{ config.name }}__contact-info-item" href="mailto:{{ emailTranslation }}">
                        {% include atom('icon') with {
                            modifiers: ['contact'],
                            data: {
                                name: 'email',
                            },
                        } only %}
                        {{ emailTranslation }}
                    </a>
                </div>
            </div>

            {% block social %}
                <div class="grid grid--gap grid--middle {{ config.name }}__social-buttons">
                    <div class="col col--sm-12 col--md-7 col--lg-9">
                        <div class="{{ config.name }}__hint">
                            * {{ 'global.hint' | trans }}
                        </div>
                        <div class="{{ config.name }}__thanks-certeo">
                            {{ 'global.thank_certeo' | trans }}
                        </div>
                    </div>

                    {% block socialLinks %}
                        {% include molecule('navigation-footer-item') with {
                            modifiers: ['social'],
                            class: 'col col--sm-12 col--md-5 col--lg-3',
                            data: {
                                category: 'SOCIAL_LINKS',
                                template: 'navigation-social',
                            },
                        } only %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block copyright %}
        <div class="{{ config.name }}__copyright">
            {% include molecule('copyright-build-with') with {
                class: 'container'
            } only %}
        </div>
    {% endblock %}
{% endblock %}
