{% extends model('component') %}

{% define config = {
    name: 'price',
    tag: 'span'
} %}

{% define data = {
    amount: required,
    originalAmount: null
} %}

{% block body %}
    <span class="{{ component.renderClass(config.name ~ '__amount', modifiers) }} {% if data.originalAmount is not empty -%} {{ config.name}}__amount--alt {%- endif -%}">
        {{data.amount}}
    </span>

    {% if data.originalAmount is not empty -%}
        <span class="{{ component.renderClass(config.name ~ '__amount', modifiers) }} {{config.name}}__amount--original">{{data.originalAmount}}</span>
    {%- endif -%}
{% endblock %}
