{% extends model('component') %}

{% define config = {
    name: 'quick-order-row-partial',
    tag: 'quick-order-row-partial'
} %}

{% define data = {
    product: null,
    quantityField: null,
    customQuantityFieldName: null,
    price: null,
    additionalColumns: [],
    isQuantityAdjusted: false
} %}

{% block body %}
    <div class="grid grid--justify">
        {% if data.additionalColumns is not empty %}
            <div class="col col--sm-3">
                {% for additionalColumn in data.additionalColumns %}
                    <div class="col col--expand spacing-y spacing-x spacing-x--inner spacing-x--bigger">
                        {% block additionalColumn %}
                            {% if data.product and data.product.columns[additionalColumn.dataPath] is defined %}
                                {{ data.product.columns[additionalColumn.dataPath] | trans }}
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="col col--sm-5 spacing-y spacing-x spacing-x--inner spacing-x--bigger">
            <div class="{{ config.name }}__holder-quantity">
                {% block quantity %}
                    {% set options = {
                        required: true,
                        label: false,
                        attr: {
                            class: config.name ~ '__quantity ' ~ config.jsName ~ '__quantity',
                            min: 1,
                            max: null,
                            step: 1,
                            disabled: data.product is empty,
                            value: data.product is empty ? null : data.quantityField.vars.value
                        }
                    } %}

                    {% if (data.customQuantityFieldName) %}
                        {% set options = options|merge({full_name: data.customQuantityFieldName}) %}
                    {% endif %}

                    <button class="{{ config.name }}__button
                                   {% if data.product is empty %}
                                        {{ config.name }}__button--disabled
                                   {% endif %}
                                   {{ config.jsName }}__button-decrement
                                   {{ config.name }}__button--decrement">-</button>

                    {{ form_widget(data.quantityField, options) }}

                    <button class="{{ config.name }}__button
                                   {% if data.product is empty %}
                                       {{ config.name }}__button--disabled
                                   {% endif %}
                                   {{ config.jsName }}__button-increment
                                   {{ config.name }}__button--increment">+</button>
                {% endblock %}
            </div>
        </div>

        <div class="col col--sm-4 col--middle spacing-y spacing-x spacing-x--inner spacing-x--bigger">
            {% block price %}
                {% include molecule('price') with {
                    data: {
                        amount: data.price is empty ? null : data.price | money
                    }
                } only %}
            {% endblock %}
        </div>

        <div class="col col--sm-12 col--md-12">\
            {% if (data.isQuantityAdjusted) %}
                <span class="{{ config.name }}__error {{ config.name }}__error--show">
                    {{ 'quick-order.input-quantity.message.error' | trans }}
                </span>
            {% endif %}
        </div>
    </div>
{% endblock %}
