{% extends model('component') %}

{% define config = {
    name: 'quick-order-row-partial',
    tag: 'quick-order-row-partial'
} %}

{% define data = {
    product: null,
    quantityField: null,
    customQuantityFieldName: null,
    price: null,
    additionalColumns: [],
    messages: null
} %}

{% block body %}
    <div class="grid grid--justify grid--middle">
        {% if data.additionalColumns is not empty %}
            <div class="col col--sm-12 col--md-3">
                {% for additionalColumn in data.additionalColumns %}
                    <div class="col col--expand spacing-x spacing-x--inner spacing-x--bigger">
                        {% block additionalColumn %}
                            {% set isProductColumnsData = data.product and data.product.columns %}
                            {% set additionalColumnsData = isProductColumnsData ? data.product.columns[additionalColumn.dataPath] %}

                            {% if additionalColumnsData %}
                                <span class="is-hidden-md-xxl">{{ additionalColumn.title | trans }}: </span>
                                {{ additionalColumnsData | trans }}
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="col col--sm-6 col--md-5 spacing-y spacing-x spacing-x--inner spacing-x--bigger">
            <div class="{{ config.name }}__holder-quantity">
                {% block quantity %}
                    {% set options = {
                        required: true,
                        label: false,
                        watchExternalChanges: true,
                        componentClass: config.jsName ~ '__formatted',
                        attr: {
                            class: config.name ~ '__quantity ' ~ config.jsName ~ '__quantity',
                            min: 1,
                            max: null,
                            step: 1,
                            disabled: data.product is empty,
                            value: data.product is empty ? null : data.quantityField.vars.value,
                        }
                    } %}

                    {% if (data.customQuantityFieldName) %}
                        {% set options = options|merge({full_name: data.customQuantityFieldName}) %}
                    {% endif %}

                    <button type="button"
                            class="{{ config.name }}__button
                                   {% if data.product is empty %}
                                        {{ config.name }}__button--disabled
                                   {% endif %}
                                   {{ config.jsName }}__button-decrement
                                   {{ config.name }}__button--decrement">-</button>

                    {{ form_widget(data.quantityField, options) }}

                    <button type="button"
                            class="{{ config.name }}__button
                                   {% if data.product is empty %}
                                       {{ config.name }}__button--disabled
                                   {% endif %}
                                   {{ config.jsName }}__button-increment
                                   {{ config.name }}__button--increment">+</button>
                {% endblock %}
            </div>
        </div>

        <div class="col col--sm-4 col--middle spacing-y spacing-x spacing-x--inner spacing-x--bigger">
            {% block price %}
                {% include molecule('money-price') with {
                    data: {
                        amount: data.price is empty ? null : data.price
                    }
                } only %}
            {% endblock %}
        </div>


        {% block errorMessages %}
            {% if data.messages is not empty %}
                <div class="col col--sm-12 spacing-bottom">
                    {% for message in data.messages %}
                        <div class="{{ config.name }}__message {{ config.name }}__message--{{ message.type }} spacing-top">
                            {{ message.value | trans(
                                message.parameters
                            ) }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
