{% extends model('component') %}

{% define config = {
    name: 'product-item-options',
    tag: 'ul',
} %}

{% define data = {
    productItem: {},
    options: [],
} %}

{% set totalPrice = data.productItem.sumSubtotalAggregation | default %}

{% block body %}
    <li class="{{ component.renderClass(config.name ~ '__item', modifiers) }}">
        {% if data.productItem %}
            {% include molecule('product-options', 'ProductOptionWidget') ignore missing with {
                modifiers: ['no-border'],
                data: {
                    options: data.productItem.productOptions | default([]),
                },
            } only %}
        {% else %}
            <ul class="option-display">
                {% for option in data.options %}
                    <li class="option-display__item">
                        {{ option.value | trans }} - {{ (option.sumPrice | default(0)) | money }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
    {% if totalPrice is not empty %}
        <li>
            {% if can('SeePricePermissionPlugin') %}
                <strong class="text-small spacing-left spacing-left--inner spacing-left--big">{{ 'cart.item.item_total' | trans }}</strong>
                <strong class="{{ config.name }}__total-price text-small">{{ totalPrice | money }}</strong>
            {% else %}
                {{ 'customer.access.cannot_see_price' | trans }}
            {% endif %}
        </li>
    {% endif %}
{% endblock %}
