{% extends molecule('banner', '@SprykerShop:ShopUi') %}

{% define config = {
    name: 'banner',
    tag: 'article',
} %}

{% define data = {
    clickUrl: '',
    content: '',
    buttonTitle: '',
} %}

{% set containerClass = config.name ~ '__container grid grid--left grid--middle' %}
{% set contentClass = 'col col--sm-12' %}

{% block content %}
    {{ data.content | raw }}

    {% set clickUrl = data.clickUrl %}
    {% if clickUrl %}
        <a href="{{ clickUrl | trans }}" class="button button--medium button--tight button--hollow button--hollow-second">
            {{ (data.buttonTitle ?: 'show_more.btn.title') | trans }}
        </a>
    {% endif %}
{% endblock %}

{% block body %}
    {% embed molecule('lazy-image') with {
        class: containerClass,
        modifiers: modifiers,
        data: {
            imageSrc: data.imageUrl,
            isBackground: true,
        },
        embed: {
            contentClass: contentClass,
            contentBlock: block('content'),
        },
    } only %}
        {% block content %}
            {{ parent() }}

            <div class="{{ config.name }}__content {{ embed.contentClass }}">
                {{ embed.contentBlock | raw }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
