{% extends model('component') %}

{% define config = {
    name: 'cart-item',
    tag: 'article'
} %}

{% define data = {
    cart: required,
    cartItem: required,
    attributes: required
} %}

{% set canEditCart = (not is_granted('IS_AUTHENTICATED_FULLY') or can('WriteSharedCartPermissionPlugin', data.cart.idQuote)) %}
{% set cartItemSubTotal = data.cartItem.quantity * data.cartItem.unitPrice %}

{% block body %}
    <div class="grid grid--stretch grid--gap">
        <div class="{{ config.name }}__col {{ config.name }}__col--middle {{ config.name }}__col--image col col--sm-12 col--lg-3">
            {% include molecule('cart-image', 'CartPage') with {
                data: {
                    name: data.cartItem.name | default(''),
                    image: data.cartItem.images is empty ? null : (data.cartItem.images | first)
                }
            } only %}
        </div>

        <div class="{{ config.name }}__col {{ config.name }}__col--content col col--sm-12 col--lg-6">
            <h6 class="{{ config.name }}__title">{{ data.cartItem.name }}</h6>

            <small class="text-secondary">
                {{ 'cart.item.sku' | trans }}
                {{ data.cartItem.sku }}
            </small>

            {% if data.attributes is not empty %}
                {% include molecule('cart-item-variant-selector', 'CartPage') with {
                    data: {
                        cartItem: data.cartItem,
                        cartItemAttributes: data.attributes
                    }
                } only %}
            {% endif %}

            {{ widget('ProductBundleItemsWidgetPlugin', data.cartItem, data.cart) }}

            {{ widget('CartNoteQuoteItemWidgetPlugin', data.cartItem, data.cart) }}

        </div>

        <div class="{{ config.name }}__col {{ config.name }}__col--total col col--sm-12 col--lg-3">
            <div class="{{ config.name }}__inner--total grid grid--column grid--justify-column">
                <div class="col">

                    {{ cartItemSubTotal | money }}

                    {{ widget('CartProductPackagingUnitWidgetPlugin', data.cartItem) }}

                    {% if data.cartItem.amountSalesUnit is empty %}
                        {% if canEditCart %}
                            {% if widgetExists('QuantitySalesUnitWidgetPlugin') %}
                                {{ widget('QuantitySalesUnitWidgetPlugin', data.cartItem) }}
                            {% else %}
                                {% include molecule('cart-quantity-input', 'CartPage') with {
                                    data: {
                                        cartItem: data.cartItem
                                    }
                                } only %}
                            {% endif %}
                        {% else %}
                            {{ 'cart.item_quantity' | trans }}
                            <strong>{{ cartItem.quantity }}</strong>
                        {% endif %}
                    {% endif %}
                </div>

                {% if canEditCart %}
                    <div class="col">
                        <a class="float-right" href="{{ path('cart/remove', {'sku': data.cartItem.sku, 'groupKey': data.cartItem.groupKey }) }}">
                            &times; {{ 'remove' | trans }}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
