{% extends model('component') %}

{% define config = {
    name: 'agent-control-bar',
    tag: 'agent-control-bar',
} %}

{% define data = {
    agent: required,
    customer: {},
} %}

{% block body %}
    <div class="{{ config.name }}__header">
        <div class="container">
            <div class="grid grid--middle grid--gap {{ config.name }}__container">
                <div class="col col--sm-12 col--md-9">
                    <div class="grid grid--middle">
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <div class="col">
                                {% include molecule('agent-control-item', 'AgentWidget') with {
                                    class: 'grid grid--gap grid--inline grid--middle',
                                    data: {
                                        title: 'agent.control_bar.customer_name' | trans,
                                        buttonLink: '/?_switch_user=_exit',
                                        buttonName: 'agent.control_bar.logout_as_customer' | trans,
                                        firstName: data.customer.firstName,
                                        lastName: data.customer.lastName,
                                    },
                                } only %}
                            </div>
                        {% else %}
                            <form class="col col--sm-12 col--lg-8" method="GET" action="/">
                                <div class="grid grid--gap grid--middle spacing-bottom">
                                    <div class="col col--sm-7 col--xl-8 col--xxl-9">
                                        {% include molecule('autocomplete-form') with {
                                            modifiers: ['overlap'],
                                            attributes: {
                                                'suggestion-url': path('agent-widget/customer-autocomplete'),
                                                'selected-value-key': '_switch_user',
                                                'item-class-name': 'js-customer-list__container-item',
                                                'show-clean-button': true,
                                            },
                                        } only %}
                                    </div>

                                    <div class="col col--sm-5 col--xl-4 col--xxl-3">
                                        <button type="submit" class="button button--success button--expand button--big">
                                            {{ 'agent.confirm_user_selection' | trans }}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                        <div class="col">
                            {% widget 'QuoteRequestAgentOverviewWidget' only %}
                                {% block activeRequestActions %}{% endblock %}
                                {% block activeRequest %}{% endblock %}
                            {% endwidget %}
                        </div>
                    </div>
                </div>
                <div class="col col--sm-12 col--md-3 text-right">
                    {% include molecule('agent-control-item', 'AgentWidget') with {
                        class: 'grid grid--gap grid--inline grid--middle',
                        data: {
                            title: 'agent.control_bar.username' | trans,
                            buttonLink: path('agent_logout'),
                            buttonName: 'agent.control_bar.logout' | trans,
                            firstName: data.agent.firstName,
                            lastName: data.agent.lastName,
                        },
                    } only %}
                </div>
            </div>
        </div>
    </div>
    <div class="{{ config.name }}__footer">
        {% widget 'QuoteRequestAgentOverviewWidget' only %}
            {% block requestList %}{% endblock %}
            {% block activeRequest %}
                <div class="container">
                    {{ parent() }}
                </div>
            {% endblock %}
        {% endwidget %}
    </div>
{% endblock %}
