{% extends model('component') %}

{% define config = {
    name: 'agent-control-bar',
    tag: 'agent-control-bar',
} %}

{% define data = {
    agent: required,
    customer: {},
    locale: app.locale | slice(0, 2),
} %}

{% set isAgentControl = is_granted('ROLE_PREVIOUS_ADMIN') %}
{% set customerSectionClassNames = config.name ~ '__customer ' ~ (not isAgentControl ? config.name ~ '__customer--search') %}
{% set agentSectionClassNames = config.name ~ '__agent ' ~ (not isAgentControl ? config.name ~ '__agent--search')  %}
{% set customerTitle = 'agent.control_bar.customer_name' | trans %}

{% block body %}
    <div class="{{ config.name }}__header">
        <div class="container">
            <div class="{{ config.name }}__content">
                <div class="{{ customerSectionClassNames }} {{ config.name }}__col">
                    {% if isAgentControl %}
                        {% include molecule('agent-control-item', 'AgentWidget') with {
                            data: {
                                title: customerTitle,
                                buttonLink: '/' ~ data.locale ~ '?_switch_user=_exit',
                                buttonTitle: 'agent.control_bar.logout_as_customer' | trans,
                                firstName: data.customer.firstName,
                                lastName: data.customer.lastName,
                                type: 'customer',
                            },
                        } only %}
                    {% else %}
                        <div class="{{ config.name }}__title">{{ customerTitle }}</div>
                        <form method="GET" action="/{{ data.locale }}">
                            <div class="grid grid--middle grid--nowrap">
                                <div class="col col--expand">
                                    {% include molecule('autocomplete-form') with {
                                        modifiers: ['overlap', 'small'],
                                        attributes: {
                                            'suggestion-url': path('agent-widget/customer-autocomplete'),
                                            'selected-value-key': '_switch_user',
                                            'item-class-name': 'js-customer-list__container-item',
                                            'show-clean-button': true,
                                        },
                                    } only %}
                                </div>
                                <div class="col">
                                    <button class="button button--success button--expand">
                                        {{ 'agent.confirm_user_selection' | trans }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>

                {% widget 'QuoteRequestAgentOverviewWidget' with {
                    embed: {
                        parentClassName: config.name,
                    }
                } only %}
                    {% block requestList %}
                        <div class="{{ embed.parentClassName }}__col {{ embed.parentClassName }}__quote-request">
                            {{ parent() }}
                        </div>
                    {% endblock %}

                    {% block activeRequest %}{% endblock %}
                {% endwidget %}

                <div class="{{ agentSectionClassNames }} {{ config.name }}__col">
                    {% include molecule('agent-control-item', 'AgentWidget') with {
                        data: {
                            firstName: data.agent.firstName,
                            lastName: data.agent.lastName,
                        },
                    } only %}
                </div>
            </div>
        </div>
    </div>
    <div class="{{ config.name }}__footer">
        {% widget 'QuoteRequestAgentOverviewWidget' only %}
            {% block requestList %}{% endblock %}

            {% block activeRequest %}
                <div class="container">
                    {{ parent() }}
                </div>
            {% endblock %}
        {% endwidget %}
    </div>
{% endblock %}
